---
layout: post
title: 
date: '2004-11-11T01:39:00.000-05:00'
author: Darian Hickman
tags: 
modified_time: '2006-11-08T20:35:48.643-05:00'
blogger_id: tag:blogger.com,1999:blog-6308830.post-110015518085512389
blogger_orig_url: http://www.darianhickman.com/2004/11/heres-after-boot-camp-picture.html
---

<a href='http://www.darianhickman.com/hello/56/2319/640/747748-R1-00A.jpg'><img border='0' style='border:1px solid #000000; margin:2px' src='http://www.darianhickman.com/hello/56/2319/320/747748-R1-00A.jpg'></a><br />Here's an after boot camp picture. (August 2003)  I didn't change much except I could eat a lot more.&nbsp;<a href='http://www.hello.com/' target='ext'><img src='http://photos1.blogger.com/pbh.gif' alt='Posted by Hello' border='0' style='border:0px;padding:0px;background:transparent;' align='absmiddle'></a>