---
layout: post
title: Putting Google text ads on my site has lead to a lot of cool stuff.
date: '2004-11-29T00:30:00.000-05:00'
author: Darian Hickman
tags: 
modified_time: '2006-11-08T20:35:49.330-05:00'
blogger_id: tag:blogger.com,1999:blog-6308830.post-110170620794514553
blogger_orig_url: http://www.darianhickman.com/2004/11/putting-google-text-ads-on-my-site-has.html
---

I' ve been putting google ads on all my pages including the poetry and<br />essays I wrote in high school and college, and the most awesome links<br />are coming up.   I just found this morning an ad for a site where<br />religious organizations can host their video streams online.<br />And I found sites who perform all kinds of IT services for nonprofits.<br /> Click the <a href="http://www.darianhickman.com/browse_my_folders/">Browse<br />My Folders</a> link to find them.<br /><br />Also <a href="http://www.darianhickman.com/browse_my_folders/about_me/resume/resume.html">contact<br />me </a> if you're interested in learning how to set up your own<br />website.  I am going to be putting  together a class pretty soon on<br />all the basics: html, css, and javascript.<br />