---
layout: post
title: 
date: '2004-01-15T22:37:00.000-05:00'
author: Darian Hickman
tags: 
modified_time: '2006-11-08T20:35:46.364-05:00'
blogger_id: tag:blogger.com,1999:blog-6308830.post-107422427115362280
blogger_orig_url: http://www.darianhickman.com/2004/01/id-rather-live-in-world-ruled-by.html
---

<b> I'd rather live in world ruled by violence than a world ruled by Muslims</b>
<br />A lot of people in the world think that world peace is the ultimate ideal, and I used to be one of them.  For a while I thought I had become one of many people who have grown up and had their ideals beaten out of them by reality.  But now I realize I'm still idealistic and that I have new ideals.  I'm a little more well-informed especially after studying Carl Sagan's Shadows of Forgotten Ancestor's and the Bible.  After reading A Case for Faith, by Lee Strobel, I understand the dilemma of free will a lot better.  For those of you who want a really entertaining explanation of free will watch Bruce Almighty.  
<br />
<br />Back to my bold statement: Why I'm picking on Muslims.  The most famous group of Muslims now is Al Queda.   The most famous muslim now is Osama bin Laden the leader of Al Queda.  The mission of his group is to promote Muslim governments.  Note, the key distinction between Muslim governments and nations with lots of Muslims in them.  In Muslim governments there is no concept of religious freedom, or separation of church and state.  Nations with lots of muslims in them are just that.  Iraq was not a Muslim government when it was ruled by Saddam Hussein.  Likewise Indonesia has a predominantly Muslim population but not a Muslim government.  Saudi Arabia is a Muslim government.  When American GI's were sent to the east sands of the "Holy Land" in support of Desert Shield, the Saudi Arabian government forbade the US troops to bring Bibles with them.  That's a simple example of no relgious freedom.  
<br />
<br />Religious freedom matters.  Free will matters.  If killing members of Al Queda in a violent fashion is what it takes to ensure the religious freedom of my family and friends then so be it.
<br />
<br />My new wiser, better informed, Bible supported, time tested ideal is free will.  Free will pretty much ensures no World Peace, because in a world with choice, there will be lots of people who choose wrong, who choose convenient lies instead of humbling truthes, who choose ignorance and fear over giving up their self-importance.  
<br />
<br />Good bye World Peace.  God Bless Free Will.