---
layout: post
title: video games are a great focusing tool.
date: '2004-11-19T01:56:00.000-05:00'
author: Darian Hickman
tags: 
modified_time: '2006-11-08T20:35:49.112-05:00'
blogger_id: tag:blogger.com,1999:blog-6308830.post-110084740832610136
blogger_orig_url: http://www.darianhickman.com/2004/11/video-games-are-great-focusing-tool.html
---

I just got done playing Halo with my friend Craig and I now have all<br />this intense focus to get things done, which is why I'm still writing<br />emails and blogging at 2 in the morning.  Why do video games help me<br />focus?  Any of you Cog Sci/Neuroscience/Psych majors got a good<br />explanation?<br />-- <br />Darian Hickman<br />http://www.darianhickman.com<br />(703) 201-0524<br />