---
layout: post
title: 
date: '2004-01-26T16:26:00.000-05:00'
author: Darian Hickman
tags: 
modified_time: '2006-11-08T20:35:46.789-05:00'
blogger_id: tag:blogger.com,1999:blog-6308830.post-107515236488648276
blogger_orig_url: http://www.darianhickman.com/2004/01/changemakers.html
---

<a href="http://skoll.socialedge.org/Discussions/Events/bsv/?14@4.d30JaGtha1x.12606@!partner=ashoka">ChangeMakers.net is an awesome site for Social Entreprenuers</a>
<br />I want to recruit other social entreprenuers to help me design a business model.  Here are my design goals:
<br /><table border="0" cellspacing="0"><tr><th>Goal</th><th>Why</th></tr>
<br /><tr><td>The business should be owned by a broad base of people.</td><td>Having a broad base of shareholders means making capitalism accessible to more people.  Thus it creates a chance for more people to build wealth and leave poverty behind.  Also the voting power of the shareholders will be distributed which inclines the owners to vote in favor of policies that benefit their community since they are the community.</td></tr>
<br /><tr><td>People should earn money from the corporation based on how much they bring in.</td><td>This motivates people to bring money into the corporation and makes the corporation self-sustaining.</td></tr>
<br /><tr><td>The success of the corporation should grow based on how well it is serving it customers and its shareholders.</td><td>This keeps the corporation in line with its ultimate purpose of serving people.</td></tr>
<br /><tr><td>All owners should have a vote proportional to the money and resources they are bringing into the corporation</td><td>Distribution of voting power is one more way of keeping the corporation responsive to the demands of the community.</td></tr>
<br /><tr><td>The corporation should provide a wide variety of products and services in multiple industries</td><td>Having a wide variety of products and services in multiple industries mitigates risk from any one industry going bankrupt like the telecom industry did at the beginning of the millenia.</td></tr>
<br /></table>
<br />If you're interested in helping me design and research this business.  Get in touch with me: darian at darianhickman.com or Cell: 703.628.3102
<br />