---
layout: post
title: 'Lesson Learned: Don''t bother with online courses'
date: '2004-11-14T18:27:00.000-05:00'
author: Darian Hickman
tags: 
modified_time: '2006-11-08T20:35:48.823-05:00'
blogger_id: tag:blogger.com,1999:blog-6308830.post-110047486405452606
blogger_orig_url: http://www.darianhickman.com/2004/11/lesson-learned-dont-bother-with-online.html
---

Note to Self: Most of the value in going to school is forming<br />relationships with other students and professors.  Online classes<br />piled on top of your already busy schedule just doesn't cut it.<br /><br /><br />---------- Forwarded message ----------<br />From: skippar@regent.edu <skippar@regent.edu><br />Date: Sun, 14 Nov 2004 08:37:38 -0500 (EST)<br />Subject: Dear New Testament Students:<br />To: skippar@regent.edu<br /><br /><br />Well our course is over. Thank you for participating. I have enjoyed<br />reading your posts and interacting with you online, and I hope you<br />have gained something from our studies that will help you on your way<br />in the never-ending journey further into the deep things of God.<br /><br />I was a little concerned this morning when I looked at the exams and<br />discussion boards and saw so much undone work. Please note that my<br />recent ï¿½amnestyï¿½ announcement said, "Just make sure you have all your<br />exams completed by the scheduled end-of-course date." According to the<br />Assignments sheet that was November 13. Unless some prior arrangement<br />has been made with me, you should be finished.<br /><br />So please finish ALL your work, if you have not already done so. Iï¿½ll<br />give it another 48 hours (for those without prior agreements for<br />extensions). After that time, there will be a penalty for late work. I<br />must turn the grades in soon (three NT classes worth) and there are<br />many, many grades to calculate.<br /><br />Thank you, and have a blessed Sunday<br /><br />SHP<br /><br /><br /><br />-- <br />Darian Hickman<br />http://www.darianhickman.com<br />(703) 201-0524<br />