---
layout: post
title: I woke up with the words subway strategy stuck in my head.
date: '2004-11-24T11:35:00.000-05:00'
author: Darian Hickman
tags: 
modified_time: '2006-11-08T20:35:49.262-05:00'
blogger_id: tag:blogger.com,1999:blog-6308830.post-110131415861920601
blogger_orig_url: http://www.darianhickman.com/2004/11/i-woke-up-with-words-subway-strategy.html
---

So I googled subway strategy and found these links at the top. First<br />is about a 19-year-old kid  who campaigned for NY city council by<br />riding the subways all day to talk to commuters.  Just what I needed,<br />another article to make me feel like a slacker. =)<br /><a href="http://www.gothamgazette.com/searchlight2001/tail1.html">http://www.gothamgazette.com/searchlight2001/tail1.html</a><br /><br />The second article is Subway's franchise site.  I had no idea they<br />were the second largest fast-food chain in the world.  Maybe that's<br />the franchise I should start!<br /><a href="http://www.subway.com/subwayroot/AboutSubway/subwayPressKit.aspx">http://www.subway.com/subwayroot/AboutSubway/subwayPressKit.aspx</a><br />-- <br />Darian Hickman<br />http://www.darianhickman.com<br />(703) 201-0524<br />