---
layout: post
title: 
date: '2004-11-11T01:34:00.000-05:00'
author: Darian Hickman
tags: 
modified_time: '2006-11-08T20:35:48.545-05:00'
blogger_id: tag:blogger.com,1999:blog-6308830.post-110015485747068783
blogger_orig_url: http://www.darianhickman.com/2004/11/heres-something-i-drew-in-most.html
---

<a href="http://www.darianhickman.com/hello/56/2319/640/scan.jpg"><img style="border: 1px solid rgb(0, 0, 0); margin: 2px;" src="http://www.darianhickman.com/hello/56/2319/320/scan.jpg" border="0" /></a>
<br />Here's something I drew in the most stressed out period of my life, sophomore year of college, Fall 1998.<a href="http://www.hello.com/" target="ext"><img src="http://photos1.blogger.com/pbh.gif" alt="Posted by Hello" style="border: 0px none ; padding: 0px; background: transparent none repeat scroll 0% 50%; -moz-background-clip: initial; -moz-background-origin: initial; -moz-background-inline-policy: initial;" align="middle" border="0" /></a>