---
layout: post
title: I'm looking for two housemates to share my 3bd/2ba condo with.
date: '2004-11-15T02:19:00.000-05:00'
author: Darian Hickman
tags: 
modified_time: '2006-11-08T20:35:48.894-05:00'
blogger_id: tag:blogger.com,1999:blog-6308830.post-110050315766781730
blogger_orig_url: http://www.darianhickman.com/2004/11/im-looking-for-two-housemates-to-share.html
---

If you know anyone who's looking for a place in Reston, send them this link:
<br /><a href="http://www.darianhickman.com/browse_my_folders/Rent_my_Rooms.htm">http://www.darianhickman.com/browse_my_folders/Rent_my_Rooms.htm</a>
<br />--
<br />Darian Hickman
<br />http://www.darianhickman.com
<br />(703) 201-0524
<br />