---
layout: post
title: getting a website and learning the basics of webhosting
date: '2004-12-18T17:50:00.000-05:00'
author: Darian Hickman
tags: 
modified_time: '2006-11-08T20:35:49.552-05:00'
blogger_id: tag:blogger.com,1999:blog-6308830.post-110341021202709330
blogger_orig_url: http://www.darianhickman.com/2004/12/getting-website-and-learning-basics-of.html
---

Howdy y'all,<br />Some of you probably already know but I'm putting together a web<br />development class for January.  I am also asking friends and family if<br />they want help setting up their own site ... for sharing articles,<br />photos, sharing your testimony, or promoting your business.  I am<br />recommending my webhoster http://www.pdinc.us.  He already hosts a<br />bunch of different sites for some friends and family, so I know he<br />does a good job.  I use his $65/year package myself <br />http://ww.darianhickman.com.<br /><br />Let me know if you're interested in getting a website or learning<br />about web development.  Also, please take my html quiz if you're<br />interested in taking a class in January:<br /><a href="http://www.darianhickman.com/browse_my_folders/projects/web_class/htmlquiz.htm"><br />http://www.darianhickman.com/browse_my_folders/projects/web_class/htmlquiz.htm</a><br />