---
layout: post
title: My Goals for 2005
date: '2005-01-03T11:43:00.000-05:00'
author: Darian Hickman
tags: 
modified_time: '2006-11-08T20:35:49.639-05:00'
blogger_id: tag:blogger.com,1999:blog-6308830.post-110477058666819528
blogger_orig_url: http://www.darianhickman.com/2005/01/my-goals-for-2005.html
---

Continue building quality relationships with my Christian brothers and<br />with family and coworkers.<br />Establish $4200/mth passive income.<br />Serve on the drama team.<br />Go through leadership training with CrossCurrent.<br />Serve the mens group: evangelize, invite more guys to the group.<br />Share investment opportunities with those who are interested.<br />Explore what ministries I want to do long term.<br />Spend more time in prayer and finding out what God's will is for me.<br />