---
layout: post
title: The YWAM VA Experience
date: '2005-11-13T20:59:00.000-05:00'
author: Darian Hickman
tags: 
modified_time: '2006-11-08T20:35:54.798-05:00'
blogger_id: tag:blogger.com,1999:blog-6308830.post-113193358433081678
blogger_orig_url: http://www.darianhickman.com/2005/11/ywam-va-experience.html
---

Before Che Guevara hooked up with Fidel Castro to start the revolution in Cuba, he used his training in medicine as a ticket to travel all over Latin America offering help wherever he went and build relationships across the continent. I am finding out my ticket to travel the world and serve is computers.<br /><br /><a onblur="try {parent.deselectBloggerImageGracefully();} catch(e) {}" href="http://www.darianhickman.com/uploaded_images/kaymomike-787899.gif"><img style="margin: 0pt 10px 10px 0pt; float: left; cursor: pointer;" src="http://www.darianhickman.com/uploaded_images/kaymomike-783019.gif" alt="" border="0" /></a>Serving YWAM VA as resident computer geek has been an awesome excuse to build relationships with YWAM missionaries, and learn more about what God is putting on people's hearts to do for His kingdom. Several ywamer's here ( <a href="http://monicaridley.blogspot.com/">Monica</a>, Kay, and Mike) are answering the call to mend a very damaged relationship between Jews and Christians. After a couple millenia of organized Christianity committing atrocities against the Jewish people there is now a new flood of Jews discovering Jesus. Christians are finally treating Jews in a Christ-like manner and they are responding by embracing Jesus as their Messiah. The <a href="http://www.jewishworldoffice.org/">Jewish World Office</a> Ywamers here are pretty excited to see the number of Messianic synagogues go from a mere handful across the globe just a few decades ago to a countless number today. And coincidentally the Jewish World Office here is planting a school in Sao Paulo next year. I haven't prayed about it yet but it would be cool to use the network of people I'm building in Brazil to help reach out to the Jews in Sao Paulo.<br /><br />This past Friday I gave a class for the YWAM staff on migrating to GMail. It was so cool to show people how to communicate online and enjoy the Internet at a whole new level. Freeing people from bondage to AOL is a good feeling. =)<br /><br />This morning I finally a got a chance to do some intercessory prayer for Brazil with the Brazilian prayer warriors. Very cool!! I'm still not sure what God wants me to do in Brazil. All He's told me so far is help YWAM missionaries, focus on relationships and teach. Teach what, I'm not sure. Build relationships with who, I don't know either, and which YWAM missionaries, that's what I'll be exploring in Brazil. If I packaged everything together on my own volition, I'd be acting in/directing educational videos to promote the various schools of YWAM Brazil.<br /><br />We shall see...  =)