---
layout: post
title: I'm in Richmond now volunteering with YWAM Virginia.
date: '2005-10-12T20:17:00.000-05:00'
author: Darian Hickman
tags: 
modified_time: '2006-11-08T20:35:54.476-05:00'
blogger_id: tag:blogger.com,1999:blog-6308830.post-112916623974609545
blogger_orig_url: http://www.darianhickman.com/2005/10/im-in-richmond-now-volunteering-with.html
---

It's pretty cool so far.&nbsp; It's very Virginia'ish compared to YWAM Orlando. Homes are old and surrounded by ivy and oak trees.&nbsp; The people I've met so far are a lot more low key than the crazy people I met in Orlando.&nbsp; Tons of Brazilians here but there's a lot of them that aren't allowed to speak Portuguese because they are here to learn English.&nbsp; They already got me fixing the website and trying to bring hope to their Windows 98 PC's.&nbsp; I didn't convert anyone to Christ today but I did convert one guy to GMail.<br> <br> Come visit me if you're in the Richmond area.&nbsp; You'll probably find me at 1500 Carlisle Ave, Richmond VA or at a church that serves as the base.&nbsp; Give me a call to figure out where I actually am.<br> <br> Oh yeah ... a little good news, papers I needed from Brazil arrived yesterday.&nbsp; That's all for now.&nbsp; Come visit me if you're in the area or need an excuse to use frequent flyer miles.&nbsp; <br> <br> May God bless your life with peace and meaningful warfare...<br clear="all"><br>  