---
layout: post
title: Making progress with visa and Portuguese
date: '2005-09-28T17:23:00.000-05:00'
author: Darian Hickman
tags: 
modified_time: '2006-11-08T20:35:54.178-05:00'
blogger_id: tag:blogger.com,1999:blog-6308830.post-112794727938892767
blogger_orig_url: http://www.darianhickman.com/2005/09/making-progress-with-visa-and.html
---

<a href="http://www.jdoqocy.com/3k116iqzwqyDFLFKHLMDFEHLNGGL" target="_blank" onmouseover="window.status='http://www.rosettastone.com';return true;" onmouseout="window.status=' ';return true;"><br /><img src="http://www.afcyhf.com/mk121c37w1-LNTNSPTULNMPTVOOT" alt="Rosetta Stone Language Software" align="left" border="0" /></a> Rosetta Stone is some software for learning Portuguese! I'm 5 units away from finishing all the writing comprehension. It's definitely helped me correspond via email with people down in Brazil. Speaking of which, I had an absolutely awesome conversation over dinner with Beto Tavares this past Saturday. He leads a <a href="http://www.viladolouvor.org/">YWAM base in Piratininga, Brazil.</a><br /><br />He and his wife will be helping me get a year long visa to Brazil. Pray that the lawyer helping with the paperwork and the Brazilian embassy will move quickly on this. Beto just happened to be in Wheaton, MD this weekend so I went to go visit him Saturday night. FYI, Brazilians are some of the most hospitable people I have ever met. We had dinner together at Eleda and Ken's. Ken is American, his wife Eleda is Brazilian. They prepared us a meal just beautiful to look at much less eat! This couple was professional hospitality. Beto, Tiago (Beto's friend local to Wheaton) and I yammered on about our philosophies of ministry and the church in Brazil. And to top it off Ken just happened to be working on some equations for managing communication between hi-speed satellites. I got to talk about Special Relativity and Jesus all in the same night over an absolutely fantastic meal. What a rejuvenating encounter!