---
layout: post
title: do you ever feel shutting down and starting from scratch?
date: '2005-03-21T15:59:00.000-05:00'
author: Darian Hickman
tags: 
modified_time: '2006-11-08T20:35:50.066-05:00'
blogger_id: tag:blogger.com,1999:blog-6308830.post-111143876208835331
blogger_orig_url: http://www.darianhickman.com/2005/03/do-you-ever-feel-shutting-down-and.html
---

<p class="mobile-post">I want to move to Brazil and fabricate some kind of reality that<br />doesn't depress me doesn't bore me to tears and subject me to months<br />of pointlessness punctuated by a few faint glimmers of hope.  God<br />where did I go wrong?  How I did I allow things to get so bland? Why<br />can't I break free from the monotony of adulthood?<br />-- <br />Darian Hickman<br />http://www.darianhickman.com<br />cell: (703) 201-0524<br />work: (703) 742-7660 x238</p>