---
layout: post
title: Prayers Answered
date: '2005-06-10T12:23:00.000-05:00'
author: Darian Hickman
tags: 
modified_time: '2006-11-08T20:35:52.443-05:00'
blogger_id: tag:blogger.com,1999:blog-6308830.post-111842420730009340
blogger_orig_url: http://www.darianhickman.com/2005/06/prayers-answered.html
---

I'm in Orlando, serving with YWAM and I wanted to take this time to share all the prayers that have been answered.<br>  I prayed to live in a micro-community of missionary minded Christians and that has definitely been answered.&nbsp; This form of communal living is exactly how it should be.&nbsp; One community, one mission: it's the way to live!&nbsp; I got the top bunk in my room and a cool roommate from New York named Ryan.&nbsp; I have no real privacy and I don't miss it at all. =)&nbsp; Living life with a Christian team is awesome.&nbsp; Living with people who understand the need for quiet time with the Bible is awesome.<br>  <br>  Also I prayed for God to deliver me from the thorns, to deliver me from the distractions dragging me down in my former life and so far that has been abundantly answered.&nbsp; I have no desire to spend time on TV, video games, movies, or reading news sites.&nbsp; I spend my entire day focused on my purpose and it totally rocks! Did I mention that I don't have to drive a car either.&nbsp; Two weeks in Florida and no speeding tickets. Woohoo!&nbsp; Also, it's been so easy to take 90 minutes a day for prayer and reading the Bible.&nbsp; Consequently, it's been so much easier to take captive of every thought and make it edifying to mission at hand.<br>  <br>  This lifestyle rocks!&nbsp; I am really impressed with how efficient YWAM is with keeping us fed and sheltered.<br>  My base fee of $400.00 covers all my food and lodging for 2.5 months.<br>  <br>  And praise God for the support I've received so far: $350.00.&nbsp; People gave even though it wasn't tax deductible. And even more good news: Now you can write a check to YWAM Orlando on my behalf for up to $400.00 and it will be tax-deductible! I talked to their accounting guru about this and he said it was totally legit.&nbsp; Don't know why there was an issue before-hand.<br>  <br>  Lastly, I was complaining to God this past Sunday about how we were so busy with training that I spent my first week as a full-time missionary without sharing Christ.&nbsp; Then God delivered.&nbsp; While sitting in the local park doing some quiet time, I met a teenager named Travis and I gave him my copy of the Livin'IT DVD that Stephen Baldwin is producing. One of Travis's friends came trying to recruit him for a skateboarding competition which is the exact audience that the Livin' It DVD targets. It's so cool to see God in action. <br>  