---
layout: post
title: Watch "Ashoka's Global Academy presents The Social Entrepreneurship Series"
  on Google Video
date: '2005-12-08T12:14:00.000-05:00'
author: Darian Hickman
tags: 
modified_time: '2006-11-08T20:35:55.210-05:00'
blogger_id: tag:blogger.com,1999:blog-6308830.post-113406205006301813
blogger_orig_url: http://www.darianhickman.com/2005/12/watch-ashokas-global-academy-presents.html
---

Click to watch: <b><span style="font-size:78%;"><a href="http://video.google.com/videoplay?docid=1741133927790016746&q=ashoka&amp;pr=goog-sl">Ashoka's Global Academy presents The Social Entrepreneurship Series</a></span></b><p> Description: Ashoka's Global Academy presents a DVD Series sharing the insights and strategies of the world’s most inspiring and influential social entrepreneurs. Social Entrepreneurs are transforming the lives of millions. In this series, some of the world's greatest social entrepreneurs share their inspiring stories and strategies-in their own words. These social entrepreneurs explain how they have built global organizations and movements with unstoppable momentum. They demonstrate how a new kind of commerce can expand the frontiers of companies and citizen organizations, while allowing poor people to access the opportunities of the global market. These visionaries are blurring the lines between business and society to strengthen both. They are finding creative solutions to society's toughest problems: poverty, corruption, and instability. Meet these remarkable leaders as they offer practical wisdon garnered from lifetimes of innovation. For more information visit Ashoka: Innovators for the Public at www.ashoka.org or The Global Academy of Social Entrepreneurs at dvd.ashoka.org</p><p> Want to see more cool videos? Go to <a href="http://video.google.com/">video.google.com</a><br />Think you have an even cooler video? Add it at <a href="https://upload.video.google.com/">upload.video.google.com</a></p>