---
layout: post
title: Americas Secret War
date: '2005-03-13T15:40:00.000-05:00'
author: Darian Hickman
tags: 
modified_time: '2006-11-08T20:35:49.901-05:00'
blogger_id: tag:blogger.com,1999:blog-6308830.post-111074644210956246
blogger_orig_url: http://www.darianhickman.com/2005/03/americas-secret-war.html
---

<p class="mobile-post">This is good book recommended by my company commander that expounds<br />the multidimensional reason America went into Iraq.<br />http://www.americassecretwar.com/about_book_overview.html<br />-- <br />Darian Hickman<br />http://www.darianhickman.com<br />cell: (703) 201-0524<br />work: (703) 742-7660 x238</p>