---
layout: post
title: Goofing off and getting ready for Brazil.
date: '2005-09-14T16:00:00.000-05:00'
author: Darian Hickman
tags: 
modified_time: '2006-11-08T20:35:53.988-05:00'
blogger_id: tag:blogger.com,1999:blog-6308830.post-112673787975157738
blogger_orig_url: http://www.darianhickman.com/2005/09/goofing-off-and-getting-ready-for.html
---

You haven't heard much from me these past couple of weeks because not much has happened. That's good and bad. I had a great time hanging out with friends from Hopkins and Baltimore two weeks ago. I love Baltimore! It has everything right next to each other: poverty, wealth, bright people, stupid people, artists, engineers, and<a href="http://www.darianhickman.com/browse_my_folders/pictures/Goofing%20off%20with%20Friends%20and%20Family/images/dscn1683.jpg"> some crazy people I call my friends</a>. Mario sorry I missed you!<br /><br />Then I continued my tour of friends on down to Middlesex, VA. My church had their annual <a href="http://www.darianhickman.com/browse_my_folders/pictures/Goofing%20off%20with%20Friends%20and%20Family/images/dscn1700.jpg">baptism/party on the Rappahannock River.</a> Good times on the rivah hanging out with friends from Northern VA!<br /><br />Then the same weekend headed down to Suffolk to enjoy Labor Day with more family. Got to meet the <a href="http://www.darianhickman.com/browse_my_folders/pictures/Goofing%20off%20with%20Friends%20and%20Family/images/dscn1733.jpg">latest addition to the family, Brandon</a>. Since then I've been hanging out in West Point with my <a href="http://www.darianhickman.com/browse_my_folders/pictures/Goofing%20off%20with%20Friends%20and%20Family/images/dscn1763.jpg">high school buddy Chris Henley</a>. While he's running his family's hardware store I'm learning <a href="http://www.darianhickman.com/2005/05/rosetta-stone-learn-foreign-language.html">Portuguese with Rosetta Stone.</a><br /><br />Aside from that I've had one random trip up NoVA for an orthodontist appt and a kayaking trip with my friend Josh Fix yesterday. It was a gorgeous afternoon off the <a href="http://maps.google.com/maps?q=lancaster,+va&ll=37.615319,-76.352921&amp;spn=0.119878,0.240704&t=k&amp;hl=en">islands of mosquito point.</a> Sorry I didn't take any pictures, forgot my camera.<br /><br />Overall, having a good time catching up with friends and family and yet dying to get back into the missions field.<br /><br />I'm still getting ready for my trip to Brazil and hence have a favor to ask you:<br /><a onblur="try {parent.deselectBloggerImageGracefully();} catch(e) {}" href="http://www.darianhickman.com/uploaded_images/DSCN1790-2-769374.jpg"><img style="margin: 0pt 10px 10px 0pt; float: left; cursor: pointer;" src="http://www.darianhickman.com/uploaded_images/DSCN1790-2-759853.jpg" alt="" border="0" /></a><span style="font-weight: bold;">Consider taking over my cell phone contract. </span> The contract expires in September 2006. If I cancel it early, I lose $175.00, but I can transfer it for free. Verizon Wireless does an incredible job indoors or outdoors, rural or urban. It works everywhere that I've been. Only thing is it won't work in Brazil. :( This is the only cell phone company that hasn't pissed me off which is amazing! If you have one of those crap services like Sprint or Cingular you need this phone. You can have the phone itself for free. My nationwide plan costs me about $50/mth after all the taxes and surcharges and stuff.<br />I'll be posting a few more random favors but getting my phone a new home is the main one.