---
layout: post
title: Christian Today > Worldwide Internet Evangelism Day to Respond to High-Tech
  World
date: '2005-04-18T10:22:00.000-05:00'
author: Darian Hickman
tags: 
modified_time: '2006-11-08T20:35:50.983-05:00'
blogger_id: tag:blogger.com,1999:blog-6308830.post-111383775094553721
blogger_orig_url: http://www.darianhickman.com/2005/04/christian-today-worldwide-internet.html
---

<a href="http://www.christiantoday.com/news/miss/302.htm">Christian Today > Worldwide Internet Evangelism Day to Respond to High-Tech World</a>  This coming Sunday is Internet Evangelism Day.  If anybody wants help setting up a blog to share their testimony, let me know.  (703) 201 0524.  <a href="http://www.darianhickman.com/browse_my_folders/about_me/My_Spiritual_Journey.html">I can show you how I share mine.</a>