---
layout: post
title: 
date: '2005-06-10T16:20:00.000-05:00'
author: Darian Hickman
tags: 
modified_time: '2006-11-08T20:35:52.530-05:00'
blogger_id: tag:blogger.com,1999:blog-6308830.post-111843845836081852
blogger_orig_url: http://www.darianhickman.com/2005/06/some-dudes-from-mission-adventures.html
---

<a href='http://www.darianhickman.com/hello/695756/640/DSCN1227-2005.06.10-14.20.39.jpg'><img border='0' style='border:1px solid #000000; margin:2px' src='http://www.darianhickman.com/hello/695756/400/DSCN1227-2005.06.10-14.20.39.jpg'></a><br />Some dudes from Mission Adventures: Jonathan, Lee, Ben, Ty (lying down).&nbsp;<a href='http://www.hello.com/' target='ext'><img src='http://photos1.blogger.com/pbh.gif' alt='Posted by Hello' border='0' style='border:0px;padding:0px;background:transparent;' align='absmiddle'></a>