---
layout: post
title: Random News and Great News from Richmond
date: '2005-10-26T20:09:00.000-05:00'
author: Darian Hickman
tags: 
modified_time: '2006-11-08T20:35:54.574-05:00'
blogger_id: tag:blogger.com,1999:blog-6308830.post-113037582150700657
blogger_orig_url: http://www.darianhickman.com/2005/10/random-news-and-great-news-from.html
---

<img style="float:left; margin:0 10px 10px 0;cursor:pointer; cursor:hand;" src="http://www.darianhickman.com/uploaded_images/DSCN1992-741380.JPG" border="0" alt="Linux Magic: Turn dead Win98 PCs into Internet stations." caption="Linux Magic: Turn dead Win98 PCs into Internet stations."/><br /><br />The Marine Corps just suddenly discovered email.  It's funny to see the barrage of email coming from my reserve unit now that I won't be there for a year. =)<br /><br />I spent the wholllllllllle day at a "Get Motivated" seminar at the Colisseum in Richmond. It didn't motivate me, but YWAM Richmond raised $2400 for their training school by sending us volunteers to help with the event.  Interesting mix of people ... the company that organized the event is Christ-based and a few of their speakers hint at Christian principles but all in all it seemed like a cliche accomplish dreams, set goals, make-your-money-work-for-you-not-you-work-for-your-money seminar.  Some parts could have come straight out of a Simpson's episode.  On the positive side we got to hear some speeches from Steve Forbes, Rudolf Giuliani, and some random billionaires that want to help us become millionaires by spending money on their stock analysis toolkits.<br /><br />But the really cool news is ... I only have one document left to go before I can send in my visa application to the Brazilian embassy.  Yippee!! And I mean that yippee from the the bottom of my sleep deprived heart.<br /><br />The other great news is that Agapao Center is going to receive tax-deductible donations on my behalf. And I quote Jon Norsworthy President of Agapao Center, "...the person must pay by check made out to “Agapao Center, Inc.” with “Darian Hickman Brazil Missions” on the subject line or pay via Pay Pal at the <a href="http://www.agapaosanctuary.org/donations.htm">www.agapaosanctuary.org</a> website with a separate email stating the amount paid on PayPal for your missions trip.  Either way I will need their name and addresses if they want tax deduction."  I am heeding the sagely wisdom of my friend Kay here at YWAM Richmond who says "Americans are the most generous people in the world if you make it easy for them."  It doesn't get any easier than Paypal ... except for maybe giving me cash the next time you see me.  Hmmm.... maybe that seminar did get to me, I don't mind asking people for money so much now.