---
layout: post
title: I am giving up reading the news for Lent.
date: '2005-03-18T05:09:00.000-05:00'
author: Darian Hickman
tags: 
modified_time: '2006-11-08T20:35:49.985-05:00'
blogger_id: tag:blogger.com,1999:blog-6308830.post-111114059781328521
blogger_orig_url: http://www.darianhickman.com/2005/03/i-am-giving-up-reading-news-for-lent.html
---

<p class="mobile-post">Someone hold me accountable.  I waste too much time reading the news.<br />-- <br />Darian Hickman<br />http://www.darianhickman.com<br />cell: (703) 201-0524<br />work: (703) 742-7660 x238</p>