---
layout: post
title: Missionaries Building Bases in Iraq Face Opposition from Established Churches
date: '2005-06-25T14:56:00.000-05:00'
author: Darian Hickman
tags: 
modified_time: '2006-11-08T20:35:52.818-05:00'
blogger_id: tag:blogger.com,1999:blog-6308830.post-111972937141561899
blogger_orig_url: http://www.darianhickman.com/2005/06/missionaries-building-bases-in-iraq.html
---

<a href="http://www.aina.org/news/2005062395612.htm">http://www.aina.org/news/2005062395612.htm</a>&nbsp; I got this story from my google news alert on 'missionaries'.&nbsp; It's amazing how un-Biblical churches can get in order to survive. <br><br>-- <br>Darian Hickman<br>goto: <a href="http://www.darianhickman.com">http://www.darianhickman.com</a><br>call me: (407) 697 6392<br>visit me: 2259 Castle Rock SQ #22C, Reston, VA 20191  