---
layout: post
title: I Got Fired!
date: '2005-04-16T21:13:00.000-05:00'
author: Darian Hickman
tags: 
modified_time: '2006-11-08T20:35:50.816-05:00'
blogger_id: tag:blogger.com,1999:blog-6308830.post-111370413432294629
blogger_orig_url: http://www.darianhickman.com/2005/04/i-got-fired.html
---

For those of you who don't know already, I got fired! Here's the email I sent out on April 5, the day I got fired:<br /><span style="font-weight:bold;">SUBJECT: Praise Report: I got fired! =)  </span><br />My boss called me into his office today to let me know that things are<br />not working out with me at TMA.  He said it was obvious that I had<br />talent but even more obvious that I wasn't motivated to do my work.<br />Praise God!!<br /><br />Why am I so thankful?  I've known since last year that working at TMA<br />was going to be my last technical job.  I just had know idea when, and<br />what God was calling me to do.  I stayed with the job because I saw it<br />as an avenue to become financially independent in a few years and then<br />move onto full-time ministry without having to worry about money.  I<br />didn't know if that was the right thing to do but it made sense.  So<br />I've been wondering for years now when I should go all the way. That<br />question got answered today.<br /><br />I'm still trying to justify why I spent the last three years of my<br />life writing code for defense contractors.  I was proving to myself<br />that I'm not just another young idealist with no bearing on reality;<br />that I could do a normal 9-5 job if I wanted to; that I could make my<br />own money if I wanted to.  That's been my pattern for years.  I spent<br />college proving that I could work really hard and endure crazy<br />deadlines and stress.  I went to Marine Corps boot camp to prove that<br />I could endure combat, make life and death decisions and make them<br />with a clear conscience.  I've proved to myself that I could endure<br />all this stress, monotony, mediocrity, deadlines, traffic,<br />NullPointerException's, and ugly decision making without cracking,<br />without going schizo, or bi-polar, or suicidal.  I've endured all this<br />crap, and the only psychiatric label I've managed to acquire is ADD.<br />Life has sucked for the past several years and I was getting good at<br />letting it suck.  What a stupid goal!  For those of you who feel the<br />need to prove that you can endure a boring passionless existence in<br />the name of ADULTHOOD or MATURITY or RESPONSIBILITY or INDEPENDENCE:<br />don't bother.  I don't recommend it, because you might actually<br />succeed. God help you if you do.<br /><br />I have run out of excuses. So we'll see where God leads me now.  Now<br />that I don't have to convince my boss to give me time off from work, I<br />am thinking and praying about going to Brazil this summer to help<br />plant some churches, do some street drama, and teach English.  Let me<br />know if you're interested in going and I'll pass on the info.<br /><br />Also, if you have any recommendations on how to get fired from the<br />Marine Corps Reserves, please let me know.<br /><br />I hope you all had a great Easter this past weekend.  Have a great Wednesday!