---
layout: post
title: Coming back to VA tomorrow
date: '2005-08-10T09:36:00.000-05:00'
author: Darian Hickman
tags: 
modified_time: '2006-11-08T20:35:53.415-05:00'
blogger_id: tag:blogger.com,1999:blog-6308830.post-112368974483052222
blogger_orig_url: http://www.darianhickman.com/2005/08/coming-back-to-va-tomorrow.html
---

<a onblur="try {parent.deselectBloggerImageGracefully();} catch(e) {}" href="http://www.darianhickman.com/uploaded_images/DSCN1457-760015.JPG"><img style="float:left; margin:0 10px 10px 0;cursor:pointer; cursor:hand;" src="http://www.darianhickman.com/uploaded_images/DSCN1457-758390.JPG" border="0" alt="" /></a><br />Hey Everybody,  I'm flying into Richmond VA tomorrow morning.  I'll be visiting family in Richmond and Middlesex first and then probably heading onto Northern VA over the weekend.  I might be attending the CrossCurrent retreat.  Not sure yet.  Can't wait to see y'all!