---
layout: post
title: Here is a woman improving the quality of education for special needs children
  in Egypt.
date: '2005-02-08T01:05:00.000-05:00'
author: Darian Hickman
tags: 
modified_time: '2006-11-08T20:35:49.810-05:00'
blogger_id: tag:blogger.com,1999:blog-6308830.post-110784271327279199
blogger_orig_url: http://www.darianhickman.com/2005/02/here-is-woman-improving-quality-of.html
---

http://www.ashoka.org/news/04november/muslim.html#jump<br />Dina Abdel-Wahab is enabling those with special needs to become fully<br />integrated, contributing citizens in Egypt<br /><br />Dina Abdel-Wahab is pioneering the integration of special needs<br />children with "normal" children in schools, a first important step<br />toward achieving society-wide integration in Egypt. She recognizes<br />that the early preschool years offer an especially promising<br />opportunity to change attitudes, pave the way for broader societal<br />reform, and set a different expectation of normalcy early in life.<br /><br />At least two million Egyptians are disabled or have special needs as a<br />result of genetic or neurological problems, and half of these are<br />children. Only about one percent of children and adults with special<br />needs receive services from the government and citizen sector<br />organizations.<br /><br />Rather than focusing narrowly on special needs, Abdel- Wahab focuses<br />broadly on excellence in learning for all children. This produces<br />schools that attract parents of "normal" students because the quality<br />of education for all children is excellent. Children learn and play<br />together in a stimulating environment, developing friendships with<br />classmates who may have autism or a severe learning disability. The<br />adults—teachers and parents—also learn to see special needs in a far<br />more tolerant light.<br /><br />Abdel-Wahab plans to spread her idea to a regional network of<br />preschools throughout the Middle East and, with the help of parents<br />and supporters, to influence public policy and opinion through<br />advocacy and education. She is establishing an association that raises<br />awareness, addresses policy issues such as changing the law that<br />blocks school-based inclusion, and provides advanced and continuous<br />training to teachers.<br /><br />Abdel-Wahab operates a preschool in Cairo and within five years she<br />plans to further consolidate and spread her idea by opening three more<br />schools in Egypt and one in another Arab country. She will raise funds<br />from private business and by having some parents as shareholders.<br />Within fi ve years, she expects to ensure that at least one percent of<br />all children with special needs are integrated into schools and at<br />least ten percent of Egypt's teachers know how to work in an<br />integrated classroom.<br /><br />Abdel-Wahab is the mother of a five-year-old with Down's syndrome. She<br />and her son had to travel to France and to the United States for tests<br />and development skills assessments. During this period, she learned of<br />practices, treatments, and educational opportunities available in<br />other settings to children with Down's syndrome. She draws parents<br />into an informal support group that extends to parents of children who<br />don't attend her school. Poised, articulate, and determined,<br />Abdel-Wahab is a powerful role model.<br />-- <br />Darian Hickman<br />http://www.darianhickman.com<br />cell: (703) 201-0524<br />work: (703) 742-7660<br />