---
layout: post
title: the latest from Darian Hickman
date: '2005-06-26T20:27:00.000-05:00'
author: Darian Hickman
tags: 
modified_time: '2006-11-08T20:35:53.019-05:00'
blogger_id: tag:blogger.com,1999:blog-6308830.post-111983564198273508
blogger_orig_url: http://www.darianhickman.com/2005/06/latest-from-darian-hickman.html
---

Praise Reports:<br> Thanks to an anonymous donation my financial support is up to $600 now! Thank you Mr/Ms Anonymous!<br> A childhood friend of mine contacted me out of the blue to let me know he's in Orlando, too.&nbsp; I haven't seen him since 1997 so hopefully we can get reaquainted next weekend.&nbsp; He Googled my name and found my address.&nbsp; God Bless the Internet!<br> The first two groups of students got back from their trips to Key West and Brazil this past Friday.&nbsp; Seeing how much these young people have matured spiritually gives me more confirmation that I'm in the right place.&nbsp; I can see the changes in attitude towards their faith and increased priority to follow Christ and it makes the 14 hour days worth the effort.<br> Also Getting 90 minutes a day of prayer and reading is a lot easier than I thought it would be with our 14 hour days.&nbsp; Being in a community that supports that kind of thing is so awesome!<br> I'm reading a great book called &quot;Intercession: Thrilling and Fulfilling&quot; by Joy Dawson.&nbsp; Joy has enjoyed decades of an awesome prayer life that I'm just beginning myself.&nbsp; The book reminds me every time I read it of some powerful lessons.&nbsp; Joy shares this lesson: &quot;Model your life only on the person of the Lord Jesus.&nbsp; If you model it on your earthly leader, you will be influenced by his weakness as well as his strengths.&nbsp; Only Jesus the Leader has no weaknesses.&quot;&nbsp; That's poignant for my spiritual walk because it's so easy for me to just follow along in the social norms of the Christian circles I've found acceptence instead of really pushing through to the likeness of Christ. <br> I am reminded repeatedly, in Joy Dawson's book and the classes we attend every week that Brazil is not only very ripe for receiving Christ it's also a force multiplier.&nbsp; Brazil is one of the top missionary sending countries in the world now.&nbsp; I can't wait to get down there and support the evangelism efforts.<br> Prayer Requests: Renewed focus and refreshed energy.&nbsp; The schedule and training are almost identical every week which is bad if you have ADD like me.<br><br>-- <br>Darian Hickman<br>goto: <a href="http://www.darianhickman.com">http://www.darianhickman.com</a><br>call me: (407) 697 6392<br>  