---
layout: post
title: 'Poop: False Alarm but Still Good News'
date: '2005-07-23T13:59:00.000-05:00'
author: Darian Hickman
tags: 
modified_time: '2006-11-08T20:35:53.240-05:00'
blogger_id: tag:blogger.com,1999:blog-6308830.post-112214583022905000
blogger_orig_url: http://www.darianhickman.com/2005/07/poop-false-alarm-but-still-good-news.html
---

I was wrong about getting the final approval on my IRR request. It got approved at the battalion level but still needs to get approved at the division level. So my request for a year off to do missions work is now 2/3 done. Pray that the actual final approval will come quickly.<br /><br />This summer has had its times of testing, but overall it's been an amazing summer. We just finished our 5th cycle of training youth groups to be missionaries and it is trully awesome to see these young people mature so quickly in their faith. For some of the young people going through here it's the first time they have felt God powerfully answering their prayer. If you have ever wanted to inspire generations of young people to take Jesus seriously and make the decision to go into full-time missions, send them on a short-term missions trip through YWAM Orlando. Several of the groups that we trained this summer have gone through other YWAM bases on short-term missions in the past, and they all say this base is amazing!<br /><br /><a onblur="try {parent.deselectBloggerImageGracefully();} catch(e) {}" href="http://www.darianhickman.com/uploaded_images/DSCN1450-729191.jpg"><img style="float:left; margin:0 10px 10px 0;cursor:pointer; cursor:hand;" src="http://www.darianhickman.com/uploaded_images/DSCN1450-723349.jpg" border="0" alt="" /></a>The week before last I had an awesome time training a youth group from Jarvis United Methodist in Greenville, North Carolina. I teach a mime drama called "No Strings Attached". To the music of Pax Deorum by Enya, Satan takes hold of two unsuspecting children and turns them into his puppets. Yet his undoing comes when a Christian comes along and frees them from Satan's strings when she shares the Bible with them. It's a really cool five-minute skit.<br /><br />Kevin, one of the guys in that group recommended a book by Gerald Schroeder, "The Science of God". If you love science as much as I do and want to understand how modern science confirms the Creation story of Genesis read chapters 3 and 4 of this book. Mind-blowing to the say the least!<br /><br />We have one more cycle left. Three youth groups are coming on Monday for training. I'll be going with one youth group to Key West. Pray for the teams as they reach out to the homeless, the vacationers, and the party crowd down there. Pray for our boldness to start up conversations with whoever we meet down there.<br /><br />I've met a lot of cool people this summer. All from different walks of life with different talents and interests from all over North America. And as different as we all are it's been awesome having one common mission. In my mind I have been at work for years building a model, a picture of how life should be. This summer has progressed that model like none other.