---
layout: post
title: 'Games that make leaders: top researchers on the rise of play in business and
  education'
date: '2005-01-21T12:54:00.000-05:00'
author: Darian Hickman
tags: 
modified_time: '2006-11-08T20:35:49.729-05:00'
blogger_id: tag:blogger.com,1999:blog-6308830.post-110633006461660627
blogger_orig_url: http://www.darianhickman.com/2005/01/games-that-make-leaders-top.html
---

I orginally becamse a computer science major because I thought I could<br />make a difference in the world with education software.  Looks like<br />the industry is moving forward just fine without me.  <a<br />href="http://www.wistechnology.com/article.php?id=1504">http://www.wistechnology.com/article.php?id=1504</a><br /><br />-- <br />Darian Hickman<br />http://www.darianhickman.com<br />(703) 201-0524<br />