---
layout: post
title: 'Yet Another Reason to go to Brazil: Free software''s biggest and best friend
  | CNET News.com'
date: '2005-03-31T00:12:00.000-05:00'
author: Darian Hickman
tags: 
modified_time: '2006-11-08T20:35:50.241-05:00'
blogger_id: tag:blogger.com,1999:blog-6308830.post-111224595075277039
blogger_orig_url: http://www.darianhickman.com/2005/03/yet-another-reason-to-go-to-brazil.html
---

<a href="http://news.com.com/Brazil Free softwares biggest and best friend/2100-7344_3-5644737.html">Brazil: Free software's biggest and best friend | CNET News.com</a>: "Brazil: Free software's biggest and best friend
<br />Published: March 29, 2005, 5:12 AM PST
<br />By Todd Benson
<br />The New York Times
<br />TrackBack Print E-mail TalkBack
<br />
<br />Since taking office two years ago, President Luiz Inacio Lula da Silva has turned Brazil into a tropical outpost of the free-software movement."