---
layout: post
title: 
date: '2005-07-27T13:45:00.000-05:00'
author: Darian Hickman
tags: 
modified_time: '2006-11-08T20:35:53.330-05:00'
blogger_id: tag:blogger.com,1999:blog-6308830.post-112248994883714578
blogger_orig_url: http://www.darianhickman.com/2005/07/graham-and-i-after-passion-play.html
---

<a href='http://www.darianhickman.com/hello/695756/640/DSCN1510-2005.07.27-11.45.22.jpg'><img border='0' class='phostImg' src='http://www.darianhickman.com/hello/695756/400/DSCN1510-2005.07.27-11.45.22.jpg'></a><br />Graham and I after the Passion Play.  Guess which part I played!