---
layout: post
title: I'm in the right place! =)
date: '2005-06-03T12:37:00.000-05:00'
author: Darian Hickman
tags: 
modified_time: '2006-11-08T20:35:52.143-05:00'
blogger_id: tag:blogger.com,1999:blog-6308830.post-111782022406169732
blogger_orig_url: http://www.darianhickman.com/2005/06/im-in-right-place.html
---

 Well so far the orientation to Mission Adventures here in Orlando is going pretty well. I really enjoy being in a micro-community with a missionary mindset.&nbsp; I got an initial <span style="background: transparent none repeat scroll 0% 50%; -moz-background-clip: initial; -moz-background-origin: initial; -moz-background-inline-policy: initial;" name="st">   confirmation</span> Monday that I'm in the right place.&nbsp; Our group leader Colleen Crawford told us how the churches that sent their youth groups on missions trips through Mission Adventures were incredibly impressed with how their youth matured spiritually in just two weeks.&nbsp; It was just the <span style="background: transparent none repeat scroll 0% 50%; -moz-background-clip: initial; -moz-background-origin: initial; -moz-background-inline-policy: initial;" name="st">   confirmation</span> I needed to know that my efforts impacted people well beyond just the brief encounter in the summer.&nbsp; We ARE transforming people's lives! <br><br>  