---
layout: post
title: Merry Christmas! Grandma is gonna love this....
date: '2005-12-23T15:03:00.000-05:00'
author: Darian Hickman
tags: 
modified_time: '2006-11-08T20:35:55.317-05:00'
blogger_id: tag:blogger.com,1999:blog-6308830.post-113536834519338227
blogger_orig_url: http://www.darianhickman.com/2005/12/merry-christmas-grandma-is-gonna-love.html
---

As I wait semi-patiently for my visa to Brazil, watching myself slip into mediocrity once again, I decided to fast from movies, tv, and junk food until Christmas. It was a huge step in the right direction otherwise life was going to end up like this:<br /><a onblur="try {parent.deselectBloggerImageGracefully();} catch(e) {}" href="http://www.darianhickman.com/browse_my_folders/pictures/cheeto%20bad/images/dscn2242.jpg"><img style="margin: 0pt 10px 10px 0pt; float: left; cursor: pointer; width: 320px;" src="http://www.darianhickman.com/browse_my_folders/pictures/cheeto%20bad/images/dscn2242.jpg" alt="" border="0" /></a>I've been keeping myself busy with developing <a href="http://www.ywamva.org/">http://www.ywamva.org</a>. Everything about their site looks the same as before but everything is now managed with blogger.com like my website. Stupid paypal donation button still isn't working, though. sigh....<br /><br />I've also been doing some last minute video editing for them. I might upload it to Google Video, but I have to warn you, it's a 14 minute long inside joke mocking YWAM staff. I've concluded that acting is still more fun than editing films mainly because I'm not a walking database of catchy songs like most of my peers are. This whole fasting from media and jund food has mandated lots of creative alternatives for these cold dark nights.... like play with the new dog <a href="http://www.darianhickman.com/browse_my_folders/pictures/clarissa_shalani_artsy/">Abigail and experiment with Picasa photo editing.<br /></a><br />Everyone that was here is pretty much gone for the holidays. It's very quiet; so quiet I stopped neglecting my blog. =) People keep asking me what my plans are for the holidays and after the holidays. I don't know; does this count as a plan:<br /><br /><a onblur="try {parent.deselectBloggerImageGracefully();} catch(e) {}" href="http://www.darianhickman.com/browse_my_folders/pictures/cheeto%20bad/images/dscn2237.jpg"><img style="margin: 0pt 10px 10px 0pt; float: left; cursor: pointer; width: 320px;" src="http://www.darianhickman.com/browse_my_folders/pictures/cheeto%20bad/images/dscn2237.jpg" alt="" border="0" /></a>Anyhoo... I was daydreaming about a new version of Monopoly.... Googleopoly. I'll have to violate several trademarks and copyrights but it'll give me something to do when we finish unwrapping presents.<br /><br />Seriously though, I'll probably spend a good week praying over what to do next. There's so many possibilities as I wait on Brazil, it's not worth the effort to list them right now. Just pray for clarity and guidance and a nice camcorder.