---
layout: post
title: 'Latest and Greatest from me:'
date: '2005-08-26T16:43:00.000-05:00'
author: Darian Hickman
tags: 
modified_time: '2006-11-08T20:35:53.722-05:00'
blogger_id: tag:blogger.com,1999:blog-6308830.post-112509300239393646
blogger_orig_url: http://www.darianhickman.com/2005/08/latest-and-greatest-from-me.html
---

<a onblur="try {parent.deselectBloggerImageGracefully();} catch(e) {}" href="http://www.darianhickman.com/uploaded_images/DSCN1649-716678.jpg"><img style="float:left; margin:0 10px 10px 0;cursor:pointer; cursor:hand;" src="http://www.darianhickman.com/uploaded_images/DSCN1649-710867.jpg" border="0" alt="" /></a><br /><br /><br />I am officially on my year of missions work and free from the Marine Corps! <br /><br />I am slowly but surely making contacts with YWAM bases in Brazil.  Some have expressed interest in sponsoring my missions visa.  There's a big conference happening there in the beginning of September that would be an awesome opportunity to network with lots of bases at once.  Not sure if I can get the visa in time but I'm hoping and praying!<br /><br />My braces actually seem to be the biggest holdup.  Orthodontist said it would a few more months before I finish up treatment.<br /><br />This summer was a huge step in the right direction.  I got to experience the power of prayer on a  regular basis and got confirmed that living in tight-nit Christian community is how I want to live permanently.<br /><br />I'll be spending some time with friends from college/Baltimore in the next couple of days.<br /><br />This past Monday I was hanging out with Deborah doing some touristy things in DC.  We went to check out the Library of Congress.  That's where the pic is from.  The building itself is <a href="http://www.darianhickman.com/browse_my_folders/pictures/LibraryOfCongress/">ridiculously ornate and very pretty! Check out my pics.</a>