---
layout: post
title: I just sent in my visa application for Brazil.
date: '2005-11-09T16:35:00.000-05:00'
author: Darian Hickman
tags: 
modified_time: '2006-11-08T20:35:54.678-05:00'
blogger_id: tag:blogger.com,1999:blog-6308830.post-113157211818066775
blogger_orig_url: http://www.darianhickman.com/2005/11/i-just-sent-in-my-visa-application-for.html
---

<span class="gmail_quote"></span>After finally getting all the documents together, I sent everything to the Brazilian Embassy in DC yesterday. Wow that only took 5 months!  It's still awhile before I get my visa, though, five weeks at the earliest.  All the documents I already pulled together are just the beginning.  They Embassy could come back to me saying they want a whole lot more than what's listed on the site.  So please pray they'll be content with what I sent already and send me a visa.<br /><br />Also be praying God will give me insight on what he wants me to do with my November and December.  I need to decide this week on whether to continue volunteering here at YWAM in Richmond or go visit churches or go get a paying job.  That's just a short list, so hopefully prayer will narrow it down soon.