---
layout: post
title: Shedding My Old Paradigm of God
date: '2005-11-19T13:46:00.000-05:00'
author: Darian Hickman
tags: 
modified_time: '2006-11-08T20:35:54.894-05:00'
blogger_id: tag:blogger.com,1999:blog-6308830.post-113242596894739382
blogger_orig_url: http://www.darianhickman.com/2005/11/shedding-my-old-paradigm-of-god.html
---

Hello Peeps, I miss my old paradigm.&nbsp; Let me explain.&nbsp; All throughout my high school years I thought of God as an abstract force pervading the universe somehow tightly coupled with the dynamic of love.&nbsp; I assumed from the beginning of my spiritual journey that it was all about becoming attuned to this universal force of love.&nbsp; I pursued Jesus like he was the Zen master of Love and that I could become more skillful at using this power called God.&nbsp; I wanted to be a Jesus Jedi.&nbsp; My paradigm is shifting now though.&nbsp; It kinda sucks but I know it's for the better.&nbsp; This last week I spent learning about the Holy Spirit and learning to obey the voice of the Holy Spirit and accepting His presence in our souls.&nbsp; God is not an abstract force that we learn to use like in Star Wars.&nbsp; He's a person with feelings and perfect wisdom and insight, He's not looking for us to excel in the ways of his force.&nbsp; He's looking for us to obey His voice.&nbsp; It's really kinda scary.&nbsp; Surrendering my life to the input of the Holy Spirit requires a lot of trust, trusting God to instruct you to do things that you want to do and trusting yourself to hear Him correctly.&nbsp;&nbsp; Christianity was so much easier when all I knew about was that I was supposed to act like Jesus.&nbsp; This whole personal relationship with God thing is kinda weird.&nbsp; I don't want to give God license to change my plans or prompt me to do something whenever, by merely putting a thought in my head that sounds like it's from Him.&nbsp; Answering the phone or the door is annoying enough when I'm concentrated on one of my goals.&nbsp; And Holy Spirit doesn't even need a phone, or a doorbell.&nbsp; He can just drop a thought into my head whenever He feels like it!&nbsp; Developing Jesus skills feels so much more .... relaxing, more acheivable, more like my old paradigm where you're just exercising spiritual muscles and getting stronger at loving others.&nbsp; What's it going to be like every time a Bible-compatible thought comes into my head that I have to seek out/feel out if it's from the Holy Spirit?&nbsp; It doesn't sound like fun.<br> <br> But...<br> <br> the gut wrenching irony is that this is actually an answer to prayer.&nbsp; I wanted for a long time to move from a textbook faith to a personal relationship with God in real-time. Now I'm getting closer to it and it scares the crap out of me.&nbsp; So in conclusion,&nbsp; Pray for me.&nbsp; I'm not looking forward to this new level, totally two-way, not-just-when-I-want-to-hear-from-God level of communication but I know it's supposed to happen.&nbsp; I know I'll eventually get over it and eventually have appreciation.&nbsp; Pray.<br clear="all"><br>  