---
layout: post
title: Classes are going great!
date: '2006-03-14T20:37:00.000-05:00'
author: Darian Hickman
tags: 
modified_time: '2006-11-08T20:36:03.771-05:00'
blogger_id: tag:blogger.com,1999:blog-6308830.post-114238774427791844
blogger_orig_url: http://www.darianhickman.com/2006/03/classes-are-going-great.html
---

This is so much fun, it's ridiculous.  Nevertheless, riddle me this all you psychology majors: why is it that every morning or day before, I don't want to go to class?  I want to come up with some excuse to take the day off and just relax.  Why?  I learn a lot.  It's incredibly exciting and challenging.  I have my moments of embarrassment, of course, sometimes video taped.  =)  But that shouldn't phase me by now.    Hmm...<br /><br />Btw, I was in two student films this weekend.  Nothing huge. Just some short short silent black and white films.  If you go to <a href="http://video.google.com/videosearch?q=nyfa">video.google.com and search for "nyfa"</a> you'll see some examples of student projects.  Not very exciting, but definitely a good learning exercise.  This past Sunday in my first film I trip on a curb, mess up my leg and watch people pass by me not offering to help and just look at me like I'm some kind of freak show.  The filmmaker said she got the idea because it actually happened to her. :( Sohh ssad. <br /><br />In the second movie I did Sunday morning, I hold this really big dude captive and torture him and kill him.  These filmmakers don't seem that twisted.  I guess it's just easier to do dark material when you're shooting in black and white.<br /><br />The classes have opened my eyes to how complicated acting can be, especially Maria Gobetti's class on technique's for emotional preparing for a scene.  Expressing emotions sincerely and precisely is a lot harder than I thought. <br /><br />Mosaic is still an awesome church. They do a wonderful job of letting the creative people contribute to the service.  Roommates are awesome too.  We got two more guys moved in this week crashing on couches like me, which brings us to a grand total of 7 homies.   Fun times.  <br /><br />And to top it all off, I've gained about 5 pounds from all the biking and weightlifting I've been doing.  I didn't know I could put on weight that fast!<br /><br />Great book: Now, Find Your Strengths.  It's a good psychologically profiling method to help you discover what your talents are.  Very interesting read. =)