---
layout: post
title: Visiting Grandma; three week trip to Sao Paulo
date: '2006-01-14T16:43:00.000-05:00'
author: Darian Hickman
tags: 
modified_time: '2006-11-08T20:35:55.665-05:00'
blogger_id: tag:blogger.com,1999:blog-6308830.post-113727551803102689
blogger_orig_url: http://www.darianhickman.com/2006/01/visiting-grandma-three-week-trip-to.html
---

<a onblur="try {parent.deselectBloggerImageGracefully();} catch(e) {}" href="http://www.darianhickman.com/uploaded_images/grandmaphyllis_web-799829.jpg"><img style="margin: 0pt 10px 10px 0pt; float: left; cursor: pointer;" src="http://www.darianhickman.com/uploaded_images/grandmaphyllis_web-793712.jpg" alt="" border="0" /></a><br />I'm headed to visit my Grandma this weekend.  She's diagnosed with skin cancer and not expected to live long.  She one of the most passionate Christians in the family and has already told us all that she is more than ready to go.  So were not praying for her to recover but to go quickly without pain.<br /><br />I'm working now on a three week trip to Brazil now from January 31 to February 21, so pray things go smoothly for that visa app.<br /><br />Nothing much new for now, made a little progress on Googleopoly.  More later....