---
layout: post
title: Hollywood is real!
date: '2006-02-24T17:52:00.000-05:00'
author: Darian Hickman
tags: 
modified_time: '2006-11-08T20:36:03.603-05:00'
blogger_id: tag:blogger.com,1999:blog-6308830.post-114082309874440751
blogger_orig_url: http://www.darianhickman.com/2006/02/hollywood-is-real.html
---

<a onblur="try {parent.deselectBloggerImageGracefully();} catch(e) {}" href="http://www.darianhickman.com/uploaded_images/DSCN2371-763236.JPG"><img style="margin: 0pt 10px 10px 0pt; float: left; cursor: pointer;" src="http://www.darianhickman.com/uploaded_images/DSCN2371-752703.JPG" alt="" border="0" /></a><br />It really exists.  I've heard about Hollywood and Santa Monica Blvd, and Bel Air, and 90210 and The OC.  They're not just television fantasies.  They really exist.  It's nowhere near as glitzy though.  Quite to the contrary, they have ugly people and crazy people and pretty people all the same.   They have Satanists, and wiccans, and scientologists and Christians all over the place.     Hollywood isn't as secular as I had stereotyped.  It's chaulk full of all kinds of religions including Christianity.  This morning the Satanist was explaining how the lady with the Tarot cards is probably demon possessed.  My routine this past week has been some quiet slightly adventurous days exploring the mass transit system of LA, and the evenings have been filled with meeting just and insane number of Christian artists, actors, screenwriters, directors, musicians.  There's groups all over the area for Christians in "The Industry".<br /><br />By the way, <a href="http://www.mosaic.org">Mosaic </a>church is really awesome.  The first night I attended, Erwin McManus spoke about taking initiative and not giving up.  This guy is so dead on.  Afterwards we went out to Pitfire Pizza and socialized for a bit.  The got the whole warm open atmosphere down packed.  I met too many people to count the first night I was there.   Awesome group!  Right now I'm reading Erwin latest book "Chasing Daylight".  Again right on.   Via a long chain of emails and Mosaic friends I found some guys who are letting me crash at their place in Pasadena, so I'm moving over there today.  So things are definitely going better than the first day I arrived. =)