---
layout: post
title: Ecclesiastes 3:11
date: '2006-12-28T01:35:00.000-05:00'
author: Darian Hickman
tags:
- bible verses
modified_time: '2006-12-28T01:39:10.249-05:00'
blogger_id: tag:blogger.com,1999:blog-6308830.post-4879562822563876792
blogger_orig_url: http://www.darianhickman.com/2006/12/ecclesiastes-311.html
---

<h3 class="post-title">      Ecclesiastes 3:11 God makes everything beautiful in its time. -  Saturday, December 03, 2005        </h3>                        <span style="text-decoration: underline;"></span><span style="font-size: 130%;">Ecclesiastes Chapter 3...</span>  <sup id="en-NIV-17369">9</sup> What does the worker gain from his toil? <sup id="en-NIV-17370">10</sup> I have seen the burden God has laid on men.  <sup id="en-NIV-17371">11</sup> <span style="font-weight: bold;">He has made everything beautiful in its time. He has also set eternity in the hearts of men; yet they cannot fathom what God has done from beginning to end.</span> <sup id="en-NIV-17372">12</sup> I know that there is nothing better for men than to be happy and do good while they live. <sup id="en-NIV-17373">13</sup> That everyone may eat and drink, and find satisfaction in all his toil—this is the gift of God.  <sup id="en-NIV-17374">14</sup> I know that everything God does will endure forever; nothing can be added to it and nothing taken from it. God does it so that men will revere him.<br /><br />I thought I posted on this earlier, but I guess I didn't. This verse came to me in a dream that gave me insight about my relationships with women; essentially don't rush romance. Wait for the right woman, instead of getting into half-hearted relationships with women that are really cool, but not the "right woman".