---
layout: post
title: Questions for the experts
date: '2006-06-14T03:02:00.000-05:00'
author: Darian Hickman
tags: 
modified_time: '2006-11-08T20:36:05.264-05:00'
blogger_id: tag:blogger.com,1999:blog-6308830.post-115027230395022936
blogger_orig_url: http://www.darianhickman.com/2006/06/questions-for-experts.html
---

I came up with some critical questions for my game plan.  If you're an expert in game development and got some answers please send me an email: answers@villagethegame.com.<br /><br />How much does it really cost to build a quality game if you're not building your own gaming engine or graphics engine?<br />What's the best game engine to build on?<br />What should I expect to pay for sound effects, original compositions, and licensed music?<br />What's the cost difference between 2D animation and 3D animation?<br />Considering I'm not pushing the limits of graphics or gaming engines what quality of game could I build for $70,000?<br />How much would it cost to build Warcraft II with 2006 technology?