---
layout: post
title: Zoolander Pose
date: '2006-05-19T02:32:00.000-05:00'
author: Darian Hickman
tags: 
modified_time: '2006-11-08T20:36:04.898-05:00'
blogger_id: tag:blogger.com,1999:blog-6308830.post-114802529890153788
blogger_orig_url: http://www.darianhickman.com/2006/05/zoolander-pose.html
---

<a onblur="try {parent.deselectBloggerImageGracefully();} catch(e) {}" href="http://www.darianhickman.com/browse_my_folders/pictures/headshots/images/img_8355.jpg"><img style="margin: 0pt 10px 10px 0pt; float: left; cursor: pointer; width: 251px; height: 376px;" src="http://www.darianhickman.com/browse_my_folders/pictures/headshots/images/img_8355.jpg" alt="" border="0" /></a><br /> Not quite.... I just got some new headshots done.  This whole acting thing is a lot slower paced when you're not in school.  I've revamped the website to make it obvious what I'm doing now, looking for acting gigs.  Even church (<a href="http://www.mosaic.org">http://www.mosaic.org</a>) is slow right now for recruiting people onto the drama team.<br /><br />I wonder how long it takes to get to the point where I can make absurd films like <span style="font-style: italic;">Zoolander </span>and <span style="font-style: italic;">Starsky &amp; Hutch </span>with the same band of acting buddies over and over, having a blast, and making enough bank to fund whatever projects I want.<br /><br />Speaking of projects, I've decided I'm going to try to save the world again... that's going to be my day job.  Imagine  SimCity for third world countries.  Instead of building skyscrapers you're picking the smartest irrigation pumps, the best microcredit program, the best solar-powered refrigerators to install in your village.  You watch your village flourish as you navigate all the demands of third world politics and economics.  "SimVillage" except I can't call it that because it's already taken.  Then imagine waking up one day and finding out somebody decided to bankroll your village and build it for real.  The village you built in the game was so well done, your church decided to make it happen in real life partnering with <a href="http://www.worldhope.org/worldhope/aboutnew.htm">World Hope</a>, <a href="http://www.google.org/">Google.org</a>, and <a href="http://www.ashoka.org/home/index.cfm">Ashoka </a>to manage implementation.  I'd definitely play the game.  Hopefully a few million other people will too. =)