---
layout: post
title: Pictures from India
date: '2006-12-28T14:18:00.000-05:00'
author: Darian Hickman
tags:
- pictures
modified_time: '2006-12-28T14:20:10.329-05:00'
thumbnail: http://lh5.google.com/image/darian.hickman/RXk9YcQrrlE/AAAAAAAAAVM/JnjCAeIGXTI/s72-c/India2006.jpg
blogger_id: tag:blogger.com,1999:blog-6308830.post-4501968600531077098
blogger_orig_url: http://www.darianhickman.com/2006/12/pictures-from-india.html
---

I went to India in search of friends, teammates for Village, and to meet with awesome companies doing social enterprise stuff. Here's a few touristy pics to peruse.<br /><div style="text-align: center; width: 194px; font-family: arial,sans-serif; font-size: 83%;"><div style="background: transparent url(http://picasaweb.google.com/f/img/transparent_album_background.gif) no-repeat scroll left center; height: 194px; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial;"><a href="http://picasaweb.google.com/darian.hickman/India2006"><img src="http://lh5.google.com/image/darian.hickman/RXk9YcQrrlE/AAAAAAAAAVM/JnjCAeIGXTI/s160-c/India2006.jpg" style="border: medium none ; padding: 0px; margin-top: 16px;" height="160" width="160" /></a></div><a href="http://picasaweb.google.com/darian.hickman/India2006"><div style="color: rgb(77, 77, 77); font-weight: bold; text-decoration: none;">india 2006</div></a><div style="color: rgb(128, 128, 128);"></div></div>