---
layout: post
title: Third week going very well.
date: '2006-03-22T21:43:00.000-05:00'
author: Darian Hickman
tags: 
modified_time: '2006-11-08T20:36:03.952-05:00'
blogger_id: tag:blogger.com,1999:blog-6308830.post-114308223211781372
blogger_orig_url: http://www.darianhickman.com/2006/03/third-week-going-very-well.html
---

Classes have been taking up most of my time, so I've actually slowed down a little bit with meeting new people.  However, I did finally visit with YWAM LA last night.  They had an awesome time of worship and also Fred Markert (a ywam veteran) gave a great talk on how Jesus is really the answer to solving most of the worlds current problems be it corruption, AIDS, famine, or poverty.  It was quite refreshing to be around YWAMers again. =)  I miss you guys.<br /><br />This past weekend of shooting was pretty interesting.  I got be a burglar in one shot and a drunk bum wandering LA in another.  Hopefully I'll get a copy of the films soon so I upload some clips to Google Video.  Speaking of which, I helped my friend Allan Turner-Ward upload is reel to Google Video the other day check it out:<br /><embed style="width:400px; height:326px;" id="VideoPlayback" align="middle" type="application/x-shockwave-flash" src="http://video.google.com/googleplayer.swf?videoUrl=http%3A%2F%2Fvp.video.google.com%2Fvideodownload%3Fversion%3D0%26secureurl%3DoAAAAIhPTP-KJoE6rSOoYdycfzYRD4WbaD2DWDg4yA1vJM_W77M4Z8N0ZC8s3noxlInNYYISeazBMatVUQW59ChbFjGPE1bAAMeW4UV303tnNOBpw97ermYQMoVDrLiRsqkKnfyhJkX65egy5ASpCXTV-ZpfplyWnl6-mQdP38SPGqnHDM-m8Dd0cgUZDJb90_S5cZ_U38YSdV34lGY4xAsTJeH_P5uy_Kq5AdCyTn_HsqcM%26sigh%3Dk9kQ-o7LghOE7buLzTWAj-uebzo%26begin%3D0%26len%3D210409%26docid%3D-7630917745652713475&thumbnailUrl=http%3A%2F%2Fvideo.google.com%2FThumbnailServer%3Fcontentid%3Da3500e5f44c4aeff%26second%3D5%26itag%3Dw320%26urlcreated%3D1143082072%26sigh%3DOFcGaBW75rzIgUSo_I-ivt8Cbrw&playerId=-7630917745652713475" allowScriptAccess="sameDomain" quality="best" bgcolor="#ffffff" scale="noScale" wmode="window" salign="TL"  FlashVars="playerMode=embedded"> </embed><br /><a href="http://video.google.com/videoplay?docid=-7630917745652713475">http://video.google.com/videoplay?docid=-7630917745652713475</a>.  I met this Limey a week or two ago.  Awesome guy.  I really hope his career takes off.