---
layout: post
title: I just had 'all you can eat' for $6.00
date: '2006-01-30T16:19:00.000-05:00'
author: Darian Hickman
tags: 
modified_time: '2006-11-08T20:35:56.481-05:00'
blogger_id: tag:blogger.com,1999:blog-6308830.post-113867180066470029
blogger_orig_url: http://www.darianhickman.com/2006/01/i-just-had-all-you-can-eat-for-600.html
---

<a onblur="try {parent.deselectBloggerImageGracefully();} catch(e) {}" href="http://www.darianhickman.com/uploaded_images/DSCN2351-740597.JPG"><img style="margin: 0pt 10px 10px 0pt; float: left; cursor: pointer;" src="http://www.darianhickman.com/uploaded_images/DSCN2351-727610.JPG" alt="" border="0" /></a><br />I finally got a taste of that delicious Argentinian beef I've heard everyone talk about.  It's good!  This picture doesn't have any beef in it because I already ate it when I decided to be touristy and take pictures.  The people here at YWAM Buenos Aires are really nice.  Fabio picked me up at the airport and showed me around town.  Im getting a lot of practice with my Spanish and Portuguese and mixing it all together.  A whole bunch of people from this base left to do an outreach in Sao Paulo, Brasil.  Mmm.... 30 hour bus ride; I couldn't fit in their luggage. =)  Tomorrow I go to the embassy here and see if I can get a visa to Brazil and go on my own. As usual please pray for me.!