---
layout: post
title: Awesome times and prayer requests
date: '2006-06-21T19:36:00.000-05:00'
author: Darian Hickman
tags: 
modified_time: '2006-11-08T20:36:05.658-05:00'
blogger_id: tag:blogger.com,1999:blog-6308830.post-115093939600884845
blogger_orig_url: http://www.darianhickman.com/2006/06/awesome-times-and-prayer-requests.html
---

<span style="font-weight: bold;"></span><a onblur="try {parent.deselectBloggerImageGracefully();} catch(e) {}" href="http://www.darianhickman.com/uploaded_images/village2-745369.jpg"><img style="margin: 0pt 10px 10px 0pt; float: left; cursor: pointer;" src="http://www.darianhickman.com/uploaded_images/village2-737861.jpg" alt="" border="0" /></a><span style="font-weight: bold;">Village is moving forward.<br /></span>An artist I met via Craigslist, <a href="http://www.blake-douglas.com/">Blake Douglas</a>, drew up this thumbnail.  His work is going to be the cover art and website art for <a href="http://www.villagethegame.com">VillagetheGame.com.</a>  Btw, I changed the name from <span style="font-style: italic;">SimVillage</span> to <span style="font-style: italic;">Village</span>.  I decided I didn't want to get sued by SimCity. <br />Last Friday, I had a viewing of "The New Heroes" documentary.  Eight more people now get why I'm building this game to show off what these social entrepreneurs are doing. <br />Last Sunday, we had our first night of "Synergy" at the 1570.  Tim organized a night where anyone and everyone could share something.  And something we got, everything from songs and poetry, to a guy making gross popping noises with his finger.  Several shared something and deep and personal.  So yeah, there's a lot going on to praise God for these days. <br /><br /><span style="font-weight: bold;">Prayer Requests</span><br />Pray for this coming Friday night, we're having people over to try listening to God.  To some people listening is a foreign concept, usually prayer babbling on until you run out of things to say to God.  Also pray for <a href="http://profile.myspace.com/index.cfm?fuseaction=user.viewprofile&friendid=26508379">Ashley's </a>variety show at our house.  This is a huge step for her.<br /><br />Regarding Village, I'm considering a move to India.  Going to India could help me in several ways: (1) I can hire an Indian game development company to build a playable demo for about 1/4 the cost.  (2) While I'm there I can practice building a third world village in a rural part of India and use that experience better design the game.  (3) My rapidly disappearing finances could last longer at the Indian cost of living and buy me more time to focus full-time on the game.  Moving to the other side of the planet is a huge gamble, and so I could really use a lot of prayer.  If God tells you anything about this plan, please share it with me.