---
layout: post
title: Lovin' it out here on the West Coast
date: '2006-03-04T02:58:00.000-05:00'
author: Darian Hickman
tags: 
modified_time: '2006-11-08T20:36:03.689-05:00'
blogger_id: tag:blogger.com,1999:blog-6308830.post-114146088585087030
blogger_orig_url: http://www.darianhickman.com/2006/03/lovin-it-out-here-on-west-coast.html
---

<a onblur="try {parent.deselectBloggerImageGracefully();} catch(e) {}" href="http://www.darianhickman.com/uploaded_images/DSCN2413-708457.JPG"><img style="margin: 0pt 10px 10px 0pt; float: left; cursor: pointer;" src="http://www.darianhickman.com/uploaded_images/DSCN2413-796534.JPG" alt="" border="0" /></a><br />The wave of cool new people to hang out with just doesn't end!  I am overwhelmed and grateful for all the people that God has brought into my life over the past 2 weeks here on the West Coast.  People who don't even know me except for my website have opened up their homes to me and helped me get rides to various small groups and events.  Since I last blogged, I connected with a Christian group producing a short film for the <a href="http://www.168project.org">168Project.org Film Festival.</a>  They get one week (168 hours) to write, shoot, and edit an 11 minute film on a bible verse given to them at the beginning of the week.  The festival airs the entries on March 11 (my birthday =) ) Just from volunteering as a grip on this project I learned a ton and met a lot of Christians working in various parts of "The Industry".    I'm living some really cool guys up in Pasadena, CA now.  <a href="http://tim-mcginnis.com">Tim McGinnis  </a>heard through the email grape vine that I was looking for a place to stay and him and his roommates are letting me crash on their couch for the duration of my classes.  Mana hooked me up with a 30 day pass to the gym where he's a personal trainer so I'm pretty much set for the next month.  Found a great church, a great gym, great roommates ... now all I have to find is a better mode of transportation than the bus. =)<br /><br />Btw, I finally uploaded my video montage of <a href="http://www.darianhickman.com/2006/03/heres-short-montage-of-clips-i-took.html">Buenos Aires.  Check it out.</a><br /><br />Yesterday I got to catch up with Kelly, one of the interns from the YWAM Orlando I met last summer.  She convinced me to start networking with Myspace, so if you're a Myspace fan: <a href="http://www.myspace.com/darian311">http://www.myspace.com/darian311</a><br /><br />Has ever heard of the <a href="http://www.wciu.edu/">William Carrey Institute</a>?  Me neither.  Since I live two blocks away from it, I decided to go explore.  Of course I met some more cool missionary-minded Christians there and got invited to a movie night; "Born into Brothels"- fantastic documentary by a photographer who lived amongst the children of prostitutes in one of India's red light districts.  See it when you get the chance.<br /><br />Pray for my audition tomorrow.  I found a gig on craigslist.  Somebody at UCLA is shooting a  short film with persecute Jews in it.  If I get the part, I get to play a persecuted Jew again =)  (First time was this past summer playing Jesus when he got crucified.)