---
layout: post
title: Here's a spreadsheet for comparing cars.
date: '2006-04-29T03:41:00.000-05:00'
author: Darian Hickman
tags: 
modified_time: '2006-11-08T20:36:04.322-05:00'
blogger_id: tag:blogger.com,1999:blog-6308830.post-114630012599899080
blogger_orig_url: http://www.darianhickman.com/2006/04/heres-spreadsheet-for-comparing-cars.html
---

Since I've been spending so much time researching cars I may as well share<br />this spreadsheet I built to compare cars.  Let me know if you find it useful<br />or if you find some flaws.<br /><p>http://groups.google.com/group/Darian-Hickman/browse_frm/thread/b8209d0aba279994/3ef40332a109e9e8#3ef40332a109e9e8<br /></p>