---
layout: post
title: Orkut has really cleaned house
date: '2006-12-14T04:44:00.000-05:00'
author: Darian Hickman
tags: 
modified_time: '2006-12-14T04:51:51.913-05:00'
blogger_id: tag:blogger.com,1999:blog-6308830.post-6185563709722004727
blogger_orig_url: http://www.darianhickman.com/2006/12/orkut-has-really-cleaned-house.html
---

<a onblur="try {parent.deselectBloggerImageGracefully();} catch(e) {}" href="http://images3.orkut.com/img/tr10.gif"><img style="cursor: pointer; width: 320px;" src="http://images3.orkut.com/img/tr10.gif" alt="" border="0" /></a><br /><br />Not too long ago the site would crash constantly, the search tool sucked, pages loaded way too slow.  But now all that has changed.  It's more or less what you would expect with the Google brand: fast, reliable, and friendly.<br /><br />Now what we need is a Firefox plugin that can extract my myspace profile and insert it into Orkut and other social networks.  Myspace still sucks by the way.  Hopelessly faulty, annoying ads, slow pages, can't auto-resize photo uploads, just a dumb service all around.  At least the Firefox Adblock will fix the ad problem for you.<br /><br />If you need an invite to orkut email me at firstname@darianhickman.com.