---
layout: post
title: I graduate from NYFA acting for film today.
date: '2006-04-01T02:58:00.000-05:00'
author: Darian Hickman
tags: 
modified_time: '2006-11-08T20:36:04.039-05:00'
blogger_id: tag:blogger.com,1999:blog-6308830.post-114387870049398369
blogger_orig_url: http://www.darianhickman.com/2006/04/i-graduate-from-nyfa-acting-for-film.html
---

<a onblur="try {parent.deselectBloggerImageGracefully();} catch(e) {}" href="http://www.darianhickman.com/uploaded_images/DSCN2447-780228.JPG"><img style="margin: 0pt 10px 10px 0pt; float: left; cursor: pointer;" src="http://www.darianhickman.com/uploaded_images/DSCN2447-768450.JPG" alt="" border="0" /></a><br />This has been one of the best decisions of my life, coming out here and getting in-depth training in the heart of the media industry! Here's a picture of my filmmaking buddies (Toby and Gemini) doing a shoot last weekend for Toby's music video.  Hopefully I can upload some clips from the films I've been in soon.<br /><br />I've been researching to do next.  For the next week I'll be helping my roommate Tim McGinnis produce a short film.  After that I'm probably headed back to Virginia.  I'm also researching a volunteer project with <a href="http://www.needfulprovision.org">Needful Provision</a> in Mexico.  And then after that I'll probably be doing some serious job hunting.