---
layout: post
title: I'm flying back to the US this weekend
date: '2006-02-03T23:22:00.000-05:00'
author: Darian Hickman
tags: 
modified_time: '2006-11-08T20:35:56.700-05:00'
blogger_id: tag:blogger.com,1999:blog-6308830.post-113902695131666978
blogger_orig_url: http://www.darianhickman.com/2006/02/im-flying-back-to-us-this-weekend.html
---

<span class="gmail_quote"></span><br>I changed my ticket.&nbsp; My flight arrives Sunday morning at 11:14 am.&nbsp; By the time I actually get off the plane and get my bags, CrossCurrent will probably be over.&nbsp; Who wants to pick me up? <br><br>I got in some quality conversation with God tonight praying on the roof of the YWAM townhouse here in Buenos Aires.&nbsp; A few things came clear then.&nbsp; I'm coming home this weekend, and I'm getting ready for the month long acting-for-film workshop I applied to before I left.&nbsp; New York Film Academy holds workshops monthly at Universal Studios in California.&nbsp; The one I joined starts March 6, 2006. Pray for my finances; tuition is $2500 and finding a place to stay for a month near Universal Studios could cost $1000 on short notice.&nbsp; Since I've blown all my savings on app fees and plane tickets and notorized documents from Brazil, this is now a nontrivial sum of money to produce.&nbsp;  <br><br>Also a bigger prayer request than that is: pray this new training will shift people's paradigm about me.&nbsp; Pray people will stop thinking &quot;Darian: the guy who can fix my computers and build my websites&quot; and pray they start thinking &quot;Darian: the guy who can help me convey my message on film, on stage, or in-person at a board meeting&quot;.&nbsp; It's been really hard this past year to shift my own paradigm, I never thought leaving behind the tech world would be so hard.&nbsp; Those habits and that approach to solving problems went a lot deeper inside me than I thought.&nbsp; During the past nine years of teaching people how to use technology, I learned that upgrading humans is a lot harder than upgrading technology.&nbsp; Now I realize I'm no exception. <br><br>Regarding Brazil, that ball is in God's court now.&nbsp; I've done everything I can do.&nbsp; If God wants me in Brazil, he's going to have to put on some pastor's heart to give me a job at his church and sponsor my work visa to go down there. I'd still love to go down there and be apart of the spiritual and social renaissance happening there, but I'm done living my life like next month is the month I go to Brazil.&nbsp; Beto, I'd love to come down to Piratininga and help you set up a drama ministry.&nbsp; Hopefully after this intensive workshop I'll be more qualified to do so. <br><br>God Bless Y'all<span class="sg"><br></span> 