---
layout: post
title: Friends
date: '2006-12-28T01:40:00.000-05:00'
author: Darian Hickman
tags:
- friends
modified_time: '2007-11-30T04:33:24.628-05:00'
blogger_id: tag:blogger.com,1999:blog-6308830.post-3282416374693911648
blogger_orig_url: http://www.darianhickman.com/2006/12/friends.html
---

<h3 class="post-title">      Tim McGinnis -  Thursday, May 18, 2006        </h3>                 <div class="post-body">       One of my roommies in Pasadena.<br /><br /><a href="http://tim-mcginnis.com/">http://tim-mcginnis.com/ </a>     </div>         <!-- End .post -->             <!-- Begin .post -->   <div class="post"><a name="111800222243494362"></a>                <h3 class="post-title">      AJDOWNTOWN.com - Experience it! -  Sunday, June 05, 2005        </h3>                 <div class="post-body">       <a href="http://www.ajdowntown.com/">AJDOWNTOWN.com - Experience it!</a> My friend and roommate Adam is going into full-time missions in Morroco in the near future with Campus Crusade for Christ. I spent the last two months reading books of his shelf. Quality stuff like "Witnessing Without Fear", "Master Plan of Evangelism", "Praying with Power".     </div>      </div>   <!-- End .post -->             <!-- Begin .post -->   <div class="post"><a name="111800195028721818"></a></div><!-- End .post -->             <!-- Begin .post -->   <div class="post"><a name="111800164962912524"></a>                <h3 class="post-title">      Kadee Jo's Website -          </h3>                 <div class="post-body">       <a href="http://kadeejo.blogspot.com/">Kadee Jo's Website</a> I made Kadee create a website so she could tell all her friends about her faith and what she's doing about it.     </div>      </div>   <!-- End .post --><!-- Begin .post -->                <a name="111800129742783812"></a>                <h3 class="post-title">      Websites of Friends -          </h3>                        <dl><dt>Here's the links from my old friends page.<br /></dt><dt><a href="http://www.joshfix.org/" add_date="946725226" last_visit="1072938059" last_modified="946725226">A Homepage by Josh Fix</a>     </dt><dt><a href="http://www.ywamconnect.com/sites/farley" add_date="946725134" last_visit="1072938059" last_modified="946725134">Cristin Farley - YWAM Connect - Cristin Farley</a>     </dt><dt><a href="http://gerrys.unfranchise.com/" add_date="1069411101" last_visit="1072938059" last_modified="1069411101">http--gerrys.unfranchise.com-</a>     </dt><dt><a href="http://www.jendasch.com/homepage/right.html" add_date="946725524" last_visit="1072938059" last_modified="946725524">Jen Dasch Brown</a>     </dt><dt><a href="http://www.jendasch.com/homepage/right.html" add_date="946725496" last_visit="1072938059" last_modified="946725496">Jen Dasch</a>     </dt><dt><a href="http://murkylake.com/" add_date="946725419" last_visit="1072938059" last_modified="946725419">Murky Lake</a>     </dt><dt><a href="http://www.jpshouse.com/" add_date="946725203" last_visit="1072938059" last_modified="946725203">NRgizer's Home Page</a>     </dt><dt><a href="http://www.socrstd.com/" add_date="946725245" last_visit="1072938059" last_modified="946725246">Patrick Carlo-Hickman</a>     </dt><dt><a href="http://www.lathanh.com/robert/" add_date="946725050" last_visit="1072938059" last_modified="946725050">The LaThanh Family - Robert</a>     </dt><dt><a href="http://www.crosscurrent.org/" add_date="1069969986" last_visit="1072938059" last_modified="1069969986">Welcome To CrossCurrent!</a> </dt></dl>