---
layout: post
title: 'Biofuels: Think Outside The Barrel'
date: '2006-07-01T17:48:00.000-05:00'
author: Darian Hickman
tags: 
modified_time: '2006-11-08T20:36:06.065-05:00'
blogger_id: tag:blogger.com,1999:blog-6308830.post-115179431941165677
blogger_orig_url: http://www.darianhickman.com/2006/07/biofuels-think-outside-barrel.html
---

<table xmlns="http://purl.org/atom/ns#" border="0" cellpadding="0" cellspacing="0"><tr><td colspan="2"><embed FlashVars="playerMode=embedded" align="middle" allowScriptAccess="sameDomain" bgcolor="#ffffff" id="VideoPlayback" quality="best" salign="TL" scale="noScale" src="http://video.google.com/googleplayer.swf?docId=-570288889128950913" style="width:400px; height:326px;" type="application/x-shockwave-flash"> </embed></td></tr><tr/><tr><td>Google TechTalks<br />March 29, 2006<br /><br />Vinod Khosla<br /><br />Vinod Khosla is a venture capitalist considered one of the most successful and influential personalities in Silicon Valley. He was one of the co-founders of Sun Microsystems and became a general partner of the venture capital firm Kleiner, Perkins, Caufield &amp; Byers in 1986. In 2004 he formed Khosla Ventures.<br /><br />ABSTRACT<br />On Wednesday, March 29th, by invitation from our co-founders and CEO, our special guest, Vinod Khosla, visited Google to deliver a tech talk about the emergence of ethanol as a viable, market ready, and competitive source of renewable energy.  <br /><br />His presentation has been making huge waves in the investor, policy, and business communities and we are privileged to have had him take time to talk to us about the tremendous potential for ethanol's explosion into the market. Here are some recent articles that might be of interest in relation to this talk:<br /><br />Vinod Khosla, a Silicon Valley billionaire, who wants to save the world from oil<br />http://www.economist.com/people/displaystory.cfm?story_id=5655161<br /><br />On the Ethanol Bandwagon, Big Names and Big Risks <br />http://www.nytimes.com/2006/03/26/business/yourmoney/26etha.html?_r=1&amp;oref=login<br />                </td></tr></table>