---
layout: post
title: Village is a slow journey and I'm going to enjoy it.
date: '2006-07-10T20:53:00.000-05:00'
author: Darian Hickman
tags: 
modified_time: '2006-11-08T20:36:06.166-05:00'
blogger_id: tag:blogger.com,1999:blog-6308830.post-115258477992268304
blogger_orig_url: http://www.darianhickman.com/2006/07/village-is-slow-journey-and-im-going.html
---

<a onblur="try {parent.deselectBloggerImageGracefully();} catch(e) {}" href="http://www.darianhickman.com/uploaded_images/lineart1-729860.jpg"><img style="margin: 0px auto 10px; display: block; text-align: center; cursor: pointer;" src="http://www.darianhickman.com/uploaded_images/lineart1-716919.jpg" alt="" border="0" /></a>Here's the latest update of the cover art for <a href="http://www.villagethegame.com">Village.</a>  Btw, update your bookmarks: Village lives at http://www.villagethegame.com now not simvillage.blogspot.com.  We've been having a great time of prayer at the 1570.  We've done the "listening experiment" a few times now and it's gone really well.  It's Tim's and my way of introducing people to the experience that you can ask God questions and He'll actually respond with words or pictures.  A few of us prayed the other night about Village and what I'm supposed to do next.  Ashley got the word "play". And Tim got some impression that I needed to figure out why I had such contempt for the way God does things.  That same night I had a dream I was goofing off with Patrick, my younger brother.  He started berating me because I was being a clutz and so I smacked him upside the head.  In typical little brother fashion, he asked "What do you want from me?".  "Patience" I replied in the dream.  Of course, Dad was watching all this happen so he got up out of his chair and smacked me upside my head.  Knowing fully why he smacked me, I just looked at him and stubbornly replied, "So be it."  .... So after waking from this awkward family dream, I realized several things.  God wants me to show more mercy towards others and more patience towards God.  (If you want a fuller interpretation of the dream email me.)  Building Village is going to take a while and God is okay with that so I have to be okay with that too.  Ashley's word "play" is the only option.  I have to enjoy this journey or it won't happen.  There is no option to 'suck it up', ignore the pain, and just sprint to the finish line like I did repeatedly for four years in college.  So Village is going to be a long journey and I'm going to enjoy it.  =)