---
layout: post
title: Synergy Pics
date: '2006-06-23T01:09:00.000-05:00'
author: Darian Hickman
tags: 
modified_time: '2006-11-08T20:36:05.852-05:00'
blogger_id: tag:blogger.com,1999:blog-6308830.post-115104297878956487
blogger_orig_url: http://www.darianhickman.com/2006/06/synergy-pics.html
---

<img src="http://web1.shutterfly.com/img_/share/shracq_wel_to_sfly_t1.gif" alt="Welcome to Shutterfly!" style="display: block; margin-bottom: 15px;" height="76" width="339">                    <table border="0" cellpadding="0" cellspacing="0" width="700"><tbody><tr> <td nowrap="nowrap" width="30"><img src="http://web1.shutterfly.com/img_/misc/sp.gif" alt="" height="1" width="30"></td> <td nowrap="nowrap" width="405"><img src="http://web1.shutterfly.com/img_/misc/sp.gif" alt="" height="1" width="405"></td> <td nowrap="nowrap" width="20"><img src="http://web1.shutterfly.com/img_/misc/sp.gif" alt="" height="1" width="15"></td> <td nowrap="nowrap" width="240"><img src="http://web1.shutterfly.com/img_/misc/sp.gif" alt="" height="1" width="240"></td> <td nowrap="nowrap" width="5"><img src="http://web1.shutterfly.com/img_/misc/sp.gif" alt="" height="1" width="5"></td> </tr>               			 <tr valign="top"> <td><img src="http://web1.shutterfly.com/img_/misc/sp.gif" alt="" height="1" width="1"></td> <td style="vertical-align: top;"> <table border="0" cellpadding="0" cellspacing="0" width="100%"> <tbody><tr><td width="100%">     <div id="featuredAlbum"> <table border="0" cellpadding="0" cellspacing="0" width="100%">  <tbody><tr><td width="100%">              <div class="albumlist">    <div style="margin-bottom: 0.5em;" align="center"><a href="http://share.evite.shutterfly.com/action/pictures?a=67b0de21b339fa5684bb"><img src="http://shim1.shutterfly.com/procgserv/47b6d803b3127cce98548a76b03f00000018100CaNmzRq0ZMX"> </a></div>        <a href="http://share.evite.shutterfly.com/action/pictures?a=67b0de21b339fa5684bb&amp;sid=0CaNmzRq0ZMXEQ"><img src="http://web1.shutterfly.com/img_/collection/common/view_pictures_R.gif" style="margin: 0.5em 2em 0pt 0pt; float: right;" alt="view pictures" height="25" width="110"> </a>       <p> <a href="http://share.evite.shutterfly.com/action/pictures?a=67b0de21b339fa5684bb&amp;sid=0CaNmzRq0ZMXEQ">SYNERGY</a> <span class="minor">(10&nbsp;pictures)</span></p>       <p class="by">Added by <em>Tim M.</em> on Jun 22, 2006</p></div></td></tr></tbody></table></div></td></tr></tbody></table></td></tr></tbody></table><br> 