---
layout: post
title: javascript AJAX prototype for online game
date: '2006-06-18T05:43:00.000-05:00'
author: Darian Hickman
tags: 
modified_time: '2006-11-08T20:36:05.464-05:00'
blogger_id: tag:blogger.com,1999:blog-6308830.post-115062740929160959
blogger_orig_url: http://www.darianhickman.com/2006/06/javascript-ajax-prototype-for-online.html
---

 <hr> Reply to: <a href="mailto:gigs-172746548@craigslist.org?subject=javascript%20AJAX%20prototype%20for%20online%20game">gigs-172746548@craigslist.org</a><br> Date: 2006-06-18,  3:33AM PDT<br> <br> <br> VillagetheGame.com is going to be a online game where you practice building villages in third world countries. Using real-world technology and businesses custom designed for developing nations you must set your village onto the path of prosperity. A great example of this technology is Kickstart's Money Maker pump <a href="http://www.kickstart.org./">http://www.kickstart.org.</a>   <br> <br> I need someone experienced with javascript development, preferably somebody who has built a game in javascript. The full design doc for this prototype can be found at: <br> <a href="http://simvillage.blogspot.com/2006/06/webvillage-simvillages-first-prototype.html">http://simvillage.blogspot.com/2006/06/webvillage-simvillages-first-prototype.html</a>   <br><br> <ul style="margin-left: 0px; padding-left: 3px; list-style-type: none; list-style-image: none; list-style-position: outside; font-size: smaller;"><li> <font>no</font> --  it's NOT ok to contact this poster with services or other commercial interests <br> </li><li> Compensation: looking for bids.  </li></ul> 