---
layout: post
title: Photos from my Kenya trip Sept 14th - Sept 26th 2006
date: '2006-09-30T07:39:00.000-05:00'
author: Darian Hickman
tags: 
modified_time: '2006-11-08T20:36:06.690-05:00'
thumbnail: http://lh4.google.com/darian.hickman/RR5Uarb0ABE/AAAAAAAAAOM/9ECI-mGb9Gg/s72-c/Kenya.jpg?imgmax=160&crop=1
blogger_id: tag:blogger.com,1999:blog-6308830.post-115961999224995315
blogger_orig_url: http://www.darianhickman.com/2006/09/photos-from-my-kenya-trip-sept-14th.html
---

<table id="lhid_albumbox"> <tbody> <tr> <td id="lhid_albuminfobox"> <script type="text/javascript"> var _picasaInstalled = !!(navigator.mimeTypes['application/x-picasa-detect'] ||   navigator.mimeTypes['application/x-picasa']); </script>  <script type="text/javascript">   _picasaInstalled = true; </script>  <script type="text/javascript">  var _editAlbumPath = "";    </script>  <div class="lhcl_prettybox" id="lhid_albumdetailsbox"> <table id="lhid_albumdetails"> <tbody> <tr> <td align="center"> <div class="lhcl_album_detail"> <div class="lhcl_frame"> <div class="lhcl_padding"><a href="http://picasaweb.google.com/darian.hickman/Kenya"><img id="lhcl_cover_id" style="border-style: none;" src="http://lh4.google.com/darian.hickman/RR5Uarb0ABE/AAAAAAAAAOM/9ECI-mGb9Gg/Kenya.jpg?imgmax=160&amp;crop=1" height="160" width="160" /></a> </div></div></div></td></tr> <tr> <td class="lhcl_body"> <div class="lhcl_info"> <div class="lhcl_title"><a href="http://picasaweb.google.com/darian.hickman/Kenya">Kenya</a></div> <div id="lhid_meta"><a href="http://picasaweb.google.com/darian.hickman/Kenya">Sep 27, 2006 - 24 photos - 8 MB<span id="lhid_unlisted"><br /></span></a> </div></div> <div class="lhcl_text"><a href="http://picasaweb.google.com/darian.hickman/Kenya">Photos from my Kenya trip Sept 14th - Sept 26th 2006</a></div></td></tr></tbody></table></div></td></tr></tbody></table>