---
layout: post
title: Come see "The New Heroes" documentary
date: '2006-06-15T16:26:00.000-05:00'
author: Darian Hickman
tags: 
modified_time: '2006-11-08T20:36:05.362-05:00'
blogger_id: tag:blogger.com,1999:blog-6308830.post-115040676022345728
blogger_orig_url: http://www.darianhickman.com/2006/06/come-see-new-heroes-documentary.html
---

When: 8pm Fri, Jun 16, 2006<br>Where:1570 N Holliston Ave, Pasadena CA 91104 <br><a href="http://www.pbs.org/opb/thenewheroes/">http://www.pbs.org/opb/thenewheroes/</a><br><br>The New Heroes tells the dramatic stories of 14 daring people from all corners of the globe who, against all odds, are successfully alleviating poverty and illness, combating unemployment and violence, and bringing education, light, opportunity and freedom to poor and marginalized people around the world. <br><br>Also known as &quot;social entrepreneurs,&quot; they develop innovations that bring life-changing tools and resources to people desperate for viable solutions. What is possible? You'd be surprised. Take a journey into a world where people take action to make a big difference.  <br><br>Drinks and snacks will already be there.&nbsp; Bring extra stuff if you want.&nbsp; Let me know if you need directions. <br><br clear="all"> Reply to: <a href="mailto:comm-171965169@craigslist.org?subject=Come%20see%20%22The%20New%20Heroes%22%20documentary">comm-171965169@craigslist.org</a><br> 