---
layout: post
title: I finally got a car!  Praise God!
date: '2006-05-02T19:33:00.000-05:00'
author: Darian Hickman
tags: 
modified_time: '2006-11-08T20:36:04.620-05:00'
blogger_id: tag:blogger.com,1999:blog-6308830.post-114661938228224993
blogger_orig_url: http://www.darianhickman.com/2006/05/i-finally-got-car-praise-god.html
---

<a href="http://www.darianhickman.com/uploaded_images/DSCN2552-756011.JPG"><img style="CLEAR: all; FLOAT: left; MARGIN: 0px 10px 10px 0px; CURSOR: hand" alt="" src="http://www.darianhickman.com/uploaded_images/DSCN2552-725460.JPG" border="0" /></a>A lady in Pasadena was nice enough to sell me her 2003 VW Jetta GL for $8k.  So now I can go to classes and audtions without having to beg the roommates for rides.  Good times.  Now all I have to do is figure out insurance and how to pay for it. =)<br /><br />Life is slow but good these days.  Not a whole lot of acting going on but a whole lot of <a href="http://www.darianhickman.com/2006/04/heres-films-ive-done-at-nyfa-so-far.html">uploading videos</a>, sifting through <a href="http://www.craigslist.org">craigslist</a>, researching classes and <a href="http://www.nowcasting.com">nowcasting.com</a> listings, business cards, head shots, blah, blah, blah....<br /><br />The roommate <a href="http://www.tim-mcginnis.com">Tim McGinnis </a> is going hard core with his Life Coaching business.  It's been cool to pray with him and the other guys in the house on all the goals and dreams we are all pursuing.  It's like mini-YWAM in this house.  I love it!<br /><br />Ooh! I almost forgot... I went to the Biola Media Conference this weekend and it was awesome!  The conference is an annual meeting to network and attend workshops to help Christians who have come to influence Hollywood.  I had no idea how big the Christian movement in Hollywood really was until I went to this event.   There's a movie coming out to the theatres on September 29th called "Facing the Giants".  It's awesome!  A multimedia pastor from Albany Georgia put this film together for $100,000 with his church as the crew and his actors.  It's all done with nonprofessional actors and nonprofessional crew.  Sony got wind of it and they are distributing it in 380 theatres nationwide this fall.&nbsp;<a href='http://picasa.google.com/blogger/' target='ext'><img src='http://photos1.blogger.com/pbp.gif' alt='Posted by Picasa' style='border: 0px none ; padding: 0px; background: transparent none repeat scroll 0% 50%; -moz-background-clip: initial; -moz-background-origin: initial; -moz-background-inline-policy: initial;' align='middle' border='0' /></a> 