---
layout: post
title: Two awesome microenterprise sites
date: '2006-06-27T00:20:00.000-05:00'
author: Darian Hickman
tags:
- village the game
- about me
modified_time: '2006-11-08T20:36:05.961-05:00'
blogger_id: tag:blogger.com,1999:blog-6308830.post-115138591058152898
blogger_orig_url: http://www.darianhickman.com/2006/06/two-awesome-microenterprise-sites.html
---

I just discovered 2 awesome sites:<br /><a href="http://www.kiva.org">http://www.kiva.org </a><br />Kiva is an online microcredit service. Now anyone with $25 and Paypal can become a microcredit lender.  Sign up with this site and lend money to the microentrepreneurs of your choice.<br /><br /><a href="http://www.nextbillion.net">http://www.nextbillion.net </a><br />NextBillion.net brings together the community of business leaders, social entrepreneurs, NGOs, policy makers, and academics who want to explore the connection between development and enterprise. Create an account today and start sharing your thoughts. <a href="http://www.nextbillion.net/about"> Read more...</a>