---
layout: post
title: anybody want to help finish googleopoly?
date: '2006-01-21T01:13:00.000-05:00'
author: Darian Hickman
tags: 
modified_time: '2006-11-08T20:35:55.893-05:00'
blogger_id: tag:blogger.com,1999:blog-6308830.post-113782403140853061
blogger_orig_url: http://www.darianhickman.com/2006/01/anybody-want-to-help-finish.html
---

I've uploaded a rough draft of the googleopoly gameboard.&nbsp; Scroll down to the bottom of the page to see the deed cards that I've been making in Photoshop.<br><a href="http://www.darianhickman.com/googleopoly/">http://www.darianhickman.com/googleopoly/ </a><br>&nbsp;<br>Look into <a href="http://www.darianhickman.com/googleopoly/deedcards">http://www.darianhickman.com/googleopoly/deedcards</a> to get the psd files you can use to create the additional deed cards.&nbsp; I could really use some help with this. <br> 