---
layout: post
title: Hyderabad is crowded, noisy, and mostly friendly.
date: '2006-09-29T05:50:00.000-05:00'
author: Darian Hickman
tags: 
modified_time: '2006-11-08T20:36:06.583-05:00'
blogger_id: tag:blogger.com,1999:blog-6308830.post-115952759144808483
blogger_orig_url: http://www.darianhickman.com/2006/09/hyderabad-is-crowded-noisy-and-mostly.html
---

<a href="http://www.darianhickman.com/uploaded_images/HPIM0292-788852.JPG"><img style="CLEAR: all; FLOAT: left; MARGIN: 0px 10px 10px 0px; CURSOR: hand" alt="" src="http://www.darianhickman.com/uploaded_images/HPIM0292-784798.JPG" border="0" /></a>  Here's my view from a mini-taxi.  There are no road laws in Hyderabad.  Crossing a street in Hyderabad is like playing Frogger except more air pollution.  I found a restaurant yesterday with food that doesn't burn holes through my intestine.  Chicken Kandahar is my friend. =)  Have you heard the stereotype that Indians are great at hospitality but bad tippers?  It's true.  The people I'm visiting with go out of their way to make me welcome, walking around with me, or fetching me coffee, or showing me to restaurants.   Then after dinner at the restaurant when I pay the bill they usually take half the tip I leave and put it back in my wallet.   =)&nbsp;<a href='http://picasa.google.com/blogger/' target='ext'><img src='http://photos1.blogger.com/pbp.gif' alt='Posted by Picasa' style='border: 0px none ; padding: 0px; background: transparent none repeat scroll 0% 50%; -moz-background-clip: initial; -moz-background-origin: initial; -moz-background-inline-policy: initial;' align='middle' border='0' /></a> 