---
layout: post
title: Here's the films I've done at NYFA so far.
date: '2006-04-22T18:54:00.000-05:00'
author: Darian Hickman
tags: 
modified_time: '2006-11-08T20:36:04.227-05:00'
blogger_id: tag:blogger.com,1999:blog-6308830.post-114575067047690467
blogger_orig_url: http://www.darianhickman.com/2006/04/heres-films-ive-done-at-nyfa-so-far.html
---

<table id="report" class="report" cellpadding="5" cellspacing="0" width="100%"><tbody><tr id="1" class="unselected"><td style="text-align: left;" class="" valign="top">All these links will take you to Google Video where these videos are hosted.  Enjoy!  These are all student projects I did in the last 7 weeks.  Some good, some great, some whatever.  You decide.<br /><br /><a href="http://video.google.com/videoplay?docid=8773621063982958853" target="new">Akanksha's Sister teaches us to dance.</a>   </td>   </tr>      <tr id="4" class="unselected"> <td style="text-align: left;" class="" valign="top">   <a href="http://video.google.com/videoplay?docid=1422127465786088921" target="new">Drinking in LA</a>   </td>   </tr>  <tr id="5" class="unselected"> <td style="text-align: left;" class="" valign="top">   <a href="http://video.google.com/videoplay?docid=-3928918355615146372" target="new">F*cked by a Knife</a>   </td>   </tr>      <tr id="8" class="unselected"> <td style="text-align: left;" class="" valign="top">   <a href="http://video.google.com/videoplay?docid=6711657432481569265" target="new">Messed Up</a>   </td>   </tr>  <tr id="9" class="unselected"> <td style="text-align: left;" class="" valign="top">   <a href="http://video.google.com/videoplay?docid=9155847865660928696" target="new">Mind on Fire</a>   </td>   </tr>  <tr id="10" class="unselected"> <td style="text-align: left;" class="" valign="top">   <a href="http://video.google.com/videoplay?docid=-3744562112279031393" target="new">Naughty George</a>   </td>   </tr>  <tr id="11" class="unselected"> <td style="text-align: left;" class="" valign="top">   <a href="http://video.google.com/videoplay?docid=-3096503151158763258" target="new">Picker</a>   </td>   </tr>  <tr id="12" class="unselected"> <td style="text-align: left;" class="" valign="top">   <a href="http://video.google.com/videoplay?docid=19482906253365421" target="new">The Champ</a>   </td>   </tr>  <tr id="13" class="unselected"> <td style="text-align: left;" class="" valign="top">   <a href="http://video.google.com/videoplay?docid=-4536975177990493311" target="new">The Spy Who Annoyed Me</a>   </td>   </tr>  <tr id="14" class="unselected"> <td style="text-align: left;" class="" valign="top"> <br /></td></tr></tbody></table>