---
layout: post
title: Buy Some Rosetta Stone
date: '2006-12-28T01:50:00.000-05:00'
author: Darian Hickman
tags:
- store
modified_time: '2006-12-28T01:53:16.457-05:00'
blogger_id: tag:blogger.com,1999:blog-6308830.post-5831413844934511463
blogger_orig_url: http://www.darianhickman.com/2006/12/buy-some-rosetta-stone.html
---

<h3 class="post-title">      Rosetta Stone: Learn a foreign language with powerful learning software -          </h3>                        <div class="desc"> I've been using Rosetta Stone software to learn Portuguese and absolutely love it.  Most courses teach you to translate from English to another language. Rosetta Stone uses pictures and audio to connect the language straight to the concept like when you learned your native language. This is powerful learning software! </div>  <a href="http://www.jdoqocy.com/3k116iqzwqyDFLFKHLMDFEHLNGGL" target="_blank" onmouseover="window.status='http://www.rosettastone.com';return true;" onmouseout="window.status=' ';return true;"> <img src="http://www.afcyhf.com/mk121c37w1-LNTNSPTULNMPTVOOT" alt="Rosetta Stone Language Software" border="0" /></a>