---
layout: post
title: Pray for Kay
date: '2006-08-28T14:38:00.000-05:00'
author: Darian Hickman
tags: 
modified_time: '2006-11-08T20:36:06.389-05:00'
blogger_id: tag:blogger.com,1999:blog-6308830.post-115679441776284529
blogger_orig_url: http://www.darianhickman.com/2006/08/pray-for-kay.html
---

<dl class="profile-datablock"><dt class="profile-img"> <a href="profile/16243318"> <img alt="My Photo" src="http://photos1.blogger.com/blogger/6774/1982/200/ksling.jpg" height="80" width="74" /></a></dt><dt class="profile-img">One of my YWAM buddies from YWAM Virginia, Kay just found out she has some cysts on her thyroid and a couple of them are probably cancerous.  Pray for her complete recovery.  She's been in Brazil helping start up a School of Jewish Studies there and is planned to go to Kiev, Ukraine to help with their SJS as well.<br /></dt></dl>