---
layout: post
title: What has Jesus done for me?
date: '2006-01-21T20:03:00.000-05:00'
author: Darian Hickman
tags: 
modified_time: '2006-11-08T20:35:56.044-05:00'
blogger_id: tag:blogger.com,1999:blog-6308830.post-113789321813083710
blogger_orig_url: http://www.darianhickman.com/2006/01/what-has-jesus-done-for-me.html
---

He defined a simple path: Love God; Love Others.<br />He showed me what the highest priorities were; and cleared a simple path to happiness.  If I can choose to care about what he cares about and to not care about the things he doesn't care about then my life will be gloriously simple and beautiful.  And that doesn't even mention his grace and mercy.  He's my link back to God the Father.  I've screwed up that connection like all the rest of us and he paid the ultimate price to fix that.<br /><br />Jesus showed me what I should care about.  When I don't get sidetracked from His goals, I always experience something meaningful.<br /><br />More most of my life Jesus was mainly my spiritual role model.  As grew my understanding of salvation, then Jesus became my Savior.