---
layout: post
title: The Synergy clips are up
date: '2006-06-23T01:07:00.000-05:00'
author: Darian Hickman
tags: 
modified_time: '2006-11-08T20:36:05.748-05:00'
blogger_id: tag:blogger.com,1999:blog-6308830.post-115104283282056057
blogger_orig_url: http://www.darianhickman.com/2006/06/synergy-clips-are-up.html
---

<br><div>Check out <a href="http://tim-mcginnis.com/audio.html" target="_blank" onclick="return top.js.OpenExtLink(window,event,this)">http://tim-mcginnis.com/audio.html</a> for all the Synergy clips from last Sunday June 18 <br><br> There are 12 video clips and 28 audio clips available for you to download and share with your friends.  <br clear="all"><br>Share 'em with your friends. Check out the upcoming events at the bottom of the post. <br><br>Too much fun. tim<br></div><div><span class="sg">-- <br>Tim McGinnis, MA<br>Life Purpose Catalyst<br><a href="http://tim-mcginnis.com" target="_blank" onclick="return top.js.OpenExtLink(window,event,this)">  http://tim-mcginnis.com</a><br>310-384-2425   </span></div><br clear="all"><br> 