---
layout: post
title: My first Skypecast podcast thinga-ma-jigger.
date: '2006-12-18T21:00:00.000-05:00'
author: Darian Hickman
tags:
- village the game
- interview
- podcast
modified_time: '2006-12-21T06:33:39.654-05:00'
blogger_id: tag:blogger.com,1999:blog-6308830.post-5459926253008662670
blogger_orig_url: http://www.darianhickman.com/2006/12/my-first-skypecast-podcast-thinga-ma.html
---

<a onblur="try {parent.deselectBloggerImageGracefully();} catch(e) {}" href="http://www.nonprofittechblog.org"><img style="margin: 0pt 10px 10px 0pt; float: left; cursor: pointer;" src="http://www.darianhickman.com/uploaded_images/nonprofittechblog-787735.jpg" alt="" border="0" /></a>It wasn't my smoothest talk ever, but it went pretty well.  Allan Benamer author of <a href="http://www.nonprofittechblog.org/">www.NonprofitTechBlog.org </a> interviewed me for a podcast.  I've never listened to a podcast much less made one, so this is a pretty cool first-time experience. :)<br /><br />Village development is going pretty well.  Seattle didn't have power this weekend due to trees falling on power lines, so my programmer Anton has some catchup to do but nothing scary. For you game geeks out there our main algorithm challenge is pathfinding for characters on the map.<br /><br />Things here in Palo Alto are pretty quiet.  Most of the Stanford students have vacated the premises for the holidays.  I will too but not until Christmas day.  I'm doing a pseudo-holiday of one week in VA.