---
layout: post
title: I'm in Northern Va now until Sunday.
date: '2006-01-19T13:52:00.000-05:00'
author: Darian Hickman
tags: 
modified_time: '2006-11-08T20:35:55.775-05:00'
blogger_id: tag:blogger.com,1999:blog-6308830.post-113769672717778684
blogger_orig_url: http://www.darianhickman.com/2006/01/im-in-northern-va-now-until-sunday.html
---

<a onblur="try {parent.deselectBloggerImageGracefully();} catch(e) {}" href="http://www.darianhickman.com/uploaded_images/yahoo-chat-789736.gif"><img style="margin: 0pt 10px 10px 0pt; float: left; cursor: pointer;" src="http://www.darianhickman.com/uploaded_images/yahoo-chat-784347.gif" alt="" border="0" /></a><a onblur="try {parent.deselectBloggerImageGracefully();} catch(e) {}" href="http://www.darianhickman.com/uploaded_images/blogger-797658.gif"><img style="margin: 0pt 10px 10px 0pt; float: left; cursor: pointer;" src="http://www.darianhickman.com/uploaded_images/blogger-786356.gif" alt="" border="0" /></a><br /><br />I just finished having a great visit with my Dad's side of the family in Indiana and now I'm in Northern VA at JP's house.  Give me a call if you're in the area.  Keep praying for my visa too.  I should be getting that back this week.  Also I'm looking for help with making the deed cards for Googleopoly.  Let me know if you want to help.