---
layout: post
title: I'm back in Cali. Yay!!
date: '2006-10-28T02:31:00.000-05:00'
author: Darian Hickman
tags: 
modified_time: '2006-11-08T20:36:06.891-05:00'
blogger_id: tag:blogger.com,1999:blog-6308830.post-116202156227891371
blogger_orig_url: http://www.darianhickman.com/2006/10/im-back-in-cali-yay.html
---

<a onblur="try {parent.deselectBloggerImageGracefully();} catch(e) {}" href="http://www.darianhickman.com/uploaded_images/solarpanelstorefront-768151.jpg"><img style="margin: 0pt 10px 10px 0pt; float: left; cursor: pointer;" src="http://www.darianhickman.com/uploaded_images/solarpanelstorefront-758783.jpg" alt="" border="0" /></a>I flew into Burbank Thursday afternoon, caught with Allan at YWAM LA, got my wonder VW Jetta back, and had a good time visiting with the new crop of students there.  After a great meeting with Blake about the artwork for the card game and video game I headed back up YWAM LA. Get this, I accidentally fasted the entire day until dinner with YWAM LA which was pretty cool because the YWAM students themselves were fasting on purpose. <br /><br />Things are really moving forward with Village, too.  Today I had lunch with a Fuller student named Shanek Fernando, who just happens to want to make a reality tv show about international development as well.  Village the Show, of course, you knew it was coming. =) <br /><br />My body is still on two timezones I think, I'm not sure which ones though.  I'm dead tired in the afternoon around 2; take a quick 3 hour nap; and I'm still falling asleep at midnight.  Hmm... go figure.<br /><br />I'm at the 1570 again up in Pasadena.  If you're in the area give me a call.