---
layout: post
title: All kinds a Village going on
date: '2006-08-16T17:18:00.000-05:00'
author: Darian Hickman
tags: 
modified_time: '2006-11-08T20:36:06.291-05:00'
blogger_id: tag:blogger.com,1999:blog-6308830.post-115577568805724375
blogger_orig_url: http://www.darianhickman.com/2006/08/all-kinds-village-going-on.html
---

<a onblur="try {parent.deselectBloggerImageGracefully();} catch(e) {}" href="http://www.villagethegame.com/uploaded_images/lineworkshading.jpg"><img style="float:left; margin:0 10px 10px 0;cursor:pointer; cursor:hand;width: 320px;" src="http://www.villagethegame.com/uploaded_images/lineworkshading.jpg" border="0" alt="" /></a><br />Village Map ... Village Board Game ... Village Demo.  <br />I haven't written in a month.... wow!  I've been posting mostly on the blog at http://www.villagethegame.com.  August has been pretty tame.  Lots of emails, lots of phone calls, and just Hezbollah to keep me entertained.  Last night I played the most annoying game of chess ever with my friend Josh.  Three times I "knew" I had em and of course, it ends stalemate. Punk.  <br /><br />I was planning on a trip to California for a quick visit but I don't think that's going to happen.  I'm burning through my money too fast and I'll probably be headed back there before winter anyways.  Now it's looking like a week in South Carolina at the Zadok House of Prayer.  Hopefully I can get recentered before I head off to Kenya on August 29th.  Did I mention I was going to Africa?  Yep Africa.  Everyone's doing it. Why not.  After Kenya for a month, Hyderabad, India for a month.  Between those two continents I hope to ge t a lot of research and development done for Village. So VillagetheGame.com is probably going to have a lot more activity than DarianHickman.com.  My personal life is on hold at the moment.  No women, no Kung Fu, no soccer, nothing except Village and the occasional boob tube perusal.  But hey, I'm learning a lot.  I figure the amount of money I'll probably spend on Village is equal to about a year at Stanford Business School and I'll probably learn just as much, too. We'll see.