---
layout: post
title: This is so brilliant I had to share.
date: '2007-02-04T04:46:00.000-05:00'
author: Darian Hickman
tags:
- funny
- village the game
modified_time: '2007-02-04T04:48:05.341-05:00'
blogger_id: tag:blogger.com,1999:blog-6308830.post-8215482787566052979
blogger_orig_url: http://www.darianhickman.com/2007/02/this-is-so-brilliant-i-had-to-share.html
---

This is outright ingenious! Researchers at CMU have figured out how to turn tasks still difficult for computers into games for humans. They are creating a new concept called human computation, and they're getting it done by creating simple games playable over the internet that are pretty similar to games like Catchphrase or Taboo. I wonder if this has any application to identifying solutions to extreme poverty?<br /><br />http://video.google.com/videoplay?docid=-8246463980976635143<br /><br /><embed style="width:400px; height:326px;" id="VideoPlayback" type="application/x-shockwave-flash" src="http://video.google.com/googleplayer.swf?docId=-8246463980976635143&hl=en" flashvars="&subtitle=on"> </embed>