---
layout: post
title: Who wants a job at Kiva?
date: '2007-05-17T16:21:00.000-05:00'
author: Darian Hickman
tags: 
modified_time: '2007-05-17T16:25:55.857-05:00'
blogger_id: tag:blogger.com,1999:blog-6308830.post-6836919884190185361
blogger_orig_url: http://www.darianhickman.com/2007/05/who-wants-job-at-kiva.html
---

<a href="http://www.kiva.org/" target="_top"><br /><img src="http://www.kiva.org/images/bannersmall.png" alt="Kiva - loans that change lives" align="bottom" border="0" height="45" width="95" /></a><br />I just had a chat with the new CTO of Kiva, Sam <span style="font-weight: normal;" class="lg">Mankiewicz,</span> and he mentioned a couple positions open for software engineers.  If you got Linux Apache Mysql Php skills and want to be a part of the microcredit revolution definitely check out these job links:<br /><a href="http://www.kiva.org/about/job3.php" target="_blank" onclick="return top.js.OpenExtLink(window,event,this)"> http://www.kiva.org/about/job3<wbr>.php</a><br /><a href="http://www.kiva.org/about/job4.php" target="_blank" onclick="return top.js.OpenExtLink(window,event,this)">http://www.kiva.org/about/job4<wbr>.php</a>