---
layout: post
title: Robot dance.  Kinda old by Youtube standards but outright amazing.
date: '2007-03-17T02:00:00.000-05:00'
author: Darian Hickman
tags: 
modified_time: '2007-03-17T02:02:25.690-05:00'
blogger_id: tag:blogger.com,1999:blog-6308830.post-2637383010943954866
blogger_orig_url: http://www.darianhickman.com/2007/03/robot-dance-kinda-old-by-youtube.html
---

<object width="425" height="350"><param name="movie" value="http://www.youtube.com/v/HSoVKUVOnfQ"></param><param name="wmode" value="transparent"></param><embed src="http://www.youtube.com/v/HSoVKUVOnfQ" type="application/x-shockwave-flash" wmode="transparent" width="425" height="350"></embed></object>