---
layout: post
title: Anybody need a some great back up software?
date: '2007-05-01T02:10:00.000-05:00'
author: Darian Hickman
tags: 
modified_time: '2007-05-01T02:11:46.939-05:00'
blogger_id: tag:blogger.com,1999:blog-6308830.post-2910671286924797128
blogger_orig_url: http://www.darianhickman.com/2007/05/anybody-need-some-great-back-up.html
---

<div id="mb_0">        <div> <p>Dear Darian Decarlo Hickman </p> <p>Thank you for choosing Genie-Soft's Genie Backup Manager Home Edition  </p> <p>Genie-Soft would like to reach out to your friends, colleagues, family members, and loved ones with a generous offer <strong>from you </strong>. Just refer to us the email addresses of at least <strong>3 people </strong> whom you believe would benefit from owning a utility such as Genie Backup Manager Home Edition. And we'll <strong>spread the joy </strong> to them by extending a 35% discount on the same software title.  </p> <p>So spread the joy by clicking the link below: <br />    <a href="http://www.genie-soft.com/asp/Community/GenieFriendlySmile.aspx?cid=MTI5MDgy&pid=Nzc2NDg%3d&amp;prd=14" target="_blank" onclick="return top.js.OpenExtLink(window,event,this)"> http://www.genie-soft.com/asp<wbr>/Community/GenieFriendlySmile<wbr>.aspx?cid=MTI5MDgy&pid=Nzc2NDg<wbr>%3d&amp;prd=14 </a><br />    <em>If this link is not working, please COPY and PASTE the  entire link into your browser </em></p> <p>Not only will that make your friends' day, but also when only 3 of these referrals buy Genie Backup Manager Home Edition, you will get an additional complementary license of (GBM Home) or a free upgrade to the upcoming major version.  </p> <p>Your efforts with us never go unrewarded.  </p> <p><strong><em>Please note that any email address you provide will be used solely for the purpose of sending this invitation, and they will not be saved, used again, or given to a third party. </em></strong></p> <p>Genie-Soft wishes you, your family, and friends an enjoyable backup experience Genie Backup Manager Home  offers. </p> <p>Sincerely,<br />  The Genie-Soft Team<br />  <a href="http://www.genie-soft.com/" target="_blank" onclick="return top.js.OpenExtLink(window,event,this)">www.genie-soft.com </a></p> </div> </div>