---
layout: post
title: Get a Wii
date: '2007-04-14T23:03:00.000-05:00'
author: Darian Hickman
tags: 
modified_time: '2007-04-14T23:12:04.612-05:00'
blogger_id: tag:blogger.com,1999:blog-6308830.post-4275293754379213641
blogger_orig_url: http://www.darianhickman.com/2007/04/get-wii.html
---

<a onblur="try {parent.deselectBloggerImageGracefully();} catch(e) {}" href="http://wii-wii.us/pic.gif"><img style="float:left; margin:0 10px 10px 0;cursor:pointer; cursor:hand;width: 320px;" src="http://wii-wii.us/pic.gif" border="0" alt="" /></a><br />I just played Wii.  This is true innovation in gameplay and if it takes off it will solve America's obesity problem.  If you need more exercise and for some reason can't leave the house, get a Wii and play the sports games. They're awesome.