---
layout: post
title: Very Cool and Uplifting News from Acumen Fund
date: '2007-04-18T03:29:00.001-05:00'
author: Darian Hickman
tags: 
modified_time: '2007-04-18T03:29:01.590-05:00'
blogger_id: tag:blogger.com,1999:blog-6308830.post-5478586688349005572
blogger_orig_url: http://www.darianhickman.com/2007/04/very-cool-and-uplifting-news-from.html
---

<a href="http://ga4.org/acumenfund/notice-description.tcl?newsletter_id=8767693&amp;r=IdAOM_41QMvx">Social Entrepreneurship is a quickly growing phenomenon. <br></a> <a target="_blank" href="http://ga4.org/acumenfund/notice-description.tcl?newsletter_id=8767693&amp;r=IdAOM_41QMvx" class="noborder"><img src="http://img.getactivehub.com/an2/custom_images/acumenfund/Header-2.jpg" border="0"> </a>                          <table border="0" cellpadding="0" cellspacing="0" width="540"><tbody><tr><td width="36">&nbsp;</td> <td width="468"> <div align="left"> <p>&nbsp;</p> <p><img src="http://img.getactivehub.com/an2/custom_images/acumenfund/Spring-2007-header.gif" border="0">  </p><p> </p><p>Dear Acumen Fund Friends, </p> <p>Greetings to you in this season of renewal. I hope this finds you well. </p> <p>I&#39;ve just returned from Nairobi, the last in our series of visits to cities in the U.S., Pakistan, India and Kenya to interview final candidates for the 2008 class of Acumen Fund fellows. The experience has been exhilarating and humbling. We&#39;ve met truly extraordinary individuals from all over the world. From a pool of 500 candidates from 60 countries, we now have to select eight fellows – a difficult task to say the least. </p></div></td></tr></tbody></table><br clear="all"><br>-- <br>Darian Hickman | +1 (650) 464-5342 | Palo Alto, CA | Pasadena, CA<br>Play the world of social enterprise: <a href="http://www.VillagetheGame.com">www.VillagetheGame.com </a><br>Village the Game Alerts: <a href="http://groups-beta.google.com/group/villagethegame">http://groups-beta.google.com/group/villagethegame</a> 