---
layout: post
title: 'Visiting Virginia for the end of the Month; and present project: Panango.'
date: '2007-05-14T22:13:00.000-05:00'
author: Darian Hickman
tags: 
modified_time: '2007-05-14T22:19:30.030-05:00'
blogger_id: tag:blogger.com,1999:blog-6308830.post-1416793712563039632
blogger_orig_url: http://www.darianhickman.com/2007/05/visiting-virginia-for-end-of-month-and.html
---

<span style="font-size:130%;"><span style="font-weight: bold;">Visiting Virginia May 21 to May 30. </span></span><br />I'm coming back home to visit the folks and friends in Virginia at the end of the month, May 21 to May 30.  Let's catch up for sure. If you guys need any furniture I probably have a living room set to give away.  I'm going up to Reston to clean out my condo and get it ready for new tenants.  Don't think I'll be selling it after.  Actually, I'm just too overwhelmed with Village projects to spreadsheet selling vs. renting the condo.  The biggest Village project is called Panango.  Read below. <br /><br /><br /><h3><span style="font-size:130%;">       A powerful, pragmatic partnership in propagating social enterprise.</span>        </h3>                                  <a href="http://www.villagethegame.com/uploaded_images/HPIM0649-731174.JPG" target="_blank" onclick="return top.js.OpenExtLink(window,event,this)"><img style="margin: 0pt 10px 10px 0pt; float: left;" src="http://www.villagethegame.com/uploaded_images/HPIM0649-731170.JPG" alt="" border="0" /> </a>After a few months of planning and paperwork, we now have Panango, an NGO ready to send students to Papua New Guinea. There Stanford University students will be exploring the needs of villagers while teaching English. Village the Game is working with Panango to model these villages inside the game and explore some of the existing solutions in other countries that could also work in Papua New Guinea.<br /><br />Pictured here is founding team of Panango from left to right: Darian Hickman, <span name="st">Christa</span> Morris, Nick Benavides, Ally Stewart, Cole Paulson, Chenxing Han, and AdamTolnay. Not pictured: Andi Kleissner, and Angel Inokon.<br /><br /><span style="font-weight: bold;">Mission of Panango<br /></span><span style="font-family: trebuchet ms; font-size: 100%;"><span style="font-size: 12pt;">Panango is a student run non-profit organization dedicated to equipping rural populations in Papua New Guinea with the English skills necessary to act as effective community advocates on a variety of environmental, educational and health issues while simultaneously preparing program volunteers to become social entrepreneurs. Through a combination of mentorship, hands on experience, and entrepreneurial simulations such as Village the Game, Panango creates a positive feedback loop where students are trained to find community needs and respond with their own innovative social ventures. In addition to teaching English and empowering villagers, Panango volunteers develop a forward thinking, activist approach to service: finding needs while meeting needs.</span></span>