---
layout: post
title: Being Productive with God
date: '2007-03-14T13:32:00.000-05:00'
author: Darian Hickman
tags:
- bible verses
modified_time: '2007-03-14T13:51:11.044-05:00'
blogger_id: tag:blogger.com,1999:blog-6308830.post-7254733142920856612
blogger_orig_url: http://www.darianhickman.com/2007/03/being-productive-with-god.html
---

“For this very reason, make every effort to add to your faith goodness; and to goodness, knowledge; and to knowledge, self-control; and to self-control, perseverance; and to perseverance, godliness; and to godliness, brotherly kindness; and to brotherly kindness, love. For if you possess these qualities in increasing measure, they will keep you from being ineffective and unproductive in your knowledge of our Lord Jesus Christ.”- <a href="http://www.biblegateway.com/passage/?version=31&amp;search=2%20Peter%201:5-8" title="2 Peter 1:5-8">2 Peter 1:5-8</a><br /><br />I forgot there was a formula for being productive with God.  I'm definitely seeing the need for more self-control.  I have too many desires to pursue at once and it's taking a lot of self-control to just pursue Village and not a whole lot of other hobbies.  I'm not sure what godliness is or how that is different from love. Brotherly kindness.... hmm it's hard to think of acts of kindness while so focused on Village.