---
layout: post
title: Kiva is working and working well
date: '2007-04-25T04:30:00.000-05:00'
author: Darian Hickman
tags: 
modified_time: '2007-04-25T04:33:23.230-05:00'
blogger_id: tag:blogger.com,1999:blog-6308830.post-2544403707522850138
blogger_orig_url: http://www.darianhickman.com/2007/04/kiva-is-working-and-working-well.html
---

<a href="http://www.kiva.org/app.php?page=businesses&action=about&amp;id=8873" target="_blank"><img src="http://www.kiva.org/images/bannersmall.png" alt="Kiva logo" title="Kiva - loans that change lives" align="bottom" border="0" height="45" width="95" /></a><br />Here's the latest note I got from Kiva about my borrower I'm funding in Kenya.  I just wanted to show that the Kiva system for helping entrepreneurs is working:<br /><blockquote><br />Dear Darian Hickman ,<br /><br />The business you have loaned to, Elizabeth  Wambui Njoroge , has made a repayment of $240.00.  The total amount repaid up to now is $720.00.  The payment was collected and deposited by Women`s Economic Empowerment Consort.   This repayment will be divided amongst all the lenders who helped to fund this business, depending upon the percentage each lender contributed.  Note that you cannot actually withdraw or reloan these funds until after the loan term is complete.Comment:<br /><br />scheduled repayment<br /><br />To view your Kiva loan portfolio go to:<br />http://www.kiva.org/app.php?page=account</blockquote><br /><br /><br />______________________________<br />Loans that change lives<br />http://www.kiva.org/