---
layout: post
title: That was a lot of Founders
date: '2007-02-27T19:31:00.001-05:00'
author: Darian Hickman
tags: 
modified_time: '2007-02-27T19:31:19.828-05:00'
blogger_id: tag:blogger.com,1999:blog-6308830.post-238855052294194031
blogger_orig_url: http://www.darianhickman.com/2007/02/that-was-lot-of-founders.html
---

I just attended this talk &quot;Finding the next Google&quot;.&nbsp; Great panel of entrepreneurs who now pretty much own their own venture capital firms. Peter Thiel co-founder of Paypal, Reid Hoffman founder of LinkedIn, Sean Parker co-founder of Plaxo and Napster and Facebook, and Matt Cohler VP of Facebook.&nbsp;  <br><br>Top Lessons:<br><ul><li>It&#39;s all about distribution.&nbsp; You must solve your distribution problem first for consumer internet applications. </li><li>If you aren&#39;t embarrassed by your product launch, you waited too long to launch. </li><li>Don&#39;t perfect your product before shipping.&nbsp; Put it out in the market, find out who&#39;s using and respond to requested changes fast.</li></ul>In another VC talk this week Ron Conway said that VC&#39;s are still interested in funding more social networking sites and more video sharing sites.&nbsp; Apparently the market is still huge and they expect there will be plenty of quality social networking sites that can co-exist with Myspace and Youtube being the dominant players. <br><a href="http://groups-beta.google.com/group/villagethegame" target="_blank" onclick="return top.js.OpenExtLink(window,event,this)"> </a> 