---
layout: post
title: Playing Warfish on Warfish.net
date: '2007-04-28T02:26:00.000-05:00'
author: Darian Hickman
tags: 
modified_time: '2007-04-28T02:36:24.656-05:00'
blogger_id: tag:blogger.com,1999:blog-6308830.post-6240097159712491549
blogger_orig_url: http://www.darianhickman.com/2007/04/playing-warfish-on-warfishnet.html
---

I have to copy this idea of generating movies from played games.  This is my first time in a while of playing risk and basically the first time online.  Warfish needs a lot of polish, but it's a cool site for playing RISK type games. <br /><object width="948" height="659"><param name="movie" value="http://warfish.net/gm/74371325/dari20070411034658"></param></param><param name="wmode" value="transparent"></param><embed src="http://warfish.net/gm/74371325/dari20070411034658" flashVars="wrtabui=0" type="application/x-shockwave-flash" wmode="transparent" width="948" height="659"></embed></object>