---
layout: post
title: Netsquared likes Village and I'm in LA now.
date: '2007-03-26T19:41:00.000-05:00'
author: Darian Hickman
tags: 
modified_time: '2011-09-28T15:47:26.581-05:00'
blogger_id: tag:blogger.com,1999:blog-6308830.post-3340485637503709274
blogger_orig_url: http://www.darianhickman.com/2007/03/netsquared-likes-village-and-im-in-la.html
---

<a href="http://netsquared.libsyn.com/index.php?post_id=195226"><img alt="" border="0" src="http://www.villagethegame.com/uploaded_images/netsquared.pic-759738.jpg" style="cursor: pointer; float: left; margin: 0pt 10px 10px 0pt;" /></a><br />On March 13th, Village the Game received a great response from the <a href="http://netsquared.meetup.com/1/">NetSquared NetTuesday</a> meeting in San Francisco.  It's really encouraging to meet so many people who want to help Village succeed.<br /><br />Now I'm off to LA to work with buddies in "the industry" for creating some promo videos for Village the Game. Most recent epiphany I've had: Sharing the vision of Village is a lot more effective in a visual format rather than as a casual conversation at a bar. :)<br /><br />If you're in LA let me know.  I'd love to catch up.