---
layout: post
title: Funny from DarianHickman.com
date: '2007-01-01T01:24:00.000-05:00'
author: Darian Hickman
tags:
- funny
modified_time: '2007-01-01T01:26:43.046-05:00'
blogger_id: tag:blogger.com,1999:blog-6308830.post-5773335414857406783
blogger_orig_url: http://www.darianhickman.com/2007/01/funny-from-darianhickmancom.html
---

I'm in the process of transitioning to blogspot with labels. Theoretically it's way easier and faster but for now it just means a lot of transition work.<br /><ul id="recently"><li><a href="http://www.darianhickman.com/2006/11/oops-i-did-it-again-cello-style.html">Oops, I Did It Again, cello style.   </a></li><li><a href="http://www.darianhickman.com/2006/10/white-and-nerdy.html">White and Nerdy   </a></li><li><a href="http://www.darianhickman.com/2006/10/ridiculously-funny-pictures-of-cats.html"> Ridiculously funny pictures of cats </a></li><li><a href="http://www.darianhickman.com/2006/08/believe-it-or-not-these-are-real-911.html">"BELIEVE" it or not, these are REAL 911 Calls!    ...</a></li><li><a href="http://www.darianhickman.com/2006/06/awesome-toilet-this-is-picture-of.html">Awesome    Toilet????                             ...</a></li><li><a href="http://www.darianhickman.com/2006/05/7-reasons-not-to-mess-with-children.html">7 reasons not to mess with children   A little gir...</a></li><li><a href="http://www.darianhickman.com/2006/05/question-what-is-truest-definition-of.html">  Question:  What is the truest definition of Glob...</a></li><li><a href="http://www.darianhickman.com/2006/04/lesson-of-day.html">LESSON OF THE DAY... NEVER LIE TO YOUR MOTHER    B...</a></li></ul>