---
layout: post
title: Has anyone else been ripped off by TLG*GREATFN
date: '2007-10-12T17:33:00.001-05:00'
author: Darian Hickman
tags: 
modified_time: '2007-10-12T17:51:24.512-05:00'
blogger_id: tag:blogger.com,1999:blog-6308830.post-7529704651732309005
blogger_orig_url: http://www.darianhickman.com/2007/10/has-anyone-else-been-ripped-off-by.html
---

While trying out this new financial management service at <a href="http://www.mint.com">Mint.com</a> I noticed a fraudulent charge: TLG*GREATFN12673045SEP  800-290-8603 CT                             $9.99 <br />Apparently they have been stealing $9.99 from my credit card for the past year, and I didn't notice until a month ago.  I googled them and sure enough there all over the web for being a scam.  Mint.com helps you organize your bank and credit card transactions so you can see where you're money is going.  Hopefully in the near future they will have an alerts feature for fraudulent charges like TLG*GREATFN.  <br /><br />And so that begs the question: where do we start the class action lawsuit?