---
layout: post
title: Knowing what to say 'yes' to.
date: '2007-02-06T12:03:00.000-05:00'
author: Darian Hickman
tags:
- bible verses
modified_time: '2007-02-06T12:27:16.666-05:00'
blogger_id: tag:blogger.com,1999:blog-6308830.post-597054684175414584
blogger_orig_url: http://www.darianhickman.com/2007/02/knowing-what-to-say-yes-to.html
---

<blockquote>Proverbs 21: <span id="en-NIV-17006" class="sup">21</span> "He who pursues righteousness and love finds life, prosperity <sup>[<a href="http://www.biblegateway.com/passage/?version=31&search=Proverbs%2021:21#fen-NIV-17006a" title="See footnote a">a</a>]</sup> and honor." </blockquote>I love verses like these.  One stereotype of the Bible is that it's a rule book designed to tell you what not to do.  Verses like these instead remind me what I am supposed to say 'yes' to. <br /><br />In Stephen Covey's book "The Seven Habits of Highly Effective People" he calls it the 'burning yes'.  Although Covey is coming at it from a time management perspective: I have to know what my 'burning yes' is because otherwise my schedule will get filled up with things I should have said 'no' to.  Right now my 'burning yes' is Village the Game and the things I have to say 'no' to are often things that are worth doing be it taking classes, tutoring, or going on retreats with other Christians.<br /><br />From the Bible's perspective our 'burning yes' is righteousness and love, and sin is what we have to say 'no' too.  And even with obvious things like porn, knowing what my 'burning yes' makes it 10 times easier to say 'no'.  I have to say 'no' in order to keep going with Village, which is my primary effort to pursue righteousness and love in this chapter of my life.