---
layout: post
title: Good times with Stanford ACM
date: '2007-01-27T20:25:00.000-05:00'
author: Darian Hickman
tags:
- village the game
modified_time: '2007-01-27T23:52:35.743-05:00'
blogger_id: tag:blogger.com,1999:blog-6308830.post-7960757057287333965
blogger_orig_url: http://www.darianhickman.com/2007/01/good-times-with-stanford-acm.html
---

I presented to the Stanford Association for Computing Machinery yesterday, and it went incredibly well!  I shared with them about Village the Game and all the technical challenges we must face.  It was really well received and the audience asked a lot of great questions.  I wish I could remember all the questions and put them into an FAQ post.  There's some potential for turning some of the tech work into senior projects. We'll see where things lead. :)<br />Here's a link to the Powerpoint slides from yesterday: <br />HTML -> <a href="http://acm.stanford.edu/presentations/1_26_07/village_game_stanford_acm_1_26_07.html">http://acm.stanford.edu/presentations/1_26_07/village_game_stanford_acm_1_26_07.html</a><br />PPT -> <a href="http://acm.stanford.edu/presentations/1_26_07/village_game_stanford_acm_1_26_07.ppt">http://acm.stanford.edu/presentations/1_26_07/village_game_stanford_acm_1_26_07.ppt</a>