---
layout: post
title: 'Letter to Editor: Extra $billion well spent'
date: '2007-01-22T10:52:00.000-05:00'
author: Darian Hickman
tags: 
modified_time: '2007-01-22T11:04:20.378-05:00'
blogger_id: tag:blogger.com,1999:blog-6308830.post-5701315543780270596
blogger_orig_url: http://www.darianhickman.com/2007/01/letter-to-editor-extra-billion-well.html
---

Right now, Congress has an incredible opportunity to continue saving millions of lives in the world's poorest countries by fully funding the fight against global AIDS and extreme poverty.  <br /><br />The last Congress left nine critical spending bills unfinished and now the new Congress is left with the hard work of deciding our budget for 2007.  They're facing tough decisions and at stake is $1 billion vital to continuing to provide clean water, education and life-saving medicines to people in Africa and the world's poorest countries.  There are few places in the U.S. budget where dollars translate so directly into lives saved.  Without this funding, 350,000 people will not receive life-saving AIDS medicines, nearly 1 million anti-malaria bednets will not be distributed and 120,000 people will not receive treatment for tuberculosis.  <br /><br />As a member of the ONE Campaign, I encourage Congress to protect this funding and ensure America's continued commitment to the fight against extreme poverty and global HIV/AIDS, tuberculosis and malaria.  America's leadership in development assistance reflects the best American tradition of compassion and generosity.  Together, we can give the world's poorest people the tools they need to beat extreme poverty and the chance for a hopeful future.