---
layout: post
title: Lessons Learned while building Village
date: '2007-03-09T00:54:00.001-05:00'
author: Darian Hickman
tags:
- village the game
modified_time: '2007-03-09T00:54:44.741-05:00'
blogger_id: tag:blogger.com,1999:blog-6308830.post-6638378028963555073
blogger_orig_url: http://www.darianhickman.com/2007/03/lessons-learned-while-building-village.html
---

Since May 2006, I have been designing a game, designing a company, building a game, and building a company all at the same time.  It's been fun and hell at the same time too. I thank God for all the cool people that I have met along the way and for the advisors cheering me on.  Ironically these veterans of gaming and social enterprise are the same people who never expected Village to get as far as it has.  Most first-timers would have long since given up on a game of this magnitude.  In a way I'm glad I didn't know how hard this would be. I've learned a lot about game production over the last 10 months and I'm sure there's plenty more to learn in the next 10 months:<br /><br />  1. Don't waste time with dev studios that can't show prior work because it's "cloaked behind NDA's".  If they don't have what it takes to make some sample work for their portfolio, then they don't have what it takes period.<br />  2. Managing a remote development team spread all over the planet is possible, but it's a painful amount of email, messaging, and documentation.<br />  3. Collaborating with an artist is 10x easier in person.<br />  4. Rookie mistake: I didn't play strategy games similar to Village with my teammates.  That would have helped so much with being on the same page. It's important the programmers and the artists have experience playing similar games.  No amount of documentation will better clarify expectations.<br />  5. The lower your budget is the more documentation, gui sketches, and spreadsheets become necessary to prevent wasted time in multiple revisions of the game.<br />  6. There is no such thing as a complete or flawless design document.  No matter how anally detailed the docs grow, artists and programmers will mis-interpret, mis-understand the design.<br />  7. When picking a game engine for a 'first project' make sure a similar game has already been built on it.  Building an RTS on top of Torque Game Builder is hard with no examples to follow.<br />  8. For a first project, don't worry about innovating on game mechanics; instead throw all your innovation budget into quality artwork and storyline with an established game mechanic.<br />  9. Milestones not only need clearly defined deadlines but also drop-deadlines. When a subcontractor is falling way behind on completion of a milestone it's often better to just call the deal off rather than waste more time waiting for it to get done.<br /> 10. Advisors who are veterans of the industry are essential.  There are too many wrong paths to figure out everything by trial-and-error without them.<br /> 11. Getting press helps boost everyone's motivation on the team.