---
layout: post
title: 'Awesome book: AK-47'
date: '2007-01-08T03:55:00.000-05:00'
author: Darian Hickman
tags:
- store
modified_time: '2007-01-08T04:03:29.709-05:00'
blogger_id: tag:blogger.com,1999:blog-6308830.post-2056142700732953350
blogger_orig_url: http://www.darianhickman.com/2007/01/awesome-book-ak-47.html
---

<p><a name="evtst|a|0471726419" href="http://www.amazon.com/gp/product/0471726419?ie=UTF8&tag=darianhickman-20&amp;linkCode=as2&camp=1789&amp;amp;creative=9325&amp;creativeASIN=0471726419" id="static_preview"><img  src="http://images.amazon.com/images/P/0471726419.01._AA_SCMZZZZZZZ_V37450968_.jpg" id="static_preview_img" border="0" style="float:left;padding-right:5px;" /></a>I got this for Christmas and learned an amazing amount about the last 50 years of global warfare and how the AK-47 has "democratized" warfare.  They're so cheap nearly anyone can afford them so poor guerillas can fight hi tech behemoths causing a lot of drawn out wars with no real winning going on.  And crazy enough, Kalashnikov the inventor is still alive figuring how to make money free market style since he never did under his motherland's communist regime.</p>