---
layout: post
title: Groupbuy and Grouprent
date: '2007-04-06T18:43:00.000-05:00'
author: Darian Hickman
tags: 
modified_time: '2007-04-06T18:58:00.750-05:00'
blogger_id: tag:blogger.com,1999:blog-6308830.post-3960361666330342712
blogger_orig_url: http://www.darianhickman.com/2007/04/groupbuy-and-grouprent.html
---

Along time ago, 2000 AD I think, I got curious about building software to make group purchases and group rentals ridiculously easy.  For example: one neighborhood should only need to own one leafblower, one snowblower not several.  Or a group of yuppies could own a yacht together.  What beyond existing group tools like Google Groups, Groove, or Spreadsheets would a group need? <br /><br />They would need several capabilities:<br />Finding, Storing template documents for contracts, insurance policies, user agreements. Timesharing calendar to manage when someone used the leafblower. Membership signup.  Accounting, tax document preparation, splitting repair/maintenance bills. <br />Voting capabilities for electing management and officers. Social networking tool to keep track of who is in the group and also referrals for new members. Member credit ratings: [how well do people take care of the group stuff, do they pay bills on time?]<br /><br />I'm guessing that right now there's all kinds of proprietary solutions that each different cooperative is using. Enterprise Rent-a-car has their own software for renting out their fleet of vehicles.  Could it be adapted so a group of friends could own a work truck together?