---
layout: post
title: Doing greater things than even Jesus
date: '2007-05-30T09:47:00.000-05:00'
author: Darian Hickman
tags:
- bible verses
modified_time: '2007-05-30T10:05:32.920-05:00'
blogger_id: tag:blogger.com,1999:blog-6308830.post-7141818107422798617
blogger_orig_url: http://www.darianhickman.com/2007/05/doing-greater-things-than-even-jesus.html
---

<span id="en-NIV-26670" class="sup">In the gospel of John, Jesus is quoted <span style="font-style: italic;">"</span></span><span style="font-style: italic;">I tell you the truth, anyone who has faith in me will do what I have been doing. He will do even greater things than these, because I am going to the Father."<br /><span style="font-style: italic;"></span><br /></span>That's a huge promise, doing things greater than the miracles of Jesus.  While he was walking around 2000 years ago, he fed 5000 with a few fish and not even a basket of bread, turned water into wine, did all kinds of healing miracles on the blind, the sick, the paralyzed.<br /><br />Today we are doing things even greater through science and thoughtful design.  We have technology now that does more than just feed 5000 with a few fish.  We can share knowledge and appropriate technology that creates 10's of thousands  of new jobs enabling 100's of thousands to feed themselves and their family for a lifetime.  One example is Kickstart MoneyMaker Pump.  It costs $100 and can help a farmer go from $300 income a year to $3000 a year, creating 10's of thousands of jobs in the process.  The power we have to care for others is greater than it ever has been and much of this power falls under the label social enterprise. <br /><br />Is this fulfillment of prophecy?