---
layout: post
title: Explaining the Financial Crisis and the Bailout
date: '2008-09-26T19:15:00.002-05:00'
author: Darian Hickman
tags: 
modified_time: '2008-09-26T19:19:11.073-05:00'
blogger_id: tag:blogger.com,1999:blog-6308830.post-7037437918565350661
blogger_orig_url: http://www.darianhickman.com/2008/09/explaining-financial-crisis-and-bailout.html
---

Pat Dorsey is a pretty smart guy, Director of Equity Research at Morningstar. He explains why the bailout is a safety net for Main Street not a bailout for Wall Street.  I understand this I just wish there was a better alternative like getting loans from www.prosper.com.  Unfortunately Prosper.com only allows loans of $25,000 which just isn't enough for a lot of companies. Maybe Prosper will expand soon to ease the short term credit crisis.  Well here's Pat Dorsey's take on the credit crisis:<br /><br /><embed src="http://services.brightcove.com/services/viewer/federated_f8/353537669" bgcolor="#FFFFFF" flashVars="videoId=1819751443&playerId=353537669&viewerSecureGatewayURL=https://console.brightcove.com/services/amfgateway&servicesURL=http://services.brightcove.com/services&cdnURL=http://admin.brightcove.com&domain=embed&autoStart=false&" base="http://admin.brightcove.com" name="flashObj" width="486" height="412" seamlesstabbing="false" type="application/x-shockwave-flash" swLiveConnect="true" pluginspage="http://www.macromedia.com/shockwave/download/index.cgi?P1_Prod_Version=ShockwaveFlash"></embed>