---
layout: post
title: 2007 was painful. 2008 is prayerful.
date: '2008-01-16T17:56:00.000-05:00'
author: Darian Hickman
tags: 
modified_time: '2008-01-16T17:57:17.293-05:00'
blogger_id: tag:blogger.com,1999:blog-6308830.post-6378027482544785294
blogger_orig_url: http://www.darianhickman.com/2008/01/2007-was-painful-2008-is-prayerful.html
---

<p><span class="nfakPe">2007</span> was <span class="nfakPe">painful</span>.<span>  </span>Managing a remote team all in separate locations was <span class="nfakPe">painful</span>.<span>  </span>Running out of money to spend on Village was <span class="nfakPe">painful</span>.<span>  </span>Watching my condo sit empty for months and burn through my savings was <span class="nfakPe">painful</span>.<span>  </span>Falling in love with a girl dating another guy was really <span class="nfakPe">painful</span>.<span>  </span>On the other hand getting to know the social entrepreneurs at the Reuters Digital Vision Program at Stanford was wonderful.<span>  </span>Connecting more with my roommates, and friends who have been helping me with Village has all been great.<span>  </span>But, except for some new and stronger relationships with friends, <span class="nfakPe">2007</span> was pretty <span class="nfakPe">painful</span>.</p>  <p> </p>  <p>Through all this pain, though, I learned a great deal about management and relationships.<span>  </span>Regarding management you can summarize the lesson as don't let ambition and impatience compel you to skip steps.<span>  </span>But more importantly, I learned a key thing about relationships: stay focused on what is right, and what is going well.<span>  </span>As Tom Rath explains, it fills other peoples' emotional buckets (he wrote "How Full is Your Bucket?'). I really felt this lesson during the last week of August when I volunteered for a foster kid's camp. Our mandate was to catch kids doing things right.<span>  </span>It was a beautiful moving experience for me.<span>  </span>I think the kids enjoyed it too. </p>  <p> </p>  <p>And then there was the girl.<span>  </span>She personified this lesson while we had a chance to hang out in November.<span>  </span>Just being around her kindness and generosity made me more thoughtful of others without really trying.<span>  </span>Maybe that's why I felt so strongly about her.<span>  </span>Positive people are contagious.<span>  </span>I think that was the theme of basically what God wanted to teach me in <span class="nfakPe">2007</span>.<span>  </span>Fill buckets, notice and celebrate what is going right.<span>  </span>Pray that the lesson sticks in 2008.</p>  <p> </p>  2008 is starting off with a new theme:<span>  </span>Take more decisions to God in prayer.<span>  </span>This year is starting off with a great trend of more prayer time with my roommates and more clarity and confidence about decisions.<span>  </span>I'm not going to predict a lot of milestones for Village. Instead, I'm going to follow the advice of more seasoned producers and entrepreneurs while pursuing more achievable short term goals.<span>  </span>Beyond tomorrow, the only thing I'm relatively certain about is business school starting in the Fall.<span>  </span>I find out Jan 24<sup>th</sup> if Stanford accepted me. I made a lot of great friends while I was living up there last winter so I'm really hoping to go ther