---
layout: post
title: Video promoting Ethanol
date: '2008-04-29T03:45:00.000-05:00'
author: Darian Hickman
tags: 
modified_time: '2008-04-29T03:47:07.817-05:00'
blogger_id: tag:blogger.com,1999:blog-6308830.post-7357939672851220546
blogger_orig_url: http://www.darianhickman.com/2008/04/video-promoting-ethanol.html
---

<div style="width:370px;"><div style="border:1px solid #000; height:25px; padding:0px; font-weight:bold; font-family:arial, verdana; text-align:center;"><a href="http://fuelthechange.votigo.com/votes/vote/29571/0/love_it" style="color:#003BFF; text-decoration:none; font-size:14pt">Rate my video in this contest!</a></div><embed style="width:370px; height:310px;" id="VideoPlayback" type="application/x-shockwave-flash" src="http://fuelthechange.votigo.com/swf/entry.swf?v=2&url=http://fuelthechange.votigo.com/entries/entrydetailswebservice/29571&domain=fuelthechange.votigo.com"><br /></embed><div style="background:#000; text-align:center;"><a href="http://fuelthechange.votigo.com/votes/vote/29571/0/love_it"><img src="http://fuelthechange.votigo.com/img/ratemyvid.gif" alt="Vote for me!" border="0"></a></div><div style="background:#D2D2D2; padding:3px 0px; border:1px solid #000; border-bottom:0px; text-align:center; color:#006CFF; font:bold 9pt verdana,arial;"><a href="http://fuelthechange.votigo.com/signups/contestentry/?contestID=4034&contestMedia=video" style="color:#006CFF; text-decoration:none; margin-right:10px;">Submit entry</a></div><div style="background:#5AAAFE; height:22px; border:1px solid #000;"><a href="http://fuelthechange.votigo.com"><img src="http://fuelthechange.votigo.com/img//fuelthechange/ftc-logo.gif" style="float:left;" border="0" /></a><a href="http://www.fuelthechange.com/getthedetails.asp" style="padding:3px 3px 0px 0px; float:right; font:normal 8pt verdana,arial; color:#006CFF; text-decoration:none;">Contest details</a></div></div><img src="http://fuelthechange.votigo.com/contests/logit" />