---
layout: post
title: In Thailand with new Friends
date: '2008-01-28T00:26:00.000-05:00'
author: Darian Hickman
tags: 
modified_time: '2008-01-28T00:52:04.133-05:00'
thumbnail: http://lh5.google.com/darian.hickman/R51OF2S8RNI/AAAAAAAAByY/cPgUy_mpPhg/s72-c/HPIM0981.JPG?imgmax=512
blogger_id: tag:blogger.com,1999:blog-6308830.post-4701089575645391303
blogger_orig_url: http://www.darianhickman.com/2008/01/in-thailand-with-new-friends.html
---

<a onblur="try {parent.deselectBloggerImageGracefully();} catch(e) {}" href="http://lh5.google.com/darian.hickman/R51OF2S8RNI/AAAAAAAAByY/cPgUy_mpPhg/HPIM0981.JPG?imgmax=512"><img style="margin: 0px auto 10px; display: block; text-align: center; cursor: pointer;" src="http://lh5.google.com/darian.hickman/R51OF2S8RNI/AAAAAAAAByY/cPgUy_mpPhg/HPIM0981.JPG?imgmax=512" alt="" border="0" /></a>The pic above is a few of us Business as Mission students enjoying our first dinner together.  I am quite impressed and astounded at the variety of backgrounds of the students attending this course from pastors who support their church by selling fish in Cameroon to retired commercial real estate brokers looking for their next move.  Kyung-min the guy on left is trying to convince me to go to b-school with him in the Fall at Michigan. He just finished 4 years in the automotive industry.<br /><br />I apologize for not sending an update sooner.  While sitting in the airport in Bangkok, I learned that I was not accepted to Stanford business school, so now I have been scurrying to get apps out for other b-schools that have a strong social enterprise community.  That's quite frustrating since it has taken away time to spend connecting with people as much as I want.   Pray for grace on that.<br /><br />Also I want to say Thank You to my financial and prayer supporters for helping me get here.  So far I've raised $1,025 for this course.   Thank you!. I still have about $3975 to go. If you would like to contribute more:<br />To donate online: <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_xclick&amp;business=darian%2ehickman%40villagethegame%2ecom&amp;item_name=Send%20Darian%20to%20Thailand&amp;no_shipping=0&amp;no_note=1&amp;tax=0&amp;currency_code=USD&amp;lc=US&amp;bn=PP%2dDonationsBF&amp;charset=UTF%2d8">Donate via Paypal</a>.<br /><a href="https://www.paypal.com/cgi-bin/webscr?cmd=_xclick&amp;business=darian%2ehickman%40villagethegame%2ecom&amp;item_name=Send%20Darian%20to%20Thailand&amp;no_shipping=0&amp;no_note=1&amp;tax=0&amp;currency_code=USD&amp;lc=US&amp;bn=PP%2dDonationsBF&amp;charset=UTF%2d8">https://www.paypal.com/cgi-bin/webscr?cmd=_xclick&amp;business=darian%2ehickman%40villagethegame%2ecom&amp;item_name=Send%20Darian%20to%20Thailand&amp;no_shipping=0&amp;no_note=1&amp;tax=0&amp;currency_code=USD&amp;lc=US&amp;bn=PP%2dDonationsBF&amp;charset=UTF%2d8</a><br /><br />For tax-deductible donations: Mail a check made payable to “PIHOP” to<br /><blockquote>PIHOP<br />1401 N. Lake Ave,<br />Pasadena 91104.  </blockquote>For accounting purposes, put 'Thailand' in the memo, not my name.<br /><br />Updated Prayer Request: Pray for clear communication.  Apparently one of the gods worshipped here is a god of communication and the staff have noticed that since they've been here they have experienced major miscommunications.<br /><br />I look forward to sharing how God is using this time here in Thailand to make me more useful for Him in the marketplace.   Off to lunch!