---
layout: post
title: Thailand here I come!
date: '2008-01-17T01:41:00.000-05:00'
author: Darian Hickman
tags: 
modified_time: '2008-01-17T19:59:44.448-05:00'
thumbnail: http://bp1.blogger.com/_7SeVH39UEiA/R478Vb-MlmI/AAAAAAAABwc/2jbxzXNM-tA/s72-c/bam.jpg
blogger_id: tag:blogger.com,1999:blog-6308830.post-4799591241453086700
blogger_orig_url: http://www.darianhickman.com/2008/01/thailand-here-i-come.html
---

<a onblur="try {parent.deselectBloggerImageGracefully();} catch(e) {}" href="http://www.businessasmission.com/pages/Homepage"><img style="margin: 0px auto 10px; display: block; text-align: center; cursor: pointer;" src="http://bp1.blogger.com/_7SeVH39UEiA/R478Vb-MlmI/AAAAAAAABwc/2jbxzXNM-tA/s400/bam.jpg" alt="" id="BLOGGER_PHOTO_ID_5156336068601878114" border="0" /></a><br /><p class="MsoNormal"><br /><br />New development! Now that I’m done licking my wounds from 2007, it’s time to move forward on the dream.<span style="">  </span>YWAM is offering a course on Business as <st1:city><st1:place>Mission</st1:place></st1:city>, essentially how to run companies in a cross-cultural setting, and I’ve been accepted to attend.<span style="">   </span>We’ll be attending lectures taught by entrepreneurs who have been running companies successfully overseas. Part of the 6 week course is in fact a field trip to already successful enterprises.<span style="">  </span>Considering how much talk there is about sharing Christ through business, it will be refreshing to meet entrepreneurs who are actually doing it.<span style="">  </span>I’m headed to <st1:country-region><st1:place>Thailand</st1:place></st1:country-region> on Jan 24 for the 6 week course.<span style="">  </span>I am hoping and praying that this adventure will lead to deep insight into the world of international business and ministry and possibly some meaningful employment between now and when business school starts in the fall.<span style="">  </span></p>  <p class="MsoNormal"><o:p> </o:p></p>  <p class="MsoNormal">The application is all done, thank you Josh and Chris for the recs, now the biggest hurdle is the course fee of $3500 which covers food, lodging, everything but the airfare to Thailand.<span style="">  </span>Fortunately it’s the off season for tickets to <st1:country-region><st1:place>Thailand</st1:place></st1:country-region> so even this last minute, they are $1200.00.<span style="">  </span>This is a strong move for Village the Game and for clarifying the way that I’m to serve others long term.<span style="">  </span>My big prayer request is that I’m hearing God correctly on this one.<span style="">  </span>Let me know if you’re praying for me.<span style="">  </span>That’s always encouraging.<span style="">  </span></p>  <p class="MsoNormal"><o:p> </o:p></p>  <p class="MsoNormal">Play it, love it, live it, </p>  <p class="MsoNormal">Darian Hickman</p>  <p class="MsoNormal"><o:p> </o:p></p>  <p class="MsoNormal">P.S. Village the Game is a semifinalist in the Echoing Green Fellowship competition! 350 were selected from 1500 entries and in the next phase they will be narrowed down to 30 social enterprises.<span style="">  </span>Pray for that too! </p>    <p class="MsoNormal">More on Echoing Green<br /><a href="http://www.echoinggreen.org/blog/2008-semifinalists-announced" target="_blank">http://www.echoinggreen.org/blog/2008-semifinalists-announced</a><span style="">  </span></p>  <p class="MsoNormal"><o:p> </o:p></p>    <p class="MsoNormal">More on Business as <st1:city><st1:place>Mission</st1:place></st1:city><br /><a href="https://www.ywamconnect.com/ubasicpage.jsp?siteid=29315&amp;pageid=430781">https://www.ywamconnect.com/ubasicpage.jsp?siteid=29315&amp;pageid=430781</a></p>