---
layout: post
title: Bethel is even cooler than expected
date: '2011-04-07T02:57:00.000-05:00'
author: Darian Hickman
tags: 
modified_time: '2011-04-07T02:57:28.232-05:00'
blogger_id: tag:blogger.com,1999:blog-6308830.post-8028612675712492781
blogger_orig_url: http://www.darianhickman.com/2011/04/bethel-is-even-cooler-than-expected.html
---

Within 90 minutes of landing in Redding, I learned of Bethel students engaged in business solutions to extreme poverty. <br />Monday I heard a powerful teaching from Bill Johnson on how life on Earth offers us the only chance to worship God in the midst of our pain, suffering, loss, and confusion. &nbsp;When we are in heaven we won't have the chance to give God that gift. &nbsp;Bill's teaching reaffirmed this ongoing theme that suffering matters. &nbsp;Suffering creeps me out but I can not deny that suffering somehow leads to intimacy with Christ.<br /><br />Monday night gave me a few a hours to meet a great house church where blue collar types mingled with Bethel alum. Prophecy and healing flowed amidst their faith and love. &nbsp;God gave me a chance to pray for healing for one of the guys. This tested my faith when his knee actually got a little worse in the first couple of minutes of prayer. That hurt my pride. &nbsp;Fortunately during the second bout of prayer his knee healed completely. &nbsp;Very powerful test of my faith at that time.<br /><br />Wednesday, Chris Vallotin shared out of 2 Samuel how David confronted his enemies well on the battlefield but let his Kingdom decay with injustice when family members and close military companions sinned grievously. &nbsp;I can see that. &nbsp;Confronting people we care about hurts so much more than killing outright enemies. &nbsp;In the context of Saul (David's spiritual father) chronic abuse of his power to confront close family David's weakness in confrontation makes sense. David reacted in the opposite spirit and grew unable to confront at home. &nbsp;His story served as an excellent example of how we can't arrive at healthy by just doing the opposite of abuse. &nbsp;We most focus on perfect love. &nbsp;Chris Vallontin followed up this example &nbsp;with Christ both confronting and accepting insult. &nbsp;Christ taught us to turn the other cheek. &nbsp;This does not mean be a doormat and let people abuse you. &nbsp;Christ means the attacks on you cannot dictate your behavior. &nbsp;Christ also demonstrates confrontation when it mattered a lot more than a slap on the cheek. &nbsp;He confronted Pharisees and whipped the money changers out of God's house. &nbsp; <br /><br />God I pray for power to do healthy and timely confrontation.<br /><br />Wednesday night, Stefan and Brian and myself went on a treasure hunt for people who needed some God in their life. &nbsp;Stefan and Brian shared a lot of great testimonies of people set free from injuries, pain, disease even in places as unspiritual as Wal-Mart. &nbsp;God likes to move beyond boxes with steeples on them. &nbsp;We experienced the full spectrum of responses from the people we prayed over: complete appreciation, small miracles, irritation that we approached, and deep conversation w prayer. &nbsp;Personally, I have to confess walking up to strangers and sharing God is still nerve racking even after hearing all the great testimonies.<br /><br />We'll see what God does next. &nbsp; &nbsp;Have a great day Interwebs,<br /><br />Darian