---
layout: post
title: Encouraging Story from Iceland within Finance
date: '2013-02-11T00:16:00.001-05:00'
author: Darian Hickman
tags: 
modified_time: '2013-11-18T02:41:06.692-05:00'
blogger_id: tag:blogger.com,1999:blog-6308830.post-7023493982623631275
blogger_orig_url: http://www.darianhickman.com/2013/02/encouraging-story-from-iceland-within-f.html
---

<span style="font-size: large;">Quiet Revolution in Politics and Finances lead Iceland on the road to stability and holds leaders of crisis accountable.&nbsp;</span><br /><br /><a href="http://www.collective-evolution.com/2013/01/11/why-did-media-keep-the-recent-peaceful-icelandic-revolution-quiet/">http://www.collective-evolution.com/2013/01/11/why-did-media-keep-the-recent-peaceful-icelandic-revolution-quiet/</a>