---
layout: post
title: 'Designing a Great Government: Design Precept Anyone can sell nearly anything
  directly to anyone else in the World.'
date: '2014-07-22T03:08:00.001-05:00'
author: Darian Hickman
tags:
- great government
- innovation wishlist
modified_time: '2014-07-22T03:15:41.911-05:00'
blogger_id: tag:blogger.com,1999:blog-6308830.post-3437695090650987717
blogger_orig_url: http://www.darianhickman.com/2014/07/designing-great-government-design.html
---

<br />While doing quiet time. &nbsp;I keep trying to be spiritual, sit in a room filled with live worship music a bunch of other Christians dancing randomly in the background, people sitting with blank or joyful faces eyes closed, others swaying. &nbsp;Meanwhile I'm getting ideas on how to design higher quality government.<br /><br />Tonight, my thoughts were again how do we push forward the quality of life for everyone? &nbsp;How do we push government leaders into the same Key Performance Indicator accountability that any American CEO has to meet to keep his job? <br /><br />One principle I want to develop: If you don't get results for the governed then you aren't the government. &nbsp;Results could mean nearly anything and I think just agreeing on what Results means for government would be a huge step forward for all of mankind. &nbsp; <br /><br />A lot of media, hype, anxiety I see is people playing guessing games with friends about who actually runs the world. &nbsp;Is it the CIA, or Rothschild's, the oil companies, the Freemasons, Catholic Church, Defense Contractors, Goldman Sachs. <br /><br />I have no idea. &nbsp;And I don't care. &nbsp;... Well at least I don't want to care. &nbsp;Unfortunately it does matter who's in charge. &nbsp;After reading Why Nations Fail it's painfully apparent that powerful groups do almost anything to the not-so-powerful to keep their power and prosperity. &nbsp;My hope with setting more international standards for quality of life is that we all can move forward far faster than Industrial Revolution has thus far caused. <br /><br />Some example standards I thought of:<br />Anyone anywhere can sell anything to anyone else directly. &nbsp;Some legitimate limitations like nukes will apply. &nbsp;But the point is that there's nothing stopping me from buying something straight from a specific person, if I so choose. &nbsp;I think it's the ultimate fair trade requirement. <br /><br />Prosper.com is peer to peer lending of money.<br />Relayrides.com is peer to peer leasing of cars.<br />Airbnb.com is peer to peer leasing of homes.<br />Etsy.com is peer to peer purchase of crafts.<br />These types of businesses that enable direct connection to many consumers needs to grow to an audience of the entire planet. &nbsp;I suspect that some Governments will get in the way because they are paid to get in the way by power-brokers. &nbsp;We need a quality data driven approach to incentivizing governments to stay out of the way of phenomenon. &nbsp;It helps so many people directly add value other people's lives. <br /><br />So where is the peer to peer site for buying food straight from the farmer?<br />What's the best the site to buy clothes straight from the tailor?<br /><br />Source Cites:<br />www.prosper.com<br />www.airbnb.com<br />www.etsy.com<br /><br />Man that's just one design principle for Great Government. <br /><br /><br /><br />