---
layout: post
title: 'Innovation Wishlist: I wanna build a rail system that doesn''t involve clearing
  lots of space. '
date: '2014-07-22T02:22:00.001-05:00'
author: Darian Hickman
tags:
- advanced rail.
- innovation wishlist
modified_time: '2014-07-22T02:22:10.138-05:00'
blogger_id: tag:blogger.com,1999:blog-6308830.post-7845810810969203394
blogger_orig_url: http://www.darianhickman.com/2014/07/innovation-wishlist-i-wanna-build-rail.html
---

<span style="background-color: white; color: #37404e; font-family: Helvetica, Arial, 'lucida grande', tahoma, verdana, arial, sans-serif; font-size: 14.44444465637207px; line-height: 20px;">So a few nights ago a friend dropped a prophetic word on me and I felt encouraged to do another sit and listen to God time in the prayer house. Basically I spent two hours getting pictures of technology surrounding the idea of what would it take to ship a full size shipping container alo</span><span class="text_exposed_show" style="background-color: white; color: #37404e; display: inline; font-family: Helvetica, Arial, 'lucida grande', tahoma, verdana, arial, sans-serif; font-size: 14.44444465637207px; line-height: 20px;">ng an elevated rail underneath a forest canopy without having to clear any trees. Watch the video on Shweeb and then imagine that for shipping containers.&nbsp;<a href="http://l.facebook.com/l.php?u=http%3A%2F%2Fshweeb.com%2F&amp;h=QAQF7V-EZ&amp;s=1" rel="nofollow nofollow" style="color: #3b5998; cursor: pointer; text-decoration: none;" target="_blank">http://shweeb.com/</a><br /><br />Here’s the stream of thoughts from last night:<br />What is the tallest shipping container elevator that's not a crane?<br />Look at Minecraft see if it's good for modding to illustrate shipping containers.<br />Find somebody that invented self installing rail.<br />Can you use trees as load bearing pilings without cutting them down?<br />Has anyone invented somekind of rail router for switching tracks, like a traffic circle but for suspended rail?<br />Regarding the Shweeb concept is there a way to use existing bicycle on a rail<br />Do I know any roller coaster engineers?<br />Who can model this in Unity 3D?<br />Let people volunteer their google app engine accounts to host 3d model of Congo.<br />Wiki 3d model. Score people on accuracy.<br />Can Google app engine host unity 3-D?<br />What's the heaviest shipping container can get?</span><br /><br /><h3>Idea Citations:&nbsp;</h3><a href="http://www.shweeb.com%20%20/">www.shweeb.com &nbsp;</a><br /><br /><a href="http://www.csx.com/index.cfm/about-csx/projects-and-partnerships/fuel-efficiency/">Moving Freight by Rail is 4x more efficient than by road.&nbsp;</a>&nbsp; | csx.com<br /><br /><br /><br />