---
layout: post
title: 'Innovation Wishlist: Flying wifi routers for vigilante internet'
date: '2014-07-23T03:30:00.000-05:00'
author: Darian Hickman
tags:
- vigilante internet
- innovation wishlist
- wifi
modified_time: '2014-07-23T03:30:01.034-05:00'
blogger_id: tag:blogger.com,1999:blog-6308830.post-7066014969717065526
blogger_orig_url: http://www.darianhickman.com/2014/07/innovation-wishlist-flying-wifi-routers.html
---

Google Loon and Facebook's internet drones are taking too long to get deployed. &nbsp;Has anyone superglued a solar panel to a wifi router to a quadcopter and landed it on top of a tree to help relay a signal across swarm of wi-fly routers?<br /><br />I'm sure there's more to embedded systems and weatherproofing a wifi router but seriously how is this not done already?<br /><br />Source Cites:<br /><a href="http://www.google.com/loon/">Google Loon</a><br /><a href="http://www.wired.com/2014/03/facebook-drones/">Facebook Internet drones</a><br /><br />