---
layout: post
title: Cuba is the biggest experiment in the world for going back to non-industrial
  farming
date: '2015-04-12T14:52:00.000-05:00'
author: Darian Hickman
tags: 
modified_time: '2015-04-12T14:52:52.267-05:00'
blogger_id: tag:blogger.com,1999:blog-6308830.post-420752498796645426
blogger_orig_url: http://www.darianhickman.com/2015/04/cuba-is-biggest-experiment-in-world-for.html
---

The author of this article seems to idolize what Cuba achieved and in same breath report that Cuba still imports 80% of it's food. &nbsp; &nbsp;If they're doing such a kickbutt job with agroecology then why still such a high quantity of import?<br /><br />http://craftsmanship.net/cubas-harvest-surprises/<br /><br /><br />