---
layout: post
title: A Day in the Life of Darian Awesomeness
date: '2015-10-11T23:34:00.001-05:00'
author: Darian Hickman
tags: 
modified_time: '2015-10-12T00:59:40.828-05:00'
blogger_id: tag:blogger.com,1999:blog-6308830.post-4476752039206264662
blogger_orig_url: http://www.darianhickman.com/2015/10/a-day-in-life-of-darian-awesomeness.html
---

<div style="background-color: white; color: #141823; font-family: helvetica, arial, sans-serif; font-size: 14px; line-height: 19.32px; margin-bottom: 6px;">I wrote this up almost a year ago while meeting with a career coach ... more like a life goals coach. It's all still true:...</div><div style="background-color: white; color: #141823; font-family: helvetica, arial, sans-serif; font-size: 14px; line-height: 19.32px; margin-bottom: 6px;"><br /></div><div style="background-color: white; color: #141823; font-family: helvetica, arial, sans-serif; font-size: 14px; line-height: 19.32px; margin-bottom: 6px; margin-top: 6px;"><span style="line-height: 19.32px;">Wake up, have sex with my smoking hot wife. Enjoy breakfast, probably some sprouted wheat toast from trader joe’s with fresh cut strawberries and cream cheese on top, and cup of the latest fair trade coffee made in a french press.</span></div><div style="background-color: white; color: #141823; font-family: helvetica, arial, sans-serif; font-size: 14px; line-height: 19.32px; margin-bottom: 6px; margin-top: 6px;">Head to the lab in a Tesla Model S P85D ( short commute ) . Check in on engineer friends designing a hydroponic semi-automated farm that will help millions of families grow $400 of food a month with less than 3 hours of effort. Clear up any roadblocks with development. Celebrate some breakthroughs.</div><div style="background-color: white; color: #141823; font-family: helvetica, arial, sans-serif; font-size: 14px; line-height: 19.32px; margin-bottom: 6px; margin-top: 6px;">Lunch: some recipe designed by one of the food engineers with our farm that optimizes protein produced per acre.</div><div style="background-color: white; color: #141823; font-family: helvetica, arial, sans-serif; font-size: 14px; line-height: 19.32px; margin-bottom: 6px; margin-top: 6px;">Head to movie set and see how production is going on a historical fiction film based on the life of William Branham. Shoot my scene. Talk with director and producers and clear up any roadblocks.</div><div style="background-color: white; color: #141823; font-family: helvetica, arial, sans-serif; font-size: 14px; line-height: 19.32px; margin-bottom: 6px; margin-top: 6px;">Go to a house church worship time with my wife. Get more revelation on new inventions and spend an hour reviewing ideas with my quantum mechanics mentor.</div><div style="background-color: white; color: #141823; display: inline; font-family: helvetica, arial, sans-serif; font-size: 14px; line-height: 19.32px; margin-top: 6px;">Head to bed, more sex with my smokin hot wife.</div>