---
layout: post
title: 'Reza Aslan Presentation: Good historical context of Jesus of Nazareth.  '
date: '2015-10-13T12:56:00.001-05:00'
author: Darian Hickman
tags: 
modified_time: '2015-10-13T13:58:59.127-05:00'
blogger_id: tag:blogger.com,1999:blog-6308830.post-6229758737645372728
blogger_orig_url: http://www.darianhickman.com/2015/10/rez-aslan-presentation-good-historical.html
---

I just finished watching Reza Aslan presenting at the Aspen Institute. &nbsp; He's well spoken. &nbsp;He does a good job of explaining the difference between historical Jesus and how Jesus has been redefined in almost every culture on Earth including American Christianity. &nbsp;I don't know how to factcheck everything he said since I don't speak Greek, Hebrew, or Aramaic. &nbsp;He's definitely well studied on Jesus and is a fan of Jesus. &nbsp;None of his presentation though sounds like he's had personal encounter with the living Jesus, or believes the historical account of all the miracles Jesus performed, including His resurrection.<br /><br />His presentation strikes me for three reasons:<br /><ol><li>I just drank a really strong cup of coffee.&nbsp;</li><li>Reza had some kind of God encounter when he was a teenager in an Evangelical Christian setting and went back to Islam a few years later.&nbsp;</li><li>Reza strongly pointed out how much Jesus' wasn't from a family of political influence. &nbsp;He was from a village so small that it didn't even have a synagogue. &nbsp;Jesus was one of several men that claimed to be the Messiah. &nbsp;All of those men were executed for challenging Roman rule in Palestine including Jesus. &nbsp;So what made Jesus stand out from all the other candidate Messiahs? Unfortunately Rez believes it was Jesus' charisma rather than His miracles, His unique, intimate relationship with God the Father.&nbsp;</li></ol>https://www.youtube.com/watch?v=7VOMFjQfJ8w