---
layout: post
title: 'Tech Wishlist: make iMessage complete. '
date: '2015-10-29T15:11:00.001-05:00'
author: Darian Hickman
tags: 
modified_time: '2015-10-29T15:11:40.162-05:00'
blogger_id: tag:blogger.com,1999:blog-6308830.post-8424565497433717059
blogger_orig_url: http://www.darianhickman.com/2015/10/tech-wishlist-make-imessage-complete.html
---

Dear God and Apple,<br />Make iMessage support mms and sms to any phone number not just iOS users.<br />If it's a landline then intercept the error message; convert the message to a voicemail plus a spoken url &nbsp;where any picture or video can be viewed.<br /><br />Right now I have to jump between iMessage and Google Voice. ugh.<br /><br />