---
layout: post
title: 'New fav book: The Righteous Mind by Jonathan Haidt'
date: '2016-02-11T21:23:00.003-05:00'
author: Darian Hickman
tags: 
modified_time: '2016-02-23T20:45:11.411-05:00'
thumbnail: https://i.ytimg.com/vi/ZM9dZZLeyzA/0.jpg
blogger_id: tag:blogger.com,1999:blog-6308830.post-657716357882103214
blogger_orig_url: http://www.darianhickman.com/2016/02/new-fav-book-righteous-mind-by-jonathan.html
---

<div class="article-header" style="display: table; font-family: 'Helvetica Neue Light', HelveticaNeue-Light, 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 14px; margin: 0px; outline: none; padding: 0px; text-align: center; width: 750px;"><h1 class="title entry-title" itemprop="name" style="color: #333333; display: table-cell; font-size: 20px; font-weight: normal; margin: 0px; padding: 0px 40px 0px 0px; position: relative; vertical-align: middle; width: 710px;"><a data-id="7903837425133280722" data-item-type="post" href="http://www.darian.xyz/2016/01/new-fav-book-righteous-mind.html" itemprop="url" rel="bookmark" style="color: #333333; outline: none; text-decoration: none; transition: color 0.3s;">New fav book: The Righteous Mind</a>&nbsp;<span class="blog-admin" style="display: inline;"><a class="edit" href="https://www.blogger.com/post-edit.g?blogID=3228681516194451577&amp;postID=7903837425133280722&amp;from=pencil" style="background-image: url(&quot;data:image/png; background-position: 50% 50%; background-repeat: no-repeat; color: #333333; cursor: pointer; display: inline-block; height: 21px; opacity: 0.8; outline: none; position: relative; text-decoration: none; top: 3px; transition: color 0.3s; width: 21px;" target="_self" title="Edit"></a></span></h1></div><div class="article-content entry-content" itemprop="articleBody" style="clear: both; margin: 10px auto 5px; outline: none; padding: 0px; text-align: justify;"><span style="color: #333333; font-family: &quot;helvetica neue light&quot; , , &quot;helvetica neue&quot; , &quot;helvetica&quot; , &quot;arial&quot; , sans-serif;"><span style="font-size: 14px; line-height: 1.4;">New fav book: The Righteous Mind by&nbsp;</span></span><br /><div style="color: #333333; font-family: 'Helvetica Neue Light', HelveticaNeue-Light, 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 14px; line-height: 1.4; margin: 0px; outline: none; padding: 0px;">Jonathan Haidt great book on morality research. Lots of insight about where political opinions originate and how we decide what behavior by others is acceptable.</div><div style="margin: 0px; outline: none; padding: 0px;"><span style="color: #333333; font-family: &quot;helvetica neue light&quot; , , &quot;helvetica neue&quot; , &quot;helvetica&quot; , &quot;arial&quot; , sans-serif;"><span style="font-size: 14px; line-height: 19.6px;"><a href="http://www.amazon.com/Righteous-Mind-Divided-Politics-Religion/dp/0307455777/ref=sr_1_1?s=books&amp;ie=UTF8&amp;qid=1455243776&amp;sr=1-1&amp;keywords=the+righteous+mind">http://www.amazon.com/Righteous-Mind-Divided-Politics-Religion/dp/0307455777/ref=sr_1_1?s=books&amp;ie=UTF8&amp;qid=1455243776&amp;sr=1-1&amp;keywords=the+righteous+mind</a></span></span></div><div style="color: #333333; font-family: 'Helvetica Neue Light', HelveticaNeue-Light, 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 14px; line-height: 1.4; margin: 0px; outline: none; padding: 0px;"><br />I made a youtube video too:<br /><div class="separator" style="clear: both; text-align: center;"><iframe allowfullscreen="" class="YOUTUBE-iframe-video" data-thumbnail-src="https://i.ytimg.com/vi/ZM9dZZLeyzA/0.jpg" frameborder="0" height="266" src="https://www.youtube.com/embed/ZM9dZZLeyzA?feature=player_embedded" width="320"></iframe></div><br /></div></div>