---
layout: post
title: Fantasitc article on Working Class
date: '2016-11-17T15:45:00.000-05:00'
author: Darian Hickman
tags: 
modified_time: '2017-03-11T18:31:46.444-05:00'
blogger_id: tag:blogger.com,1999:blog-6308830.post-4427148110190851659
blogger_orig_url: http://www.darianhickman.com/2016/11/fantasitc-article-on-working-class.html
---

It's not the main point of the article, but I see in the middle of this essay another signal that it's time to end all income discriminating social programs and replace it with a flat guaranteed income system. <br /><a href="https://hbr.org/2016/11/what-so-many-people-dont-get-about-the-u-s-working-class">https://hbr.org/2016/11/what-so-many-people-dont-get-about-the-u-s-working-class</a><br /><br /><br />