---
layout: post
title: 'Super interesting chart on renewable energy from Google. '
date: '2016-12-14T14:38:00.000-05:00'
author: Darian Hickman
tags: 
modified_time: '2016-12-14T14:38:31.544-05:00'
blogger_id: tag:blogger.com,1999:blog-6308830.post-903301458060922377
blogger_orig_url: http://www.darianhickman.com/2016/12/super-interesting-chart-on-renewable.html
---

<div class="separator" style="clear: both; text-align: center;"><a href="https://www.google.com/intl/en/about/img/values-in-action/article/chart_1x.jpg" imageanchor="1" style="margin-left: 1em; margin-right: 1em;"><img border="0" height="346" src="https://www.google.com/intl/en/about/img/values-in-action/article/chart_1x.jpg" width="640" /></a></div>Google just went 100% renewable energy. &nbsp; I didn't know the US D.O.D. was such a proponent of renewable energy. <br />Full post:&nbsp;https://www.google.com/intl/en/about/values-in-action/renewable/<br /><br />