---
layout: post
title: Insanely cool fruit tree project.
date: '2016-01-16T00:06:00.001-05:00'
author: Darian Hickman
tags: 
modified_time: '2016-01-16T00:06:42.293-05:00'
blogger_id: tag:blogger.com,1999:blog-6308830.post-7158410729970483699
blogger_orig_url: http://www.darianhickman.com/2016/01/insanely-cool-fruit-tree-project.html
---

This professor can grow 40 types of fruit on 1 tree using grafts.<br /><br />https://www.youtube.com/watch?v=ik3l4U_17bI<br /><br />