---
layout: post
title: Is Mark to Market accounting really this dangerous?
date: '2016-11-23T12:44:00.001-05:00'
author: Darian Hickman
tags: 
modified_time: '2016-11-23T12:47:52.708-05:00'
thumbnail: https://i.ytimg.com/vi/RrFSO62p0jk/0.jpg
blogger_id: tag:blogger.com,1999:blog-6308830.post-1437580224221088566
blogger_orig_url: http://www.darianhickman.com/2016/11/is-mark-to-marketing-accounting-really.html
---

<div class="separator" style="clear: both; text-align: center;"><iframe width="320" height="266" class="YOUTUBE-iframe-video" data-thumbnail-src="https://i.ytimg.com/vi/RrFSO62p0jk/0.jpg" src="https://www.youtube.com/embed/RrFSO62p0jk?feature=player_embedded" frameborder="0" allowfullscreen></iframe></div><div>I watched this last night, while plausible it's hard to digest that a simple accounting technique caused so much mayhem.</div><div><br /></div><div><br /></div><a href="https://www.youtube.com/watch?v=RrFSO62p0jk">The real truth about the 2008 financial crisis | Brian S. Wesbury ...</a><br /><br />https://www.youtube.com/watch?v=RrFSO62p0jk<br /><br />Dec 3, 2014 - Uploaded by TEDx Talks<br /><br />This talk was given at a local TEDx event, produced independently of the TED Conferences. The Great ...