---
layout: post
title: 'Insightful talk on Politics and Christian Culture from Kris Valloton '
date: '2016-10-07T19:08:00.002-05:00'
author: Darian Hickman
tags: 
modified_time: '2016-10-07T19:08:30.710-05:00'
blogger_id: tag:blogger.com,1999:blog-6308830.post-1525415164777570693
blogger_orig_url: http://www.darianhickman.com/2016/10/insightful-talk-on-politics-and.html
---

Confession: I usually wince when church leaders start talking about politics. &nbsp;This talk from Kris Valloton delineates the responsibilities of Church and Government when it comes to defining or influencing culture. &nbsp;I agreed with the talk a lot more than I expected.<br /><br />http://podcasts.ibethel.org/en/podcasts/god-government-and-prosperity<br /><br />