---
layout: post
title: 
date: '2016-03-28T08:45:00.000-05:00'
author: Darian Hickman
tags: 
modified_time: '2016-03-28T13:23:42.329-05:00'
blogger_id: tag:blogger.com,1999:blog-6308830.post-1195258770516789283
blogger_orig_url: http://www.darianhickman.com/2016/03/two-disappointing-experiences-with-bank.html
---

Two disappointing experiences with Bank of America. &nbsp;I started an account recently and nearly every day a new fee has popped up. <br /><br />I called Friday and Monday to address the issue. &nbsp;There is no email support or live chat support for business checking. &nbsp;I call in at 9:40am and get a message that the office is closed and to call back after 7am. &nbsp;Super lame. <br /><br /><br />