---
layout: post
title: While Elon is indirectly solving the Middle East conflict, Kimbal is indirectly
  solving the US healthcare crisis.
date: '2016-11-14T22:55:00.000-05:00'
author: Darian Hickman
tags: 
modified_time: '2016-11-14T22:55:52.947-05:00'
blogger_id: tag:blogger.com,1999:blog-6308830.post-1951972108723637930
blogger_orig_url: http://www.darianhickman.com/2016/11/while-elon-is-indirectly-solving-middle.html
---

Two brothers are shaping innovation of the early 21st century: &nbsp;Elon Musk in energy, and multiplanetary travel, Kimbal musk in food.<br /><br />http://www.eater.com/2016/6/29/12013076/kimbal-musk-restaurant-new-kitchen-kitchenette<br /><br />