---
layout: post
title: I think I just discovered I hate modern web design.
date: '2016-10-28T12:54:00.001-05:00'
author: Darian Hickman
tags: 
modified_time: '2016-10-28T12:54:07.913-05:00'
blogger_id: tag:blogger.com,1999:blog-6308830.post-1874744229564736170
blogger_orig_url: http://www.darianhickman.com/2016/10/i-think-i-just-discovered-i-hate-modern.html
---

Way too many tech stacks for basic sites exist to do the same thing with marginal advantages. &nbsp; I've been on Blogger reluctantly for several years now. &nbsp;I watch the cooler templates pass by while my decently fast serving and free choice with custom domain stays in the early 2000's. &nbsp;<br /><br />I just built a Portfolio page using Wix and the studio app is dismally slow to load items. &nbsp;I got excited about the AI to figure out a design automatically. &nbsp;I'm skeptical of the page speed after it's done with pages. &nbsp;Then I noticed that even the basic paid version keeps Wix ads on your page.<br /><br />I also am trying out Wordpress hosted on Wordpress.com and it's slightly cleaner experience but I'm struggling to get the portfolio page I want. &nbsp;I had to dig through templates to figure out how to make the top nav appear. <br /><br />No blog tool seems to intelligently adapt to the image dimensions I add. Both Wordpress and Wix crop photos very strangely when I add them to a Portfolio template. <br /><br />Github Pages looks compelling for speed and simplicity but is completely devoid of features like email capture, and social sharing. &nbsp;I took a few hours to get the basics of Jekyll and Markdown and the simplicity is compelling but it's clear I'll be hand-coding html if I go this route. &nbsp;And if I go hand-code I'm going to be tempted to learn Bootstrap. <br /><br />Good news is that most hosted tools automatically adapt to mobile now. <br /><br />Where is the ultimate small business CMS:<br /><br /><ol><li>Fast ... at least Google App Engine fast.&nbsp;</li><li>Completely hosted</li><li>Secure ... at least Google secure.</li><li>Modern designs ... at least Squarespace modern.&nbsp;</li><li>Captures emails.</li><li>Zero setup social sharing. &nbsp;</li></ol><div>I think that combo could meet the needs of several million small businesses. &nbsp;So that's the summary after a week of trudging through options to compose an web portfolio. &nbsp;&nbsp;</div>