---
layout: post
title: Updated Portfolio Page is Here
date: '2016-10-31T15:57:00.003-05:00'
author: Darian Hickman
tags: 
modified_time: '2016-10-31T15:57:22.676-05:00'
thumbnail: https://2.bp.blogspot.com/-YlYTlVp3aTA/WBev9FsMreI/AAAAAAAAmA0/eLpedSif9IAHTA2U_c17POeJGOvoZXk9gCLcB/s72-c/Screen%2BShot%2B2016-10-31%2Bat%2B4.55.05%2BPM.png
blogger_id: tag:blogger.com,1999:blog-6308830.post-8651633492968456651
blogger_orig_url: http://www.darianhickman.com/2016/10/updated-portfolio-page-is-here.html
---

I recently finished an exploration of technologies to create a portfolio and settled on hosting on Github pages with a Bootstrap template. &nbsp;It will be a hot minute before I get the template between www.darianhickman.com and my portfolio page&nbsp;<a href="https://darianhickman.github.io/">https://darianhickman.github.io/</a> &nbsp;in sync but here it is:<br /><a href="https://darianhickman.github.io/"></a><br /><div class="separator" style="clear: both; text-align: center;"></div><a href="https://darianhickman.github.io/"><br /></a><div class="separator" style="clear: both; text-align: center;"><a href="https://darianhickman.github.io/"><img alt="Darian Hickman Portfolio" border="0" height="408" src="https://2.bp.blogspot.com/-YlYTlVp3aTA/WBev9FsMreI/AAAAAAAAmA0/eLpedSif9IAHTA2U_c17POeJGOvoZXk9gCLcB/s640/Screen%2BShot%2B2016-10-31%2Bat%2B4.55.05%2BPM.png" title="Darian Hickman Portfolio" width="640" /></a></div><br /><br /><br />