---
layout: post
title: 'All economics comes down to spending, whether it''s spending credit or spending
  cash. '
date: '2016-10-02T18:49:00.000-05:00'
author: Darian Hickman
tags: 
modified_time: '2016-10-02T18:49:01.420-05:00'
thumbnail: https://i.ytimg.com/vi/PHe0bXAIuk0/0.jpg
blogger_id: tag:blogger.com,1999:blog-6308830.post-4356532778513434574
blogger_orig_url: http://www.darianhickman.com/2016/10/all-economics-comes-down-to-spending.html
---

<div class="separator" style="clear: both; text-align: center;"><iframe width="320" height="266" class="YOUTUBE-iframe-video" data-thumbnail-src="https://i.ytimg.com/vi/PHe0bXAIuk0/0.jpg" src="https://www.youtube.com/embed/PHe0bXAIuk0?feature=player_embedded" frameborder="0" allowfullscreen></iframe></div><br /><a href="http://www.economicprinciples.org/">http://www.economicprinciples.org/</a><br /><br />