---
layout: post
title: 'New Favorite Book: The WillPower Instinct by Jane McGonigal. '
date: '2016-03-14T01:10:00.000-05:00'
author: Darian Hickman
tags: 
modified_time: '2016-03-14T01:10:24.649-05:00'
blogger_id: tag:blogger.com,1999:blog-6308830.post-5363918579107364627
blogger_orig_url: http://www.darianhickman.com/2016/03/new-favorite-book-willpower-instinct-by.html
---

<a href="https://www.goodreads.com/book/show/10865206-the-willpower-instinct?utm_medium=api&amp;utm_source=blog_book"><img alt="The Willpower Instinct: How Self-Control Works, Why It Matters, and What You Can Do to Get More of It" src="https://d.gr-assets.com/books/1436737104m/10865206.jpg" /></a><br />By chapter 4 of this book it felt like it was reading my mind. 