---
layout: post
title: Roommates Unwanted
date: '2016-10-28T12:10:00.001-05:00'
author: Darian Hickman
tags:
- portfolio
modified_time: '2016-10-28T12:18:01.629-05:00'
thumbnail: https://3.bp.blogspot.com/-xnte4XSX-uI/WA_SK2ys6MI/AAAAAAAAlyA/nFttF_-X41EhgFSJQxdR5Z8Cy7M2vsIyQCPcB/s72-c/roommates%2Bunwanted.jpg
blogger_id: tag:blogger.com,1999:blog-6308830.post-1790291419804261056
blogger_orig_url: http://www.darianhickman.com/2016/10/roommates-unwanted.html
---

<div class="separator" style="clear: both; text-align: center;"><img border="0" height="400" src="https://3.bp.blogspot.com/-xnte4XSX-uI/WA_SK2ys6MI/AAAAAAAAlyA/nFttF_-X41EhgFSJQxdR5Z8Cy7M2vsIyQCPcB/s400/roommates%2Bunwanted.jpg" width="400" /><a href="http://roommatesunwanted.com/" target="_blank">http://roommatesunwanted.com</a></div><br />Darian stars as Laif Doushman III the landlord that "gets things done".<br />Roommates Unwanted (youtube)