---
layout: post
title: Best Electric Skateboard 2017 - (May 2017)
date: '2017-07-04T18:45:00.001-05:00'
author: Darian Hickman
tags: 
modified_time: '2017-07-04T18:45:38.549-05:00'
thumbnail: https://i.ytimg.com/vi/JDshOIs4PIg/default.jpg
blogger_id: tag:blogger.com,1999:blog-6308830.post-6737794109680271982
blogger_orig_url: http://www.darianhickman.com/2017/07/best-electric-skateboard-2017-may-2017.html
---

<iframe allowfullscreen="" frameborder="0" height="270" src="https://www.youtube.com/embed/JDshOIs4PIg" width="480"></iframe><br /><br /><br /><br />I saw one of these going uphill in San Fran recently, and realized this was the future of urban commutes. &nbsp;Before seeing this skateboard, &nbsp;I was following the evolution of ebikes but here's why I think e-skateboards could dominate: <br /><br />1. Bikes are horrible at rush-hour on the metro. &nbsp;Skateboards are much easier to pop out of the way.<br /><br />2. Using e-skateboard while wearing a skirt is probably easier than using an e-bike in a skirt.<br /><br />3. If I'm too tired or too long distance, bringing a skateboard on my Lyft is far easier than my e-bike.<br /><br /><br /><br />Hopefully these features exist on the e-skateboards: <br /><br /><br /><br /><br /><br /><ol><li>Regenerative braking. &nbsp;I'd love for the board to cap the downhill speed at 20 mph and use gravity to recharge the battery. &nbsp;</li><li>Spectra seems to have the features I expect like controlling direction and speed with shifting weight.</li><li>Boosted I think is the one that keeps the motor right in the wheel .... awesome clean design and likely the most efficient. &nbsp;</li></ol><div><br /></div><div>Good job innovators!&nbsp;</div><div><br /></div><div>-Darian</div>