---
layout: post
title: It happened again.... 1000 weeks
date: '2017-07-07T18:24:00.000-05:00'
author: Darian Hickman
tags: 
modified_time: '2017-07-07T18:24:15.601-05:00'
blogger_id: tag:blogger.com,1999:blog-6308830.post-2529606756875758174
blogger_orig_url: http://www.darianhickman.com/2017/07/it-happened-again-1000-weeks.html
---

<header style="background-color: white; border: 0px; box-sizing: border-box; font-stretch: inherit; font-variant-numeric: inherit; line-height: inherit; margin: 0px; padding: 0px; vertical-align: baseline;"><h1 style="border: 0px; box-sizing: border-box; color: inherit; font-family: inherit; font-size: 1.75em; font-stretch: inherit; font-style: inherit; font-variant: inherit; letter-spacing: -0.025em; line-height: 1.3em; margin: 1em 0px; padding: 0px; vertical-align: baseline;">One day when I was in college, I felt the urge to calculate how old I was in weeks and that week just happened to be 1000 weeks old. &nbsp; Today. It happened again. I felt the urge to see how many weeks old I am and it comes out ~2000 weeks old:</h1><div><span style="font-family: Source Sans Pro, sans-serif;"><span style="font-size: 18.6667px;">http://jalu.ch/coding/days/en?year=1979&amp;month=3&amp;day=11&amp;adjust=-1</span></span></div><h1 style="border: 0px; box-sizing: border-box; color: inherit; font-family: inherit; font-size: 1.75em; font-stretch: inherit; font-style: inherit; font-variant: inherit; letter-spacing: -0.025em; line-height: 1.3em; margin: 1em 0px; padding: 0px; vertical-align: baseline;">Your Age in Days</h1><div style="border: 0px; box-sizing: border-box; color: #999999; font-family: inherit; font-size: 1.25em; font-stretch: inherit; font-style: inherit; font-variant: inherit; font-weight: inherit; line-height: inherit; margin-bottom: 1.25em; margin-top: -1.25em; padding: 0px; position: relative; vertical-align: baseline;">Find out your age in days, weeks or months</div></header><span style="background-color: white; font-family: &quot;Source Sans Pro&quot;, sans-serif; font-size: 18.6667px;">Birth date: 1979-03-11 (Mar 11)</span><br style="background-color: white; box-sizing: border-box; font-family: &quot;Source Sans Pro&quot;, sans-serif; font-size: 18.6667px;" /><span style="background-color: white; font-family: &quot;Source Sans Pro&quot;, sans-serif; font-size: 18.6667px;">Today's date: 2017-07-08 (Jul 8)</span><br /><h3 style="background-color: white; border: 0px; box-sizing: border-box; color: #049fe1; font-family: &quot;Source Sans Pro&quot;, sans-serif; font-size: 1.25em; font-stretch: inherit; font-variant-numeric: inherit; letter-spacing: -0.025em; line-height: 1.3em; margin: 1em 0px 0px; padding: 0px; vertical-align: baseline;">You are 13999 days old.</h3><div style="background-color: white; border: 0px; box-sizing: border-box; font-family: &quot;Source Sans Pro&quot;, sans-serif; font-size: 18.6667px; font-stretch: inherit; font-variant-numeric: inherit; line-height: inherit; padding: 0px; vertical-align: baseline;"><b>Which is 1999 weeks and 6 days.</b><br style="box-sizing: border-box;" />That's 38 years and 119 days, including 10 leap days,<br style="box-sizing: border-box;" />or 38 years, 17 weeks and 0 days.<br style="box-sizing: border-box;" /><br style="box-sizing: border-box;" />In other words, that's 459.9 months.<br style="box-sizing: border-box;" />Therefore, you are 38.326 years old.</div>