---
layout: post
title: '90 Minute Ritual is going well. '
date: '2018-02-18T19:50:00.000-05:00'
author: Darian Hickman
tags: 
modified_time: '2018-02-18T19:50:32.921-05:00'
blogger_id: tag:blogger.com,1999:blog-6308830.post-4022994491274237604
blogger_orig_url: http://www.darianhickman.com/2018/02/90-minute-ritual-is-going-well.html
---

I've been thinking about for a long time crafting some kind of daily ritual and packing as many good habits into as possible. So I'm doing a combination of 5 Minute Journal, meditation, reading the Bible, worship, and High Intensity workouts.&nbsp;<br />It's just getting started and blatantly better on the days where I remember to do the 90 minute ritual.&nbsp; Taking a day off didn't really help anything.&nbsp; I think I got the right combo of habits because throughout the day it's easier to execute on things are important but not urgent.<br /><br /><br />