---
layout: post
title: 'Project Wishlist:  Design micro-farm that can output $300 of food per month
  with less then '
date: '2014-08-01T17:28:00.000-05:00'
author: Darian Hickman
tags: 
modified_time: '2014-08-01T17:28:18.977-05:00'
blogger_id: tag:blogger.com,1999:blog-6308830.post-4609187142860191071
blogger_orig_url: https://www.blogger.com/comment.g?blogID=6308830&postID=4609187142860191071
---

<br />Project Wishlist: &nbsp;Design micro-farm that can output $300 of food per month with less then<br /><br />So far I found systems for :<br /><br /><ul><li>leafy greens - FreightFarms.com is the biggest and many others</li><li>spirulina algae - algaelab.org&nbsp;</li><li><br /></li></ul>