---
layout: post
title: Garden Robots coming soon!
date: '2016-11-17T14:27:00.002-05:00'
author: Darian Hickman
tags:
- agriculture
- robots
modified_time: '2016-11-17T14:28:43.758-05:00'
blogger_id: tag:blogger.com,1999:blog-6308830.post-7891146818404921968
---

<a href="https://www.technologyreview.com/s/602836/a-roomba-for-your-garden/?utm_campaign=internal&amp;utm_medium=homepage&amp;utm_source=features_1" target="_blank"><img height="359" src="https://d267cvn3rvuq91.cloudfront.net/i/images/gardenbot_0.jpg?cx=0&amp;cy=0&amp;cw=2760&amp;ch=1552&amp;sw=1200" style="user-select: none;" width="640" /></a><br /><br />The inventor of the Roomba, is developing a bot to weed your garden. &nbsp; In the near future it will be able to test soil, moisture and send garden health updates to your smartphone. <br /><br />