---
layout: post
title: 
date: '2017-08-08T01:44:00.000-05:00'
author: Darian Hickman
tags: 
modified_time: '2017-08-08T01:44:27.029-05:00'
blogger_id: tag:blogger.com,1999:blog-6308830.post-6292587007700319080
blogger_orig_url: https://www.blogger.com/comment.g?blogID=6308830&postID=6292587007700319080
---

http://gizmodo.com/exclusive-heres-the-full-10-page-anti-diversity-screed-1797564320<br /><br />http://sysbiophd.harvard.edu/people/research-areas<br /><br /><br />